._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K {
  padding: 0px 14px 0px 14px;
  background: var(--minimal-dark-blacker-alt);
  box-shadow: none;
  border-top: none;
  border-bottom: 1px solid var(--minimal-dark-border);
  height: 0px;
  transition: .5s ease-out;
  transform: translate(0px, 0px);
  content-visibility: hidden;
}

._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K:hover {
  border-top: none;
  height: auto;
  transition: .5s ease-out;
  padding: 4px 14px 4px 14px;
  content-visibility: visible;
  border-bottom: 1px solid var(--minimal-dark-color);
}