html.friendsui-container.client_chat_frame.fullheight.SavedDimensionsPopup.core body.fullheight.Maximized .FriendsListContent.Panel.Focusable button.createChatRoomButton {
    padding-right: 6px !important;
}

.DropTarget.friendsListContainer.fullheight.Panel.Focusable .FriendsListChatSection.ChatRoomListContainerParent.Collapsed button.createChatRoomButton {
    padding-right: 24px !important;
	transition: .25s ease-out !important;
}