._1ANYFgwMyPpwJjIndAdGSr {
  transform: translate(1px, 27px);
}

._2rlKqvybYupc-uk64cdQ8D {
  transform: translate(1px, 24px);
}

.B-vCdL38RiJlhfSRgZv78 ._3OSZu24hLN7YKjqGi7I2Xp {
  transform: translate(5px, 4px);
}

/* ._2-p7shAZYrRijpaTU9bAFR>div {
  transform: translate(8px, -5px);
} */