._1ANYFgwMyPpwJjIndAdGSr {
    transform: translate(1px, 27px) !important;
}

._2rlKqvybYupc-uk64cdQ8D {
    transform: translate(1px, 24px) !important;
}

.B-vCdL38RiJlhfSRgZv78 ._3OSZu24hLN7YKjqGi7I2Xp {
    transform: translate(5px, 4px) !important;
}

._1LJqx_qFOC8199RBQO5kU8 {
	transform: translate(1px, -230px) !important;
    display: inline-block !important;
}

._1LJqx_qFOC8199RBQO5kU8._31wTtQjCH2ZSKgMiMZLhAM {
    transform: translate(1px, -240px) !important;
}

._1LJqx_qFOC8199RBQO5kU8._1KR40mXc7Z4Dss99aBDbyN {
    transform: translate(1px, -33px) !important;
}

.WYgDg9NyCcMIVuMyZ_NBC:hover ._1LJqx_qFOC8199RBQO5kU8 {
    transform: translate(1px, -230px) !important;
}
