._1ANYFgwMyPpwJjIndAdGSr {
    transform: translate(1px, 27px) !important;
}

._2rlKqvybYupc-uk64cdQ8D {
    transform: translate(1px, 24px) !important;
}

.B-vCdL38RiJlhfSRgZv78 ._3OSZu24hLN7YKjqGi7I2Xp {
    transform: translate(5px, 4px) !important;
}

._1LJqx_qFOC8199RBQO5kU8 {
    transform: translate(-2px, -34px) !important;
    /* display: inline-block !important; */
}

._1LJqx_qFOC8199RBQO5kU8._31wTtQjCH2ZSKgMiMZLhAM {
    transform: translate(0px, -34px) !important;
}

._1LJqx_qFOC8199RBQO5kU8._1KR40mXc7Z4Dss99aBDbyN {
    transform: translate(0px, -34px) !important;
}

.WYgDg9NyCcMIVuMyZ_NBC:hover ._1LJqx_qFOC8199RBQO5kU8 {
    transform: translate(23px, -50px) !important
}
