._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 {
    font-size: 14px !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE {
    margin-top: 1px !important;
}

._1vO6BoiVslZgs1kqDGdUs8._2wgFGloLUdbOVEeIYkuqTp span {
    margin-top: -1px !important;
}

._1vO6BoiVslZgs1kqDGdUs8._2wgFGloLUdbOVEeIYkuqTp span:hover {
    margin-top: -1px !important;
}
