._2_FomluqqgQ2Hx8ON3AVep .wi0pDywRgOCxhG7OqQNaA {
  height: 6px;
  --color-progress-bar-foreground: var(--minimal-dark-progress-bar);
  --color-progress-bar-background: #000000;
  border-radius: 10px;
  transform: translate(-16px, 4px);
  width: 43px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: var(--minimal-dark-corner);
  border-bottom-right-radius: var(--minimal-dark-corner);
}

._1sCy-pm412Smb0wJx0W-4._1-TLiuTZBQNz2fvBGj6aq- {
  font-size: 12px;
  text-align: center;
  width: 21px;
  transform: translate(-28px, 4px);
}