#popup_target .bSKGlAJG2UVWTsntEJY2v {
  font-size: 0px;
  gap: 0;
  padding-right: 0px;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1) {
  width: auto;
  padding-left: 7px;
}

.bSKGlAJG2UVWTsntEJY2v .GG9wVQz6PLlhGHlJyZh4E {
  transform: scale(.84) translate(15px, 0px);
}

.bSKGlAJG2UVWTsntEJY2v .GG9wVQz6PLlhGHlJyZh4E {
  transform: scale(.84) translate(11px, 0px);
}

._2UyOBeiSdBayaFdRa39N2O>div:not(:has(> div)) {
  display: none;
}