._2UyOBeiSdBayaFdRa39N2O {
    padding-left: 19px !important;
}

.bSKGlAJG2UVWTsntEJY2v {
    font-size: 0px !important;
    padding-right: 0px !important;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1) {
    width: auto !important;
    padding-left: 0px !important;
}

.bSKGlAJG2UVWTsntEJY2v .GG9wVQz6PLlhGHlJyZh4E {
    transform: scale(.84) translate(15px, 0px) !important;
}

.bSKGlAJG2UVWTsntEJY2v .GG9wVQz6PLlhGHlJyZh4E {
    transform: scale(.84) translate(11px, 0px) !important;
}

._2UyOBeiSdBayaFdRa39N2O > div:not(:has( > div)) {
  display: none;
}