._39RheXihcN6H2k2muQTjkI ._3fLo166MlaNqP8r8tTyRz ._3Y87YQY56ZCOqhgcZFaDc5.Panel {
    background: transparent !important;
    backdrop-filter: none !important;
    border-radius: var(--minimal_dark_corner) !important;
    border: none !important;
    margin: 30px 1px 30px -8px !important;
    /* width: min-content !important; */
    align-content: center;
    height: 40px !important;
    transition: .25s ease-out !important;
    /* transform: scale(1.1) !important; */
}

._2_86QNCjVvJTL3Qe6Xztx_._2sKVnd_AUg44QSdoAp8Lne {
    border-top: none !important;
}

._3Y87YQY56ZCOqhgcZFaDc5 {
    padding: 10px !important;
}

._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm {
    justify-content: center !important;
    display: flex !important;
    backdrop-filter: none !important;
}

._1YbtIWcfkQJOysLXQbwzRf ._2MBVRXpsw6DUjs7937DWZW {
    justify-content: center !important;
}

._39RheXihcN6H2k2muQTjkI ._3fLo166MlaNqP8r8tTyRz ._3Y87YQY56ZCOqhgcZFaDc5.Panel ._1nxYsdQLxAV_i8JIm-f64w._2sKVnd_AUg44QSdoAp8Lne._1kiZKVbDe-9Ikootk57kpA._3pS8kMrtScuY1Qf-W8tmRV.Panel {
	display: none !important;
}

._39RheXihcN6H2k2muQTjkI ._3fLo166MlaNqP8r8tTyRz ._3Y87YQY56ZCOqhgcZFaDc5.Panel ._9EHg918wH6CQCQlD5PWOO {
    top: -19px !important;
    position: relative !important;
}

._2L3s2nzh7yCnNESfI5_dN1.jnXtv79jL6SXXwlJYPtQz {
    padding: 10px 25% 10px 25% !important;
}

._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm {
    border: 1px solid var(--minimal_dark_be_grey) !important;
    border-radius: var(--minimal_dark_corner) !important;
}

._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm {
    /* margin: 2px; */
    position: relative;
    margin: 300px auto 0;
    width: auto !important;
    height: 80px !important;
}

._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm::before, ._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(to right, var(--minimal_dark_color), transparent, transparent, transparent, transparent, var(--minimal_dark_color), transparent, transparent, transparent, var(--minimal_dark_color));
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: scrolling 20s linear infinite;
    opacity: 0.4;
}

._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm::before {
    background: transparent !important;
}

._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm::after {
	filter: blur(50px);
}

._1YbtIWcfkQJOysLXQbwzRf ._2MBVRXpsw6DUjs7937DWZW ._3rpUkswF6xc_ste4Ros_xM {
    /* white-space: nowrap !important; */
    white-space: normal !important;
    text-align: center !important;
    font-size: 14px !important;
}

@keyframes scrolling {
  0% {
    background-position: 0 center;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 center;
  }
}

._1R9r2OBCxAmtuUVrgBEUBw._2E7G8grj_-tgxXbTXs1t2E._1iNIp1p3ZhPoBwZbkmdb8o {
    display: none !important;
}
