:root {
  /*
  * @name minimal dark background for the entire application
  */
  --minimal-dark-background: #1e1e1e;
  /*
  * @name minimal dark color
  */
  --minimal-dark-color: #808080;
  /*
  * @name minimal dark border
  */
  --minimal-dark-border: #262626;
  /*
  * @name minimal dark border hover
  */
  --minimal-dark-border-hover: #464646;
  /*
  * @name minimal dark popup background
  */
  --minimal-dark-bg-popup: #262626;
  /*
  * @name minimal dark black
  */
  --minimal-dark-black: #1e1e1e;
  /*
  * @name minimal dark blacker
  */
  --minimal-dark-blacker: #191919;
  /*
  * @name minimal dark blacker alt
  */
  --minimal-dark-blacker-alt: #121212;
  /*
  * @name minimal dark blacker alt1
  */
  --minimal-dark-blacker-alt1: #101010;
  /*
  * @name minimal dark blacker alt2
  */
  --minimal-dark-blacker-alt2: #0c0c0c;
  /*
  * @name minimal dark topgrey
  */
  --minimal-dark-topgrey: #8b929a;
  /*
  * @name minimal dark topgrey1
  */
  --minimal-dark-topgrey1: #b9bec4;
  /*
  * @name minimal dark greyblack
  */
  --minimal-dark-greyblack: #2e2e2f;
  /*
  * @name minimal dark invisiblegrey
  */
  --minimal-dark-invisiblegrey: #2d2d2d;
  /*
  * @name minimal dark browser overlay close
  */
  --minimal-dark-browser-overlay-close: #a0de63;
  /*
  * @name minimal dark red2
  */
  --minimal-dark-red2: #f12446;
    /*
  * @name minimal dark red2
  */
  --minimal-dark-red2-rgba: #f12446;
  /*
  * @name minimal dark redsettings
  */
  --minimal-dark-redsettings: #bf3d3d;
  /*
  * @name minimal dark greensettings
  */
  --minimal-dark-greensettings: #5aa05a;
  /*
  * @name minimal dark status green
  */
  --minimal-dark-status-green: #06e39d;
  /*
  * @name minimal dark less white
  */
  --minimal-dark-less-white: #dcdcdc;
  /*
  * @name minimal dark progress bar
  */
  --minimal-dark-progress-bar: #21d083;
  /*
  * @name minimal dark currency
  */
  --minimal-dark-currency: #d6d6df;
  /*
  * @name minimal dark installed games
  */
  --minimal-dark-installed-games: #d6cab7;
  /*
  * @name minimal dark left side game header gradient in library sidebar
  */
  --minimal-dark-sidebar-game-header-gradient-1: #121212;
  /*
  * @name minimal dark right side game header gradient in library sidebar
  */
  --minimal-dark-sidebar-game-header-gradient-2: #121212;
  /*
  * @name minimal dark left side game gradient in library sidebar
  */
  --minimal-dark-sidebar-game-gradient-1: #121212;
  /*
  * @name minimal dark right side game gradient in library sidebar
  */
  --minimal-dark-sidebar-game-gradient-2: #121212;
  /*
  * @name minimal dark topbar selected tab color
  */
  --minimal-dark-topbar-selected-tab: #ffffff;
}