:root { 

/* chose your skin color */
--minimal_dark_color: #1a9fff !important; /* example for cyan : #20eabf !important; - default color is blue (#1a9fff) ; to apply your color, use https://htmlcolorcodes.com. */
--minimal_dark_color_rgba: 26,159,255 !important; /* example for cyan : 32,234,191 !important; - default color is blue (26,159,255) ; also change this value by converting your chosen hexadecimal color code to rgba (https://rgbacolorpicker.com/hex-to-rgba) */

/* global colors */
--minimal_dark_be_grey: #262626;
--minimal_dark_black: #1e1e1e;
--minimal_dark_blacker: #191919;
--minimal_dark_blacker_alt: #121212;
--minimal_dark_blacker_alt1: #101010;
--minimal_dark_blacker_alt2: #0c0c0c;
--minimal_dark_topgrey: #8b929a;
--minimal_dark_greyblack: #2e2e2f;
--minimal_dark_invisiblegrey: rgba(45, 45, 45, 0.25);
--minimal_dark_browser_overlay_close: #a0de63;
--minimal_dark_red2: #f12446;
--minimal_dark_red2_rgba: 241,36,70,1;
--minimal_dark_redsettings: #bf3d3d;
--minimal_dark_greensettings: #5aa05a;
--minimal_dark_status_green: #06e39d;
--minimal_dark_less_white: #dcdcdc;

/* others */
--minimal_dark_progress_bar: #21d083; /* progress bar color sidebar/topbar */
--minimal_dark_currency: #d6d6df; /* custom color for top bar user name currency - default color #d6d6df  */
--minimal_dark_installed_games: #d6cab7; /* installed games color - modify this value to change the color. Type 'none;' for same color for all games */
--minimal_dark_bgb: radial-gradient(circle, rgba(66,186,216,1) 0%, rgba(66,143,216,1) 100%);
--minimal_dark_bgg: radial-gradient(circle, rgba(97,233,138,1) 0%, rgba(66,188,140,1) 80%);

/* svg replacement : https://thenounproject.com/ */
--minimal_dark_game: url("./resources/game.svg");
--minimal_dark_contact: url("./resources/contact.svg");
--minimal_dark_help: url("./resources/help.svg");
--minimal_dark_home: url("./resources/home.svg");
--minimal_dark_download: url("./resources/download.svg");
--minimal_dark_display: url("./resources/display.svg");
--minimal_dark_market: url("./resources/market_reduce_price.svg");

--minimal_dark_minbutton: url("./resources/minbutton.svg");
--minimal_dark_maxbutton: url("./resources/maxbutton.svg");
--minimal_dark_closebutton: url("./resources/closebutton.svg");
--minimal_dark_restorebutton: url("./resources/restorebutton.svg");
--minimal_dark_searchbutton: url("./resources/search.svg");

}
