.Z6wLCsR5it0hjFblgrb6 {
    overflow: hidden;
    flex-grow: 1;
    background-color: var(--minimal_dark_blacker_alt);
}

._1VNuYHM6BPBOJspC6zPf5r:hover, ._1VNuYHM6BPBOJspC6zPf5r._3-SbBb63lDnu6LzKV-q3Cg {
    background-color: var(--minimal_dark_black);
    border-radius: 2px;
}

._1VNuYHM6BPBOJspC6zPf5r {
    border: 0px solid var(--minimal_dark_blacker_alt) !important;
}

._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg {
    background-color: var(--minimal_dark_blacker_alt) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:enabled, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:active, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:enabled:active:hover, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled {
    background: var(--minimal_dark_blacker) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:hover {
	background: var(--minimal_dark_black) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1VNuYHM6BPBOJspC6zPf5r:hover, ._1VNuYHM6BPBOJspC6zPf5r._3-SbBb63lDnu6LzKV-q3Cg {
    background-color: var(--minimal_dark_blacker);
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1GdR5LbENV7LOGROJBxohI._1GdR5LbENV7LOGROJBxohI.DialogButton:enabled {
    background: var(--minimal_dark_blacker) !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1GdR5LbENV7LOGROJBxohI._1GdR5LbENV7LOGROJBxohI:hover.DialogButton:enabled {
    background: var(--minimal_dark_red) !important;
    color: #fff;
    box-shadow: none;
}

._1GdR5LbENV7LOGROJBxohI._1GdR5LbENV7LOGROJBxohI:active.DialogButton:enabled {
    background: var(--minimal_dark_red2) !important;
    color: #fff;
    box-shadow: inset 0px 0px 4px black;
}

._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:enabled, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:active, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:hover, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:enabled:active:hover, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC.DialogButton:enabled {
    background: var(--minimal_dark_invisblegrey) !important;
    color: #dcdedf;
}

._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:hover {
    background: var(--minimal_dark_invisblegrey);
}

.IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi {
	border-bottom: 2px solid var(--minimal_dark_blacker_alt) !important;
	border-top: 4px solid var(--minimal_dark_blacker_alt) !important;
	border-left: 4px solid var(--minimal_dark_blacker_alt) !important;
	border-right: 4px solid var(--minimal_dark_blacker_alt) !important;
}

.IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi:hover {
    border-bottom: 2px solid var(--minimal_dark_color) !important;
}

._1VNuYHM6BPBOJspC6zPf5r:hover ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled {
    background: transparent !important;
	fill: var(--minimal_dar_color) !important;
}

button.DialogButton::before {
	box-shadow: none !important;
}

._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled {
    background: transparent !important;
}

._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled:hover, ._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled:focus {
    background: none !important;
    color: var(--minimal_dark_color) !important;
}

._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled._2xR-V97DWI7svSjgiCb3N-:hover {
    color: var(--minimal_dark_redsettings) !important;
}

._1VNuYHM6BPBOJspC6zPf5r ._14DhZoqwtCm4l0yDeN6QZe {
    color: var(--minimal_dark_color) !important;
}

._12UNIdjT-Kv1ib31jk6J37 {
    margin-bottom: 8px !important;
	margin-top: 8px !important;
}

._1KHOCigl8AaK2eHxQqPMlc {
    width: 220px !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_invisblegrey) !important;
	background-color: #12121259 !important;
}

._3KDkLoCR8OM8xfdQysKn9t {
    background-color: var(--minimal_dark_blacker_alt) !important;
}

.SEmVpmXrYVl3OxL1sDFTg {
    background: var(--minimal_dark_color) !important;
}

._1KHOCigl8AaK2eHxQqPMlc ._2RX1dsh68v-P0H9Am9Ufy1 ._2HOH927_SBdi8J559aStH6 {
    color: var(--minimal_dark_color) !important;
}

._1KHOCigl8AaK2eHxQqPMlc ._2RX1dsh68v-P0H9Am9Ufy1 ._3ddJwYxqm61xYwptGOh8Me {
    color: var(--minimal_dark_color) !important;
}
