.downloads_ItemListScrollWrapper_Z6wLC {
    overflow: hidden;
    flex-grow: 1;
    background-color: var(--minimal_dark_blacker_alt);
}

.downloads_SectionItem_1VNuY:hover, .downloads_SectionItem_1VNuY.downloads_Dragging_3-SbB {
    background-color: var(--minimal_dark_black);
    border-radius: 2px;
}

.downloads_SectionItem_1VNuY .downloads_Button_3oavR, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:enabled, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:active, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:hover, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:enabled:active:hover, .downloads_SectionItem_1VNuY .downloads_Button_3oavR.DialogButton:enabled {
    background: var(--minimal_dark_be_grey);
}

.downloads_SectionItem_1VNuY:hover, .downloads_SectionItem_1VNuY.downloads_Dragging_3-SbB {
    background-color: var(--minimal_dark_black);
    border-radius: 5px;
}

.downloads_RemoveAllButton_1GdR5.downloads_RemoveAllButton_1GdR5.DialogButton:enabled {
    background: var(--minimal_dark_blacker);
    border-radius: 50px !important;
}

.downloads_RemoveAllButton_1GdR5.downloads_RemoveAllButton_1GdR5:hover.DialogButton:enabled {
    background: var(--minimal_dark_red);
    color: #fff;
    box-shadow: none;
}

.downloads_RemoveAllButton_1GdR5.downloads_RemoveAllButton_1GdR5:active.DialogButton:enabled {
    background: var(--minimal_dark_red2);
    color: #fff;
    box-shadow: inset 0px 0px 4px black;
}

.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:enabled, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:active, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:hover, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:enabled:active:hover, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8.DialogButton:enabled {
    background: var(--minimal_dark_invisblegrey);
    color: #dcdedf;
}

.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:hover {
    background: var(--minimal_dark_invisblegrey);
}

.downloads_Active_IbePL .downloads_SectionList_OINnO {
    border-bottom: 1px solid var(--minimal_dark_browser_overlay_close) !important;
}

.downloads_SectionItem_1VNuY:hover .downloads_Button_3oavR.DialogButton:enabled {
    background: transparent !important;
	fill: var(--minimal_dar_color) !important;
}

button.DialogButton::before {
	box-shadow: none !important;
}

.downloads_SectionItem_1VNuY.downloads_Active_IbePL .downloads_Button_3oavR.DialogButton:enabled {
    background: transparent !important;
}

.downloads_SectionItem_1VNuY.downloads_Active_IbePL .downloads_Button_3oavR.DialogButton:enabled:hover, .downloads_SectionItem_1VNuY.downloads_Active_IbePL .downloads_Button_3oavR.DialogButton:enabled:focus {
    background: none !important;
    color: var(--minimal_dark_color) !important;
}

.downloads_SectionItem_1VNuY.downloads_Active_IbePL .downloads_Button_3oavR.DialogButton:enabled.downloads_RemoveFromQueue_2xR-V:hover {
    color: var(--minimal_dark_redsettings) !important;
}
