._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa {
    box-sizing: border-box;
    display: block;
    height: 450px;
    width: 100%;
    backdrop-filter: blur(10px);
    background: none;
    background-color: #12121294;
    z-index: 0;
}

._2OOzYVWIHaKXm6_7sscT9i .OhSdLYuggDtBcWjYP0j_9 {
    background: transparent;
    backdrop-filter: blur(10px);
}

._3LE-6w1ItIAB4CKJFCa3Od {
    box-sizing: border-box;
    width: 100%;
    padding-left: 8px;
    padding-right: 10px;
    background-color: transparent;
    color: #969696;
    font-size: 13px;
    font-weight: 200;
}

._2SAb6geDpe6toA1GaP0GjH {
    background-color: transparent;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

._2OOzYVWIHaKXm6_7sscT9i .OhSdLYuggDtBcWjYP0j_9 {
    /* background: #121212ab; */
    backdrop-filter: blur(10px);
}

.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT {
    background: transparent;
    border-image-width: 1px;
    border-image-repeat: stretch;
    border-image-slice: 7;
    box-shadow: none;
    margin-left: 12px;
}

._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm {
    backdrop-filter: blur(10px) !important;
    background: var(--minimal_dark_blacker_alt) !important;
    margin-top: -1px !important;
    padding-top: 0px !important;
    border-top: 1px solid var(--minimal_dark_be_grey) !important;
}

._2_86QNCjVvJTL3Qe6Xztx_._2sKVnd_AUg44QSdoAp8Lne {
    opacity: 1;
    border-top: 1px solid var(--minimal_dark_be_grey) !important;
    background: transparent !important;
    width: 99.4% !important;
}

._1YbtIWcfkQJOysLXQbwzRf ._2MBVRXpsw6DUjs7937DWZW ._1iNIp1p3ZhPoBwZbkmdb8o {
    border-radius: 5px !important;
}

._1YbtIWcfkQJOysLXQbwzRf ._2MBVRXpsw6DUjs7937DWZW {
    height: 34px !important;
}

._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t {
    border-image-width: 1px;
    border-image-repeat: stretch;
    border-image-slice: 7;
    background: none;
    box-shadow: none;
    border-radius: 5px !important;
}

._38t1mljBjmJfqjpVzMT1CG {
    background: transparent;
    box-shadow: none;
    padding: 10px;
    font-size: 13px;
    color: #ccc;
    position: relative;
    margin-bottom: 8px;
    border-radius: 2px;
}

._2AzIX5kl9k6JnxLfR5H4kX {
    background: transparent !important;
    transform: scale(0.75, 0.75) translate(0px, 3px) !important;
    border-radius: 10px;
    box-shadow: 0px 1px 30px 1px rgba(0,0,0,.2);
}

:not(._1Pb6PMh_3L5p5NzuUz0Pp9) > ._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX:hover {
    background-image: var(--minimal_dark_bgg) !important;
    border: 2px solid rgba(62,64,71,0.50);
    transform: scale(0.75, 0.75) translate(0px, 3px) !important;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    box-shadow: none !important;
    border-radius: 50px !important;
    transition: 1s ease-out !important;
}

:not(._1Pb6PMh_3L5p5NzuUz0Pp9) > ._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX:active {
    background-image: var(--minimal_dark_bgg) !important;
    border: 2px solid rgba(62,64,71,0.50);
    transform: scale(0.73, 0.73) translate(0px, 3px) !important;
    box-shadow: inset 0px 2px 4px #000000ab !important;
	border-radius: 50px !important;
}

:not(._1Pb6PMh_3L5p5NzuUz0Pp9) > ._2AzIX5kl9k6JnxLfR5H4kX:hover {
    background-image: var(--minimal_dark_bgb) !important;
    border: 2px solid rgba(62,64,71,0.10);
    transform: scale(0.75, 0.75) translate(0px, 3px) !important;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    box-shadow: none !important;
    border-radius: 50px !important;
    transition: 1s ease-out !important;
}

:not(._1Pb6PMh_3L5p5NzuUz0Pp9) > ._2AzIX5kl9k6JnxLfR5H4kX:active {
    background-image: var(--minimal_dark_bgb) !important;
    border: 2px solid rgba(62,64,71,0.50);
    transform: scale(0.73, 0.73) translate(0px, 3px) !important;
    box-shadow: inset 0px 2px 4px #000000ab !important;
	border-radius: 50px !important;
}

._1hhB2Wf7iExA15zh_lDQ_y ._3ydigb6zZAjJ0JCDgHwSYA {
    border-radius: 50px !important;
    margin-top: -4px;
	border: 2px solid #8b929a29 !important;
}

._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX {
    border-radius: 10px !important;
    border: 2px solid #8b929a29 !important;
    margin-top: -2px !important;
    transition: .25s ease-out !important;
}

._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi {
    display: none;
}

._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX svg {
    fill: white;
}

:not(._1Pb6PMh_3L5p5NzuUz0Pp9) > ._2AzIX5kl9k6JnxLfR5H4kX svg {
    color: white;
    fill: white;
}

._2meE3N6-Wkw3yQUVtQK-i8._2meE3N6-Wkw3yQUVtQK-i8 {
    overflow: visible;
    max-height: 320px;
    display: flex;
    justify-content: center;
    border-top: 0px solid var(--minimal_dark_be_grey);
}

._1AYE16384J_ecLpN0sEYc5 {
    border-image-width: 1px;
    border-image-repeat: stretch;
    border-image-slice: 7;
    box-shadow: none;
    background: #58333300;
}

._3QRf-tp5VddAF00vWY5Gn8 {
    font-size: 13px;
    border-image-width: 1px;
    border-image-repeat: stretch;
    border-image-slice: 7;
    box-shadow: 0 0 12px #00000025;
    background: transparent;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.wgbDI6To-SKawn9wQwVaw {
    height: 170px;
    background: transparent;
    position: relative;
    padding: 10px 0px 5px 0px;
    border-radius: 3px;
}

._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi {
    background: linear-gradient(to right, #235ecf 0%, #235ecf 60%);
    background-position: 0%;
    background-size: 330% 100%;
    display: none;
}

._3ns9185LizH61StaAXuAp6 ._3Rm36_oeAhvIg6ZYP9l1Jj {
    background: var(--minimal_dark_color);
    border-radius: 10px;
    height: 100%;
}

._25YVDTaClw6Y2COPsU0UaV ._1FnTqlsi2_-TJf1d5apoS6 {
    background-color: var(--minimal_dark_color);
    border-radius: 10px;
    height: 100%;
    transition-property: width;
    transition-duration: .1s;
    transition-timing-function: linear;
}

a._1Z3B4iGT48X6pYKxjbVdBO:hover {
    background-color: var(--minimal_dark_invisblegrey);
    color: #fff;
}

._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw {
    background-image: linear-gradient(0deg, rgba(8,8,8,1) 0%, rgba(8,8,8,0) 100%, rgba(0,0,0,0) 100%);
}

._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw {
    background: var(--minimal_dark_blacker_alt);
}

._3QS6OBHpvI5bXsSQA2zQuW {
    background-color: var(--minimal_dark_blacker) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
    border-radius: 5px !important;
}

._3QS6OBHpvI5bXsSQA2zQuW:hover {
    background-color: var(--minimal_dark_blacker) !important;
    border: 1px solid var(--minimal_dark_color) !important;
    border-radius: 5px !important;
}

._-85o5-M_cGo-fefOuWwER .l0pbvMApUzYaf32F51pIO {
    margin-left: 6px;
    flex: 1 1 auto;
    overflow: hidden;
    background: var(--minimal_dark_blacker_alt);
}

._-85o5-M_cGo-fefOuWwER ._1dJuvQ4rvlB0q8vmLJH3l2 {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    background: var(--minimal_dark_blacker_alt);
    border-radius: 2px;
    position: relative;
}

button.DialogButton._3Cdin80d-hVsakHUZboheb._3nJyYxGQ3kdwwabPmxNnMe:hover {
    background-color: var(--minimal_dark_invisblegrey);
    cursor: pointer;
}

.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ:hover {
    background-color: var(--minimal_dark_transparent);
    cursor: pointer;
}

.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ:active {
    background-color: var(--minimal_dark_transparent);
    cursor: pointer;
}

button.DialogButton._3Cdin80d-hVsakHUZboheb.Q7tULXy1gQNG1eU--hN27:hover {
    background-color: var(--minimal_dark_blacker);
    color: #fff;
    cursor: pointer;
}

._1HZy7BvOZuPT8feUwadL4W {
    background: var(--minimal_dark_invisblegrey) !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

._1HZy7BvOZuPT8feUwadL4W:hover {
    background: var(--minimal_dark_invisblegrey) !important;
    border-radius: 5px !important;
    border: 1px solid rgba(var(--minimal_dark_color_rgba),.4) !important;
}

._3QRf-tp5VddAF00vWY5Gn8:hover {
    background: rgb(45 45 45 / 35%);
    cursor: pointer;
}

.LclHwcOfHFpwObYMD1HLa {
    background: var(--minimal_dark_blacker_alt);
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: #fff;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._134yW7SKfZYwmvwlUElGx- {
    background: transparent;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._134yW7SKfZYwmvwlUElGx- ._3DEhfTvEKwgLd4smd6QdaU {
    background: var(--minimal_dark_blacker);
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._134yW7SKfZYwmvwlUElGx- ._3DEhfTvEKwgLd4smd6QdaU:hover {
    background: var(--minimal_dark_be_grey);
}

.LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 ._3EWVuoln1WAvpEaPNfpift:hover, .LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 ._1d8CbcBnA6t3lsxYdnMv1h:hover {
    background: var(--minimal_dark_be_grey);
}

.LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 ._3EWVuoln1WAvpEaPNfpift, .LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 ._1d8CbcBnA6t3lsxYdnMv1h {
    background: var(--minimal_dark_black);
}

button.DialogButton._3Cdin80d-hVsakHUZboheb.SLpyhiN-Dagi3V8ZKukaK:hover {
    background-color: var(--minimal_dark_invisblegrey);
    color: #fff;
    cursor: pointer;
}

._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X {
    border: 1px solid var(--minimal_dark_greyblack);
    background: var(--minimal_dark_invisblegrey);
}

._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X:focus {
    outline: none;
    background: rgb(25 26 27 / 25%);
    box-shadow: inset 1px 1px 6px rgba(0,0,0,.4);
}

._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 button.bACIuqv-b_9TztCczFK19 {
    background-color: var(--minimal_dark_invisblegrey);
}

._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 button.bACIuqv-b_9TztCczFK19:hover {
    background-color: var(--minimal_dark_invisblegrey);
    color: #fff;
}

._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 ._2JSyABqFEh-v_dwaTnBydR {
    background-color: var(--minimal_dark_invisblegrey);
    border-radius: 5px !important;
	height: 10px !important;
    border: 1px solid var(--minimal_dark_invisblegrey) !important;
}

._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 ._2JSyABqFEh-v_dwaTnBydR.bGfjajFo4DI-ULSQxw1KY {
    background: var(--minimal_dark_bgb) !important;
    height: 10px !important;
    border: 1px solid var(--minimal_dark_invisblegrey) !important;
	border-radius: 5px !important;
}

._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 ._2JSyABqFEh-v_dwaTnBydR.bGfjajFo4DI-ULSQxw1KY ._3jvEkfXhmZjvEbkpEv5EsH {
    color: #fff;
    text-shadow: 1px 1px 2px black !important;
    transform: translate(0px, -4px) !important;
}

._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 ._2JSyABqFEh-v_dwaTnBydR ._3jvEkfXhmZjvEbkpEv5EsH {
    transform: translate(0px, -4px) !important;
}

._3B1SUx7hDHl_0zpJXbJMcC {
    top: 8% !important;
}

._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 .bACIuqv-b_9TztCczFK19 {
    height: 34px !important;
}

._1EC1xjjUGqI7fqX6PVzJA3:hover {
    background-color: var(--minimal_dark_invisblegrey);
    color: #fff;
}

._2ECxA7DssltvN31qKFJTTn:active {
    background-image: var(--minimal_dark_bgg) !important;
    color: #fff;
    box-shadow: inset 2px 2px 15px rgba(0,0,0,.5);
    cursor: pointer;
    box-shadow: inset 0px 3px 10px #000000ab !important;
}

._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 ._2JSyABqFEh-v_dwaTnBydR {
    background-color: var(--minimal_dark_invisblegrey);
}

.btn_blue_steamui > span {
    background-image: var(--minimal_dark_bgb) !important;
}

.DesktopUI ._3FS5uBh6SB9gq4vjbnKa4G {
    position: relative;
    background: var(--minimal_dark_blacker);
    padding-bottom: 0px;
}

._3FS5uBh6SB9gq4vjbnKa4G .DialogButton.vTxP0b5pSF_NU1I-YRgmQ {
    background: var(--minimal_dark_bgg) !important;
}
	
._2A8NghNvAnMQQTHsudFu7H {
    width: 44px;
    min-width: 44px;
    flex-basis: 44px;
    height: 44px;
    color: var(--minimal_dark_color);
    margin-left: 12px;
}

._2L06P_EWxoS_20kC2eNCQl {
    color: var(--minimal_dark_color);
}

._8tm4KhHFNHvzsiuuyHgld {
    color: rgba(var(--minimal_dark_color_rgba),0.80);
}

._2aVnDeExEHiUFX0zwr_BTO {
    background-color: #26262680;
    border-radius: 5px !important;
    backdrop-filter: blur(25px) !important;
}

._1kCN0pAntrcGCSmcc-vYdk {
    background: var(--minimal_dark_invisblegrey);
    color: white;
    border-radius: 5px !important;
    transform: scale(0.9);
}

._2Jkk-4RGWzhce22lSnA9Em._32G01cdyGED_NiCadEgWAL {
    transform: rotate(180deg) scaleX(-1);
    fill: var(--minimal_dark_red2);
}

._2Jkk-4RGWzhce22lSnA9Em {
    fill: var(--minimal_dark_progress_bar);
}

._1kCN0pAntrcGCSmcc-vYdk:not(.Z3L6KGVxi4ZjGUzbYUjBC):hover {
    background: var(--minimal_dark_invisblegrey);
    box-shadow: 0px 0px 1px 1px rgba(var(--minimal_dark_color_rgba),.1) !important;
}

._2SAb6geDpe6toA1GaP0GjH ._2aeAnRfwltWfd9Hb9M_1uE .qX4kNo6O0M-mYntdErKSJ {
    color: var(--minimal_dark_color);
    font-weight: 500;
}

._1UXC2lGcmNTGepRJTwtuH0 {
    background-color: transparent;
}

._3FQHgRosfNJYE44Fsd_U6z {
    background-color: var(--minimal_dark_blacker_alt) !important;
}

.ODpLjkbgMnhnQTcm8ZCMO ._3Fjw7Sm_QUgOr8r3khWTSm {
    backdrop-filter: brightness(60%) blur(20px);
    background: transparent;
}

._3IBLc81yyL08OJ7rfKtF00._31ZleDJpmmVr6YwR5VLHiu ._2JobstxtZVYF3078DblN2M::before, ._2JobstxtZVYF3078DblN2M._1jNhbFODJy7sNdcnEeZkz4::before {
    backdrop-filter: blur(0px) !important;
    background: transparent;
}

._2Kmn7fJOkLT4KyWl467a9M {
    background-color: #1e1e1e70 !important;
    border-radius: 5px;
    backdrop-filter: blur(25px) !important;
}

._3I3IMjI1KLE-MxCViJ_6Np ._1X4dtbZ_AMX_DXT-SGiK01.DesktopUI, .DesktopUI ._3I3IMjI1KLE-MxCViJ_6Np ._1X4dtbZ_AMX_DXT-SGiK01 {
    clip: initial;
    background: var(--minimal_dark_blacker_alt);
}

._1bCHNUX_0WHTI1fch_8K5R div {
    background: linear-gradient(to bottom, rgba(var(--minimal_dark_color_rgba), .75), var(--minimal_dark_black) 100%);
    backdrop-filter: blur(50px);
}

._1bCHNUX_0WHTI1fch_8K5R {
    color: white;
}

._1bCHNUX_0WHTI1fch_8K5R:hover._2ZDSm-WsZGK4__4WaKV-mY {
    filter: brightness(1.5);
}

._3ns9185LizH61StaAXuAp6 {
    background-color: var(--minimal_dark_blacker_alt) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
    border-radius: 10px !important;
    padding: 1px !important;
}

._25YVDTaClw6Y2COPsU0UaV {
    background-color: var(--minimal_dark_blacker_alt) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._3-V8vjmrwuJM6Ws3tsjFJj ._25f0fX6qbgdB7O_lMrbhCN {
    padding: 0px 10px 0px 10px !important;
}

._5uvIN6jXDXzzck59F-nhv {
    border: 1px solid var(--minimal_dark_invisblegrey) !important;
    border-radius: 5px;
    background: #12121236;
    backdrop-filter: blur(10px);
	padding: 6px !important;
}

.S2Fu9HxHCA5MaCLGrN2ib ._19LfMT7PFWg2xHOqNjR99q {
    color: var(--minimal_dark_color);
}

.S2Fu9HxHCA5MaCLGrN2ib ._19LfMT7PFWg2xHOqNjR99q ._3pcPRPvuGH7hEM33zLknZO {
    background: linear-gradient(90deg, rgba(var(--minimal_dark_color_rgba),1) 0%, rgba(26,26,26,0) 75%, rgba(33,33,33,0) 100%) !important;
}

.LibriMVXcLl1HB60ZUp78 {
    border-radius: 5px !important;
}

._2tDv0EeJIdDmZLyfUE63t1 {
    border-radius: 5px !important;
}

._3oMUSjOFNB0E9LWcL2sE7 {
    /* background: linear-gradient(to right, rgba(var(--minimal_dark_color_rgba), 0) 0%, rgba(var(--minimal_dark_color_rgba), .25) 18px, rgba(var(--minimal_dark_color_rgba), .5) 18px, rgba(var(--minimal_dark_color_rgba), 1) 22px) !important; */
    background: none !important;
}

._39Zk32AvV5cr6g-83IVRVS {
    border: 1px solid var(--minimal_dark_color) !important;
    border-image: none !important;
    background: linear-gradient(to right, rgba(var(--minimal_dark_color_rgba), 0) 0%, rgba(var(--minimal_dark_color_rgba), .5) 18px, rgba(var(--minimal_dark_color_rgba), 1) 50%, rgba(var(--minimal_dark_color_rgba), .5) 100%) !important;
    border-radius: 5px !important;
}

._29bW1yCn25VTm4bFameBaV {
    color: var(--minimal_dark_color) !important;
}

.UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C {
    border: 1px solid var(--minimal_dark_color) !important;
    border-image: none !important;
    background: rgba(var(--minimal_dark_color_rgba),.05) !important;
    border-radius: 5px !important;
}

.UVeN0kaD3zv1feMj_mMw5 ._1WdC0YUP8FT0dYWZ-QIVZL {
    background: linear-gradient(to right, rgba(var(--minimal_dark_color_rgba), .5) 0%, rgba(var(--minimal_dark_color_rgba), .5) 0% 18px, rgba(var(--minimal_dark_color_rgba), .5) 0% 50%, rgba(var(--minimal_dark_color_rgba), .5) 0% 100%) !important;
	border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.By7D93oEZkZtBeg23NDoR._1AYE16384J_ecLpN0sEYc5.UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C:hover {
    background: rgba(var(--minimal_dark_color_rgba),.25) !important;
}

.LibriMVXcLl1HB60ZUp78:hover {
    background: rgba(var(--minimal_dark_color_rgba),.25) !important;
}

._2UySYiE8fUGGugkHVm1Qb ._2kqz-bSlDu-I49_cV_wicB {
    background: radial-gradient(100% 80% at 64% 95%, rgba(107, 115, 127, 0.3) 0%, rgba(78, 62, 80, 0.5) 20%, rgba(36, 40, 47, 0.5) 100%);
    border: 1px solid #ad65ba !important;
    border-image: none !important;
    border-radius: 5px !important;
}

._2lNdDLgjQdeBXmMlPO8lvq {
    background: radial-gradient(circle at 0% 20%, rgba(33,33,33,0) 0%, rgba(34, 34, 39, 0) 20%),linear-gradient(to bottom, rgba(var(--minimal_dark_color_rgba),1) 0%, rgba(33,33,33,0) 2px, rgba(33,33,33,0) 50%, rgba(33,33,33,0) 100%);
    color: var(--minimal_dark_topgrey) !important;
}

._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4 {
    background-color: #121212c7 !important;
    border-radius: 10px !important;
    backdrop-filter: blur(30px) !important;
    border: 1px solid var(--minimal_dark_greyblack) !important;
}

._1ul9ZRBfhF0vyj-hrit6nU {
    background: none !important;
}

.CwZqp0ZwInfY8H9jUO4Xy {
    background-color: transparent !important;
}

.CwZqp0ZwInfY8H9jUO4Xy:hover {
    background-color: transparent !important;
}

.S2Fu9HxHCA5MaCLGrN2ib ._19LfMT7PFWg2xHOqNjR99q {
    margin-left: 15px !important;
}

.UVeN0kaD3zv1feMj_mMw5 .QCKBqF2k_sRLcXJ5qQIEl {
    margin-left: 15px !important;
}

._1aP1bu_l_kDbKMN7XDNmzg ._3uabislt81gdMksbxzc-iN {
    background: #1515155e !important;
    backdrop-filter: blur(10px) !important;
	border-right: 1px solid var(--minimal_dark_invisblegrey) !important;
	border-top: 1px solid var(--minimal_dark_invisblegrey) !important
}

._3yTl3RiWfo-Itg-xp967wP ._39ZurKJQex6v69aXzvc_nj {
    padding: 2px 10px !important;
    margin-bottom: 10px !important;
    background: var(--minimal_dark_invisblegrey) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._3yTl3RiWfo-Itg-xp967wP ._39ZurKJQex6v69aXzvc_nj:hover {
    background: var(--minimal_dark_invisblegrey) !important;
    border: 1px solid var(--minimal_dark_color) !important;
}

._1dbgUdk0xgEX7E4Db_r5mb {
    background: var(--minimal_dark_blacker_alt) !important;
    border-radius: 0px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._3ydigb6zZAjJ0JCDgHwSYA ._33cnXIqTRgRr49_FNXIHj6 {
    display: none;
}

._1FnJ6dPuknQFQ2RTpKTI16 {
    min-width: 0px !important;
}

._3ydigb6zZAjJ0JCDgHwSYA svg {
    margin-right: 0px !important;
}

._1FnJ6dPuknQFQ2RTpKTI16._1hhB2Wf7iExA15zh_lDQ_y {
    min-width: 0px !important;
}

._3ydigb6zZAjJ0JCDgHwSYA {
    padding: 4px 11px 4px 12px !important;
    border: 2px solid #8b929a29;
    margin-top: -2px !important;
    transition: .25s ease-out !important;
}

._3Y87YQY56ZCOqhgcZFaDc5 {
    padding: 5px 20px 2px 20px !important;
    background: transparent !important;
}

._3qDWQGB0rtwM3qpXTb11Q- {
    background-color: #acb2c900 !important;
}

.EhWKRN0QCGwfB7zcx7DwQ {
    padding-top: 0px !important;
}

._1yWgPveQ73QeYCdLcs6oFQ ._3i62HEXIhsNTd5-Z4uL3K._3Mds9UG-5yRsWUclIV_Y9q:hover {
    background-color: rgb(33 33 33 / 97%) !important;
    border-radius: 5px !important;
}

._39nnaT_CLE0m_WXVIrAwaG {
    background: transparent !important;
}

._39RheXihcN6H2k2muQTjkI ._1YbtIWcfkQJOysLXQbwzRf {
    height: 39px !important;
}

._3qDWQGB0rtwM3qpXTb11Q- {
    padding: 8px !important;
    transform: translate(0px, -3px) !important;
}

._3qDWQGB0rtwM3qpXTb11Q-._21hXW2oDD7zvNsoOaW7Yob._2WaHZuAetbqENmqDthu3nl svg path {
    stroke: rgba(var(--minimal_dark_color_rgba),.5) !important;
    fill: var(--minimal_dark_color) !important;
}

._3yTl3RiWfo-Itg-xp967wP {
    margin-bottom: 20px !important;
}
._2r4TK4BAuU-J4FuF_O7v_5 {
    margin-bottom: 0px !important;
}

._1yWgPveQ73QeYCdLcs6oFQ ._161IKq84RwQO4abJSCqv7q, ._1yWgPveQ73QeYCdLcs6oFQ ._3i62HEXIhsNTd5-Z4uL3K, ._1yWgPveQ73QeYCdLcs6oFQ ._35yrbgVC5TQttl8IPVlKQB {
    border-radius: 5px !important;
}

._1yWgPveQ73QeYCdLcs6oFQ ._161IKq84RwQO4abJSCqv7q._3Mds9UG-5yRsWUclIV_Y9q:hover, ._1yWgPveQ73QeYCdLcs6oFQ ._3i62HEXIhsNTd5-Z4uL3K._3Mds9UG-5yRsWUclIV_Y9q:hover, ._1yWgPveQ73QeYCdLcs6oFQ ._35yrbgVC5TQttl8IPVlKQB._3Mds9UG-5yRsWUclIV_Y9q:hover {
    background-color: rgb(33 33 33 / 97%) !important;
    border-radius: 5px !important;
}

._3qDWQGB0rtwM3qpXTb11Q-:hover .SVGIcon_Settings path {
    fill: var(--minimal_dark_color) !important;
}

._3qDWQGB0rtwM3qpXTb11Q-:hover .zvLq1GUCH3yLuqv_TXBJ1 .SVGIcon_Information .I {
    fill: var(--minimal_dark_color) !important;
}

._3qDWQGB0rtwM3qpXTb11Q-:hover .zvLq1GUCH3yLuqv_TXBJ1 svg circle {
    stroke: var(--minimal_dark_color) !important;
}

._3qDWQGB0rtwM3qpXTb11Q-._21hXW2oDD7zvNsoOaW7Yob:hover svg path {
    stroke: gold !important;
}

._3qDWQGB0rtwM3qpXTb11Q-:hover .zvLq1GUCH3yLuqv_TXBJ1 svg polyline {
    stroke: var(--minimal_dark_color) !important;
}

._38FqIwZQKW6BlRyzN66pi6 .rYBZBWnNW6m-N9vX0Chce {
    background: transparent !important;
    backdrop-filter: blur(30px) !important;
	border-radius: 5px !important;
}

._38FqIwZQKW6BlRyzN66pi6 {
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

button.DialogButton._3Cdin80d-hVsakHUZboheb._3nJyYxGQ3kdwwabPmxNnMe {
    background: var(--minimal_dark_invisblegrey) !important;
    border-radius: 5px !important;
}

._3-V8vjmrwuJM6Ws3tsjFJj > div {
    background: none !important;
    box-shadow: none !important;
}

button.DialogButton._3Cdin80d-hVsakHUZboheb.SLpyhiN-Dagi3V8ZKukaK {
    background-color: rgba(101,113,128,.1) !important;
    border-radius: 5px !important;
}

.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ:hover ._2sNDjgK9EWiPLdNGkjun-w {
    color: var(--minimal_dark_color) !important;
    font-weight: 400 !important;
}

.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ:active ._2sNDjgK9EWiPLdNGkjun-w {
    color: var(--minimal_dark_white) !important;
    font-weight: 400 !important;
}

._1kCN0pAntrcGCSmcc-vYdk:not(.Z3L6KGVxi4ZjGUzbYUjBC):hover ._2Jkk-4RGWzhce22lSnA9Em {
    fill: var(--minimal_dark_color) !important;
}

._1kCN0pAntrcGCSmcc-vYdk:hover span {
    color: var(--minimal_dark_color) !important;
    font-weight: 400 !important;
}

._1HS4twEHtDJ_8MWgJT4VBd {
    border-radius: 5px !important;
}

._316Uo4SBrQ_beBdSYn2HNO {
    background: var(--minimal_dark_blacker_alt) !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._316Uo4SBrQ_beBdSYn2HNO .UWkKthLfz_5MM3NdASE2W ._2lgHVJbZwxb10Md7bZ6USU {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(var(--minimal_dark_color_rgba),.15) 100%) !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    height: 68px !important;
    border-right: 1px solid var(--minimal_dark_color) !important;
}

button.DialogButton._3Cdin80d-hVsakHUZboheb {
    background: var(--minimal_dark_invisblegrey) !important;
	border-radius: 5px !important;
}

._2YS0EBJmY2Rvs07zZ90UIJ svg {
    width: 40px !important;
    height: 40px !important;
    position: absolute !important;
    left: -36px !important;
    top: 10px !important;
}

._1ckgRqBDUbThcwQTHHL6K0 {
    border-color: var(--minimal_dark_color) !important;
	margin-bottom: 10px !important;
}

._1AYE16384J_ecLpN0sEYc5 {
    border-image-source: none !important;
}

._1AIgWpLviF3aBSaRbYIwWM {
    background-color: var(--minimal_dark_invisblegrey) !important;
}

.wgbDI6To-SKawn9wQwVaw::after {
    box-shadow: inset 1px 1px 30px #00000059 !important;
    border: 1px solid var(--minimal_dark_invisblegrey) !important;
    border-radius: 5px !important;
}

._2jPMy2QZr8bWi6yrk5ZzHA {
    background-color: transparent !important;
}

._1SIa8xLHqCJGyeA9sQ4yK_ ._2RwHEhnDQNfN31QK-EOHy7 {
    width: 32px !important;
    height: 32px !important;
}

._2gFx1aSIrFS92Uxol8yc73 {
    border-radius: 5px !important;
	box-shadow: 0px 0px 8px #000000d1 !important;
}

._21yM8Jxi06nOAC-Lr1vfOh._2H_NXLi4XzXRRKKw6odcxE {
    border-radius: 5px !important;
    border: 2px solid var(--minimal_dark_be_grey) !important;
}

.VytJzt3Z_t6332-n24Yrc {
    border-radius: 5px !important;
    border: 2px solid var(--minimal_dark_be_grey) !important;
}

._21yM8Jxi06nOAC-Lr1vfOh._1zPkVnKexQdCEe_yQuhRVw {
    border-radius: 5px !important;
    border: 2px solid var(--minimal_dark_be_grey) !important;
}

._2_TE0KLOU7kWWxa9LS7iXA ._2B8NkDc3EmF3XM6hl1qpQ8 {
    border-radius: 5px !important;
}

._1yEoLSbdr6RwEzqpyKLR4m ._3m6qdpFN3Mop0iw9ZE3RRa:hover {
    background-color: rgba(173,101,186,.219);
    color: #fff !important;
    border-radius: 5px !important;
}

._2lAf2xEtmFqQHXi9dQrJaR, ._2l1gEqKU-EyjOm5XXXlp4e {
    border: 1px solid var(--minimal_dark_be_grey) !important;
    border-radius: 5px !important;
}

._2l1gEqKU-EyjOm5XXXlp4e img {
    border-radius: 5px !important;
    background: transparent !important;
}

._2l1gEqKU-EyjOm5XXXlp4e ._-Sx3XDHSavbddqq3sqJD {
    border-radius: 5px !important;
}

.videoSrc {
    border-radius: 5px !important;
}

.videoContainer {
    border-radius: 5px !important;
}

.VideoTimelineSlider {
    border-radius: 5px !important;
    background-color: var(--minimal_dark_greygrey) !important;
    box-shadow: 0px 1px 0px 1px #00000061, 1px 0px 8px #000; !important;
}

.STV_timelineGrabberArrow .SVGIcon_STVTimelineGrabber .grabber {
    fill: var(--minimal_dark_color) !important;
}

.videoControlButton.videoControlGoLive .Arrow {
    display: none !important;
}

.videoControlButton.videoControlGoLive .jumpGoLive {
    background-color: var(--minimal_dark_red) !important;
    border-radius: 2px !important;
}

.videoControlButton.buttonPlayPause:hover {
    border: 1px solid #7e7e7e;
    background-color: var(--minimal_dark_color) !important;
}

.videoControlButton.videoControlGoLive.isLiveEdge:hover .jumpGoLive, .videoControlButton.videoControlGoLive.isLiveEdge .jumpGoLive {
    background-color: transparent;
    color: white !important;
}

/* color light & animation achievements */
.rORbR_CuoyBuXGKfa8_2- {
    /* background: repeating-conic-gradient(rgba(var(--minimal_dark_color_rgba),0.178) 0%, rgba(255, 184, 78, 0) 6%, rgba(var(--minimal_dark_color_rgba),0.178) 10%, rgba(var(--minimal_dark_color_rgba),1) 26%, rgba(var(--minimal_dark_color_rgba),0.178) 35%, rgba(var(--minimal_dark_color_rgba),1) 40%, rgba(var(--minimal_dark_color_rgba),0.178) 60%, rgba(var(--minimal_dark_color_rgba),1) 82%, rgba(var(--minimal_dark_color_rgba),0.178) 100%) !important; */
}

._2bzHb-caO-Nm9nCFXRj7zq.tH67cztsTrD9IF2zpG8ep {
    /* box-shadow: 0px 0px 2px 1px rgba(var(--minimal_dark_color_rgba),1), 0px 0px 16px 1px rgba(var(--minimal_dark_color_rgba),.1) !important; */
    border-radius: 5px !important;
}
/* end color light & animation achievements */

._2bzHb-caO-Nm9nCFXRj7zq {
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1WsOngnf2RD4f5N-38rPLZ._3rqAfWDPLKWG1JA_bdIt3A ._1DgYmTk9ag1J5XhQO-uTxU {
    border-radius: 5px !important;
}

._1WsOngnf2RD4f5N-38rPLZ ._2DUDvAhXoEOSsd8GTIsKLY {
    border-radius: 5px !important;
	border: 0.5px solid var(--minimal_dark_color) !important;
}

._2H1MiFt6wMYuJDB8kZElFs._2JMEE2dz_3JMJg5pNiinj5 {
    color: var(--minimal_dark_color) !important;
}

._1WsOngnf2RD4f5N-38rPLZ.QljE844uvSBWd7Qp0csZ7:hover {
    transform: scale(0.45) !important;
}

._1WsOngnf2RD4f5N-38rPLZ._2uDS75qS46-mk12qdXsilF.QljE844uvSBWd7Qp0csZ7:active {
    transform: scale(0.45) !important;
}

._37Lk82ESPo7El4__sqZgOV ._2KA0p5xYePYygXUbjjsPzA {
    border-radius: 5px !important;
}

.S2Fu9HxHCA5MaCLGrN2ib {
    margin-bottom: 0px !important;
    padding: 0px 0px 0px 0px !important;
}

._1AYE16384J_ecLpN0sEYc5:last-child {
    border-radius: 5px !important;
}

._2Kmn7fJOkLT4KyWl467a9M .cvw8DHMUBKuZs5DeLJOQ2 {
    border: 1px solid var(--minimal_dark_be_grey) !important;
    border-radius: 5px !important;
    background: var(--minimal_dark_blacker_alt) !important;
}

._3FQHgRosfNJYE44Fsd_U6z ._11Z-tk3z56AMAn01e-PyBL.DesktopUI, .DesktopUI ._3FQHgRosfNJYE44Fsd_U6z ._11Z-tk3z56AMAn01e-PyBL {
    background: var(--minimal_dark_blacker_alt) !important;
}

._3eEbSktrstBdLk0dVpnKVI._3Gp1bACHx__POxmy6Gd3kG {
    background-color: var(--minimal_dark_black) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
    border-radius: 5px !important;
}

._3eEbSktrstBdLk0dVpnKVI._3Gp1bACHx__POxmy6Gd3kG:hover {
    background-color: var(--minimal_dark_be_grey) !important;
    border: 1px solid var(--minimal_dark_color) !important;
    border-radius: 5px !important;
}

._3eEbSktrstBdLk0dVpnKVI:hover {
    background-color: var(--minimal_dark_be_grey) !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_color) !important;
}

._316Uo4SBrQ_beBdSYn2HNO ._1vd1pZ7fwu6SLn898cXkOs svg {
    stroke: var(--minimal_dark_color) !important;
    stroke-width: 5px !important;
}

.gWDyh18yme_n7VmrYhmid {
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1izIEyRuLgphVa7NKAGtIb {
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1wJJQwnV-ssGrL0xveFujy {
    padding: 12px 12px 12px 12px;
    min-width: 50%;
    display: flex;
    border: 1px solid var(--minimal_dark_invisblegrey) !important;
    border-radius: 5px !important;
}

._1wJJQwnV-ssGrL0xveFujy:hover {
    border-radius: 5px !important;
	border: 1px solid rgba(var(--minimal_dark_color_rgba),.4) !important;
}

.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf>div {
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf .iYW5hWQwg14WYT4PV3xe_ {
    background-color: var(--minimal_dark_blacker_alt) !important;
    border-radius: 50% !important;
}

._2yMyP8POdcTHs9u9CEQIKY {
    background: var(--minimal_dark_blacker) !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

.PVXAA8K7W59k1ZLVWAPy9 ._33nAFYa-4M0coUprfk3WqL, .PVXAA8K7W59k1ZLVWAPy9 ._2pLSojgHqkjUtB38scov5A {
    border-color: var(--minimal_dark_color) !important;
}

._1GCZAht_W2I3Elndk5cU0-:hover {
    background-color: var(--minimal_dark_invisblegrey) !important;
    border-radius: 5px !important;
}

._2MKO5j24KqDdD-92hH5FXi {
    height: 163px !important;
    background: var(--minimal_dark_invisblegrey) !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_invisblegrey) !important;
}

._2MKO5j24KqDdD-92hH5FXi:after {
    box-shadow: inset 1px 1px 12px #0000005e !important;
    border-radius: 5px !important;
}

._27RcNu8aXKBpYkHcNNrt-X ._11kuVRYZvWXn-3rBJ_6yL8._3wbndu1paxHkciYr4rFJH5 {
    width: calc(67% - 34px) !important;
}

._22q2XMkRbHZD96i_GXOaHh {
    box-shadow: none !important;
	border-radius: 5px !important;
}

._2V2sHETNfa62yMoDwSF3_t._3s4Rq3jnntBVP7HbJj1RMQ {
    border-radius: 5px !important;
}

._2V2sHETNfa62yMoDwSF3_t {
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._284XbL-B7aHiK4XgyI2DPS {
    background-color: var(--minimal_dark_invisblegrey) !important;
    width: 1px !important;
    margin: 24px 24px 16px 24px !important;
}

._27mfPohuGzwxwaotA5Pk9 {
    color: var(--minimal_dark_color) !important;
}

._2ydoRKFVIxw7ZQ2k73pC27 {
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._2ydoRKFVIxw7ZQ2k73pC27:hover {
    background-color: rgba(0,0,0,.1);
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

.xYbDdgox9mzrraWWYN3_- {
    background: var(--minimal_dark_invisblegrey) !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1fSOeIFIdaHImIOA4Sla-e {
    background-color: var(--minimal_dark_invisblegrey) !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}
