.libraryhome_LibraryHome_3Sb2o {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px 14px 14px;
    background: var(--minimal_dark_blacker_alt);
}

.libraryhome_UpdatesContainer_17uEB {
    box-sizing: border-box;
    padding: 16px 16px 0px 24px;
    position: relative;
    height: 324px;
    overflow: hidden;
    background: var(--minimal_dark_blacker_alt);
}

.libraryhome_Container_2gSXC {
    height: 100%;
    position: relative;
    background: var(--minimal_dark_blacker_alt);
	border-top: solid 0px var(--minimal_dark_be_grey);
}

.allcollections_ScrollContainer_u1xD3 {
    box-sizing: border-box;
    background: var(--minimal_dark_blacker);
    padding: 24px;
    padding-bottom: 0;
    border: 1px solid rgba(0,0,0,0);
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    user-select: none;
}

.gamelisthome_Bar_3pSPl {
    box-sizing: border-box;
    position: relative;
    color: #c5cbd8;
    border-radius: 2px;
    flex: 1;
    min-width: 0;
    user-select: none;
    display: flex;
    flex-direction: row;
    height: 32px;
    align-content: center;
    cursor: pointer;
    font-size: 13px;
    border: 1px solid transparent;
    background-color: var(--minimal_dark_black);
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-color .16s ease-in-out;
}

.gamelisthome_Bar_3pSPl:hover {
    background-color: var(--minimal_dark_be_grey);
}

.DialogInput_ClearAction:hover .SVGIcon_X_Line line {
    stroke: var(--minimal_dark_red2);
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY:not(.gamelistsearchbar_Disabled_1Gjk2):hover .gamelistsearchbar_AdvancedSearchButton_1TxHd svg path {
    fill: var(--minimal_dark_color) !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase {
    background-image: var(--minimal_dark_searchbutton) !important;
    border-left: 4px solid var(--minimal_dark_be_grey) !important;
    transform: translate(-1px, 0px) !important;
    background-repeat: no-repeat !important;
    background-position: 8px center !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase:hover {
    background-color: var(--minimal_dark_grey) !important;
    box-shadow: none !important;
    border-left: 4px solid var(--minimal_dark_color) !important;
    background-image: var(--minimal_dark_searchbutton) !important;
    height: 32px;
    background-repeat: no-repeat !important;
    background-position: 8px center !important;
	border-radius: 3px;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase:active {
    background-color: var(--minimal_dark_grey);
    box-shadow: inset 0px 0px 0px #0000 !important;
    border-left: 4px solid var(--minimal_dark_color) !important;
    background-image: var(--minimal_dark_searchbutton) !important;
    height: 32px;
    background-repeat: no-repeat !important;
    background-position: 8px center !important;
    border-radius: 3px;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_AdvancedSearchPaneContainer_1dgAM .gamelistsearchbar_AdvancedSearchPane_Woh0k:before {
    content: "";
    width: 16px;
    height: 32px;
    background-color: var(--minimal_dark_be_grey) !important;
    position: absolute;
    left: -12px;
	display:none;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_AdvancedSearchPaneContainer_1dgAM .gamelistsearchbar_AdvancedSearchPane_Woh0k {
    background-color: var(--minimal_dark_be_grey);
    z-index: 20;
    position: absolute;
    left: 42px;
    border-radius: 4px;
    box-shadow: 0px 2px 8px 1px #000;
    opacity: 0;
    transform: scale(0.1);
    transition: transform .21s ease-in-out,opacity .21s ease-in-out;
    transform-origin: 0 0;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY.gamelistsearchbar_Extended_31r1_, .gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY:not(.gamelistsearchbar_Disabled_1Gjk2):hover {
    background-color: var(--minimal_dark_be_grey);
}

.appfilterpane_Container_170Np .appfilterpane_FilterArea_1ennW .appfilterpane_FilterBucket_1axoi .DialogInput_Wrapper .DialogTextInputBase:hover {
    background: var(--minimal_dark_greyblack);
}

.appfilterpane_Container_170Np .appfilterpane_FilterArea_1ennW .appfilterpane_FilterBucket_1axoi .DialogInput_Wrapper .DialogTextInputBase.Focusable:focus {
    outline: none;
    background-color: var(--minimal_dark_blacker_alt);
    color: var(--minimal_dark_less_white) !important;
}

.appfilterpane_DropDownContainer_1g2o2 ._DialogInputContainer {
    box-shadow: none;
    margin-bottom: 0px;
    background: var(--minimal_dark_black);
}

.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd .libraryhomenewupdates_PartnerEventRowCapsule_MainImageContainer_SPz0i {
    overflow: hidden;
    background-color: #000a;
    border-radius: 5px;
}

.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd.libraryhomenewupdates_HoversEnabled_278jF:hover .libraryhomenewupdates_EventSummaryContainer_3Rb_j, .gpfocus>.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd.libraryhomenewupdates_HoversEnabled_278jF .libraryhomenewupdates_EventSummaryContainer_3Rb_j {
    background: var(--minimal_dark_invisblegrey);
    backdrop-filter: blur(10px);
    /* border-left: 1px solid black !important; */
    /* border-top: 1px solid black !important; */
    /* border-bottom: 1px solid black !important; */
    /* border-right: 2px solid black !important; */
    /* width: 100% !important; */
    /* height: 100% !important; */
    border-radius: 5px !important;
}

.library_LibraryWindowDivider_276E6.library_Sizable_2g5K_:hover {
    background-color: var(--minimal_dark_be_grey);
	width: 1px;
	min-width: 1px;
}

.library_LibraryWindowDivider_276E6 {
    width: 1px;
    background-color: var(--minimal_dark_be_grey);
    min-width: 1px;
	cursor: e-resize !important;
}

.appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4) .SVGIcon_Play {
    fill: white;
}

.appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4) {
    background: transparent;
    border: 2px solid #8b929a29 !important;
    transform: scale(0.70, 0.70) translate(0px, 3px) !important;
    border-radius: 50px;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4):hover {
    background-image: var(--minimal_dark_bgg) !important;
    transform: scale(0.75, 0.75) translate(0px, 3px) !important;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemActionButton_3AjoL.appportrait_Play_1_Bo2:not(.appportrait_Disabled_1aml4):active {
    background-image: var(--minimal_dark_bgg) !important;
	box-shadow: inset 0px 2px 4px #000000ab;
}

.appportrait_FeaturedCapsule_xp7A- .appportrait_LibraryItemActionButton_3AjoL {
    background: transparent;
    border: 2px solid #8b929a29 !important;
    transform: scale(0.70, 0.70) translate(0px, 3px) !important;
    box-shadow: 0px 1px 30px 1px rgba(0,0,0,.2);
    border-radius: 50px !important;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg .appportrait_LibraryItemActionButton_3AjoL:hover:not(.appportrait_Disabled_1aml4):not(.appportrait_Play_1_Bo2) {
    border: 2px solid #8b929a29 !important;
    transform: scale(0.75, 0.75) translate(0px, 3px) !important;
    background-image: var(--minimal_dark_bgb) !important;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg .appportrait_LibraryItemActionButton_3AjoL:active:not(.appportrait_Disabled_1aml4):not(.appportrait_Play_1_Bo2) {
    border: 2px solid #8b929a29 !important;
    box-shadow: inset 0px 2px 4px #000000ab;
    background-image: var(--minimal_dark_bgb) !important;
}

.libraryhomeshowcases_CollectionDropDownContainer_2Sj4-.libraryhomeshowcases_CollectionDropDownContainer_2Sj4- ._DialogInputContainer {
    overflow: hidden auto;
    box-sizing: border-box;
    padding: 8px 0;
    box-shadow: 1px 8px 32px 1px #0009 !important;
    border: .5px solid #6e6e6e;
    border-radius: 0;
    background: var(--minimal_dark_black) !important;
    color: #fff;
    border-left: 1px solid #ced0da;
    width: 200px;
    height: 100%;
    margin-bottom: 8px;
}

.appfilterpane_Container_170Np {
    padding: 20px 20px !important;
    background: var(--minimal_dark_black) !important;
	border-radius: 6px !important;
	border: 1px solid var(--minimal_dark_be_grey) !important;
}

.appfilterpane_Buttons_2GVYK {
    margin-top: 0px !important;
}

.contextmenu_ContextMenuSeparator_1F2Ec.contextmenu_ContextMenuSeparator_1F2Ec+.contextmenu_contextMenuItem_pFo3k {
    border-top: 1px solid var(--minimal_dark_blacker);
}

.steamdesktop_ContentFrame_1rDh5 {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top: 0px solid var(--minimal_dark_be_grey);
}

.appportrait_UninstalledBar_kX-tI .appportrait_UninstalledProgressBar_mA39H {
    background-color: var(--minimal_dark_progress_bar);
    height: 100%;
    transition-property: width;
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
}

.appportrait_LibraryItemBox_WYgDg {
    cursor: default;
}

.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd {
    cursor: default;
    border: 2px solid var(--minimal_dark_be_grey) !important;
    border-radius: 5px;
}

.libraryhomenewupdates_GameIconAndName_3_xMy {
    background-color: var(--minimal_dark_blacker);
	border-radius: 5px 5px 5px 5px;
	border: 1px solid var(--minimal_dark_invisblegrey);
}

.libraryhomenewupdates_GameIconAndName_3_xMy:hover {
    background-color: var(--minimal_dark_blacker_alt);
	border-radius: 5px 5px 5px 5px;
	border: 1px solid var(--minimal_dark_invisblegrey);
}

.appportrait_LibraryItemBox_WYgDg.appportrait_Landscape_3VOR2:not(.appportrait_BasicMode_3vi6S) img {
    border-radius: 0px !important;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg:hover:not(.appportrait_Landscape_3VOR2):active, .appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg.appportrait_ShowAsHovered_2YsY_:not(.appportrait_Landscape_3VOR2):active {
    transition-duration: .05s;
    transition-timing-function: ease-out;
    filter: brightness(1.2) contrast(1.05) saturate(1);
}

.appportrait_LibraryItemBox_WYgDg.appportrait_InRecentGames_biTV-, .appportrait_LibraryItemBox_WYgDg.appportrait_InPlayNext_L3xTn, .appportrait_LibraryItemBox_WYgDg.appportrait_InFriendsActivity_3ngZC {
    transition-duration: .2s !important;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    border: 2px solid var(--minimal_dark_be_grey) !important;
    border-radius: 5px !important;
}

.appportrait_LibraryItemBox_WYgDg.appportrait_Landscape_3VOR2.appportrait_InRecentGames_biTV-.appportrait_FeaturedCapsule_xp7A-.Panel:hover {
    /* border: 2px solid rgba(var(--minimal_dark_color_rgba), .75) !important; */
    border: 2px solid #424242 !important;
    border-bottom: 2px solid var(--minimal_dark_color) !important;
}

.appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg:hover:not(.appportrait_Landscape_3VOR2), .appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg.appportrait_ShowAsHovered_2YsY_:not(.appportrait_Landscape_3VOR2) {
    transform: rotateX(0deg) translateZ(10px);
    filter: brightness(1.1) contrast(0.95) saturate(1);
    box-shadow: 0px 14px 12px 0px rgba(0,0,0,.3);
    z-index: 12;
    /* border: 2px solid rgba(var(--minimal_dark_color_rgba), .75) !important; */
    border: 2px solid #424242 !important;
    border-radius: 5px !important;
    border-bottom: 2px solid var(--minimal_dark_color) !important;
}

.appportrait_LibraryItemBoxSubscript_1LJqx {
    color: #fff;
    background-color: #29292900;
    transform-origin: 0 100%;
    transition: transform .32s cubic-bezier(0, 0.73, 0.48, 1);
    backdrop-filter: blur(15px);
    border: 1px solid var(--minimal_dark_invisblegrey);
}

.appportrait_LibraryItemBox_WYgDg:hover~.appportrait_LibraryItemBoxSubscript_1LJqx {
    transform: none;
    z-index: 13;
	backdrop-filter: blur(15px);
}

.appportrait_AppPortraitBanner_N8aJr {
    background: rgba(var(--minimal_dark_color_rgba), .5);
    border-radius: 10px;
    backdrop-filter: blur(40px);
}

.appportrait_Draggable_1pwP4.appportrait_HoversEnabled_54PuC:not(.appportrait_Soundtrack_3Lu_5):hover .appportrait_AppPortraitBannerContainer_2jj5T {
    transform: none;
}

.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd .libraryhomenewupdates_EventTimeSpan_3OSZu {
    background-color: rgba(var(--minimal_dark_color_rgba), .05) !important;
    color: #fff;
    backdrop-filter: blur(30px);
    border-top-left-radius: 0px;
    border-top: 1px solid var(--minimal_dark_invisblegrey) !important;
    border-left: 1px solid var(--minimal_dark_invisblegrey) !important;
}

.appportraithover_CapsuleBackgroundContainer_Yts2c {
    border-radius: 5px !important;
}

.appportraithover_AppPortraitHover_2sGn0 {
    width: 240px;
    height: fit-content;
    background-color: var(--minimal_dark_invisblegrey);
    backdrop-filter: blur(20px);
    border-radius: 5px !important;
}

.appportraithover_PlaytimeDetails_1VGPO .appportraithover_Header_MIHa_ {
    color: var(--minimal_dark_color);
    font-weight: 600;
}

.appportrait_HoversEnabled_54PuC :hover .appportrait_LibraryItemBoxShine_MyNb5 {
    opacity: .2;
    transform: rotateZ(210deg) translateX(12%) translateY(32%);
    filter: blur(10px);
}

.libraryhomenewupdates_EventOptions_2-p7s:hover>div {
    background-color: var(--minimal_dark_color) !important;
}

.steamavatar_avatarStatus_1yIzy.bottom {
    left: 29px !important;
    height: 6px !important;
    width: 6px !important;
    top: 1px !important;
}

.tooltip_ToolTipCustom_3Dt__ {
    background-color: var(--minimal_dark_blacker);
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_greyblack2) !important;
}

.tooltip_ToolTipCustom_3Dt__ .tooltip_ToolTipTitle_3YNfm {
    color: var(--minimal_dark_color) !important;
}

.tooltip_TextToolTip_29b2a {
    background-color: var(--minimal_dark_blacker) !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_greyblack2) !important;
}

.tooltip_ToolTipCustom_3Dt__ .tooltip_ToolTipInsetContent_1nxOn {
    color: var(--minimal_dark_less_white) !important;
}

.allcollections_Collection_3IWn- .allcollections_NavTimer_2Tnpa svg circle {
    stroke: var(--minimal_dark_color) !important;
}

.libraryhomeshowcases_DropOption_1HgDL .libraryhomeshowcases_Showcase_V7RuD {
    border: 2px dashed var(--minimal_dark_color) !important;
}

.libraryhomeshowcases_DropTarget_3oXyq .libraryhomeshowcases_Showcase_V7RuD {
    border: 2px solid var(--minimal_dark_color) !important;
    background: rgba(var(--minimal_dark_color_rgba),.75) !important;
}

.library_MainPanel_3BFcm .library_NewCollectionTarget_3PAPB {
    background-color: rgba(var(--minimal_dark_color_rgba),.9) !important;
}

.allcollections_Collection_3IWn-.allcollections_DropOption_-D43E {
    border: 2px dashed var(--minimal_dark_color) !important;
}

.allcollections_Collection_3IWn-.allcollections_DropTarget_2AN97 {
    border: 2px solid var(--minimal_dark_color) !important;
	background: rgba(var(--minimal_dark_color_rgba),.5) !important;
}

.library_AppDetailsTransitionGroup_2Dd4T {
    background: var(--minimal_dark_blacker_alt) !important;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg {
    fill: var(--minimal_dark_color) !important;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg path, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg line, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg polyline, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg circle {
    stroke: var(--minimal_dark_color) !important;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk:hover svg path, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk:hover svg line, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk:hover svg polyline, .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk:hover svg circle {
    stroke: var(--minimal_dark_less_white);
}

.collectionview_Container_2q70u .collectionview_Header_2rqTS .collectionview_Rule_1grg9 {
    flex-grow: 1;
    height: 1px;
    margin-left: 16px;
    align-self: center;
    background: linear-gradient(to right, rgba(var(--minimal_dark_color_rgba),.5), rgba(255, 255, 255, 0)) !important;
}

.appgrid_AppGridSectionHeader_3bWIS::after {
    background: var(--minimal_dark_blacker_alt) !important;
}

.appgrid_AppGridSectionHeader_3bWIS .appgrid_Rule_3pJqX {
    flex-grow: 1;
    height: 1px;
    align-self: center;
    margin-left: 10px;
    background: linear-gradient(to right, rgba(var(--minimal_dark_color_rgba),.5), rgba(255, 255, 255, 0)) !important;
}

.appfilterpane_Container_170Np .appfilterpane_FilterArea_1ennW .appfilterpane_FilterBucket_1axoi.appfilterpane_SearchResultsBox_MIMuV .appfilterpane_FilterBucketBoxes_32e6r {
    border-radius: 2px !important;
    background-color: var(--minimal_dark_blacker) !important;
}

.appfilterpane_Container_170Np .appfilterpane_FilterArea_1ennW .appfilterpane_FilterBucket_1axoi .appfilterpane_FilterBucketLabel_3iV2v {
    color: var(--minimal_dark_color) !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY.gamelistsearchbar_Extended_31r1_ {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY {
    border-radius: 0px !important;
}

.appfilterpane_SteamDeckCompatDropDown_1SFpb ._DialogInputContainer {
    background: transparent !important;
    border: 1px solid transparent !important;
}

.appfilterpane_SteamDeckCompatDropDown_1SFpb ._DialogInputContainer.DialogDropDown:hover {
    background: rgba(var(--minimal_dark_color),.25) !important;
}

.DialogCheckbox.Active .SVGIcon_DialogCheck path {
    stroke: var(--minimal_dark_color) !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl .SVGIcon_ReadyToPlay circle {
    stroke: var(--minimal_dark_color) !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl .SVGIcon_ReadyToPlay path {
    fill: var(--minimal_dark_color) !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer {
    background: transparent !important;
    border: none !important;
}

.gamepaddialog_Toggle_24G4g.gamepaddialog_On_3ld7T .gamepaddialog_ToggleSwitch_3__OD {
    transform: translateX(16px) !important;
}

*:hover>.libraryhomenewupdates_EventOptions_2-p7s {
    right: 1px !important;
}

.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus, .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin, .gamepaddialog_Field_S-_La.gamepaddialog_Clickable_27UVY:not(.gamepaddialog_Disabled_1pmyx):hover {
    background: var(--minimal_dark_be_grey) !important;
    color: #fff;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_AdvancedSearchPaneContainer_1dgAM.gamelistsearchbar_Visible_1v65x .gamelistsearchbar_AdvancedSearchPane_Woh0k {
    opacity: 1;
    transform: scale(1) translate(4px, -1px) !important;
}

html.contextmenu_ContextMenuPopup_2GpKT .contextmenu_contextMenuContents_2y2tU {
    padding: 0px !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_Collapser_3sz4L {
    border-radius: 50%;
    background-color: transparent !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl:hover .libraryhomeshowcases_Rule_1PhK8 {
    height: 13px;
    border-radius: 5px !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl .libraryhomeshowcases_Rule_1PhK8 {
    background-color: var(--minimal_dark_black) !important;
}

.DesktopUI ._DialogInputContainer {
    border-radius: 5px !important;
}

.appgrid_SortingDropDown_1tBzy ._DialogInputContainer .DialogDropDown_CurrentDisplay {
    background-color: transparent !important;
	padding-top: 2px !important;
}

.appgrid_SortingDropDown_1tBzy ._DialogInputContainer .DialogDropDown_Arrow {
    background-color: transparent !important;
}

.appgrid_SortingDropDown_1tBzy ._DialogInputContainer.DialogDropDown:hover {
    background-color: var(--minimal_dark_black) !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer.DialogDropDown {
    box-shadow: none;
    color: #fff;
    background-color: transparent !important;
    padding-left: 6px !important;
    padding-top: 2px !important;
    border: 1px solid var(--minimal_dark_greyblack) !important;
    padding-bottom: 0px !important;
    padding-right: 5px !important;
    border-radius: 5px !important;
    font-size: 12px !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer.DialogDropDown:hover {
    box-shadow: none;
    color: #fff;
    background-color: var(--minimal_dark_be_grey) !important;
    padding-left: 6px !important;
    padding-top: 2px !important;
    border: 1px solid var(--minimal_dark_greyblack) !important;
    padding-bottom: 0px !important;
    padding-right: 5px !important;
    border-radius: 5px !important;
	font-size: 12px !important;
}

.pageablecontainer_HeaderPageControls_2pAbU .pageablecontainer_Name_1Y5_H {
    flex: none;
    user-select: none;
    font-size: 12px !important;
    box-shadow: none;
    background-color: transparent !important;
    padding-left: 6px !important;
    padding-top: 2px !important;
    border: 1px solid var(--minimal_dark_greyblack) !important;
    padding-bottom: 2px !important;
    padding-right: 5px !important;
    border-radius: 5px !important;
}

.pageablecontainer_HeaderPageControls_2pAbU .pageablecontainer_Name_1Y5_H:hover {
    flex: none;
    user-select: none;
    font-size: 12px !important;
    box-shadow: none;
    color: #fff;
    background-color: var(--minimal_dark_be_grey) !important;
    padding-left: 6px !important;
    padding-top: 2px !important;
    border: 1px solid var(--minimal_dark_greyblack) !important;
    padding-bottom: 2px !important;
    padding-right: 5px !important;
    border-radius: 5px !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd .libraryhomeshowcases_CountDisplay_2qm05 {
    font-size: 12px !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer .DialogDropDown_Arrow {
    top: 1px !important;
}

.libraryhomeshowcases_ShowcaseHeader_23Snl {
    padding-left: 4px !important;
}

.libraryhomeshowcases_AddShowcaseRow_3SkuN.libraryhomeshowcases_ButtonHovered_3dQDo .libraryhomeshowcases_Rule_1PhK8 {
    height: 13px !important;
    border-radius: 5px !important;
}

.DesktopUI .contextmenu_contextMenu_LQkrb, .contextmenu_ForceDesktop_7K1n9 .contextmenu_contextMenu_LQkrb {
    background: var(--minimal_dark_blacker) !important;
}

.appgrid_SortingDropDown_1tBzy ._DialogInputContainer {
    padding: 0 !important;
}

.appportraithover_GameUpdatedContainer_QO8Xp .appportraithover_ImportantUpdate_3eZ2g {
    color: var(--minimal_dark_fluogreen) !important;
}

.appportraithover_GameUpdatedContainer_QO8Xp .appportraithover_GameUpdatedCircle_158pN {
    background: var(--minimal_dark_fluogreen) !important;
    box-shadow: 0px 0px 8px 1px var(--minimal_dark_fluogreen), 0px 0px 16px 1px var(--minimal_dark_greensettings) !important;
}

.appfilterpane_SteamDeckCompatDropDown_1SFpb ._DialogInputContainer .DialogDropDown_CurrentDisplay {
    background-color: var(--minimal_dark_be_grey) !important;
    border-top: 1px solid var(--minimal_dark_blacker_alt) !important;
    border-bottom: 1px solid var(--minimal_dark_blacker_alt) !important;
    border-left: 1px solid var(--minimal_dark_blacker_alt) !important;
}

.appfilterpane_SteamDeckCompatDropDown_1SFpb ._DialogInputContainer .DialogDropDown_Arrow {
    background-color: var(--minimal_dark_be_grey) !important;
    border-bottom: 1px solid var(--minimal_dark_blacker_alt) !important;
    border-top: 1px solid var(--minimal_dark_blacker_alt)!important;
    border-right: 1px solid var(--minimal_dark_blacker_alt) !important;
}

.appfilterpane_SteamDeckCompatDropDown_1SFpb ._DialogInputContainer .DialogDropDown_CurrentDisplay:hover {
    background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 25%, rgba(38,38,38,1) 85%, rgba(38,38,38,1) 90%) !important;
    border-bottom: 1px solid var(--minimal_dark_blacker_alt) !important;
    border-top: 1px solid var(--minimal_dark_blacker_alt)!important;
}

.appfilterpane_SteamDeckCompatDropDown_1SFpb ._DialogInputContainer .DialogDropDown_CurrentDisplay:active {
    background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 25%, rgba(38,38,38,1) 85%, rgba(38,38,38,1) 90%) !important;
    border-bottom: 1px solid var(--minimal_dark_blacker_alt) !important;
    border-top: 1px solid var(--minimal_dark_blacker_alt) !important;
    box-shadow: inset 1px 2px 4px 0px #121212 !important;
}

.appfilterpane_SteamDeckCompatDropDown_1SFpb {
    padding-bottom: 0px !important;
}

.screenshots_Hover_2EMM5 .screenshots_Screenshot_2pHz5 {
    border-radius: 5px !important;
}

.appportrait_LibraryItemBox_WYgDg {
    border-radius: 5px !important;
	border: 2px solid var(--minimal_dark_be_grey) !important;
}

.allcollections_Collection_3IWn- {
    background: var(--minimal_dark_blacker) !important;
    border: 2px solid var(--minimal_dark_be_grey) !important;
}

.allcollections_Collection_3IWn-:focus, .allcollections_Collection_3IWn-:hover {
    background: var(--minimal_dark_be_grey) !important;
    border-bottom: 2px solid var(--minimal_dark_color) !important;
}
