._3Sb2o_mQ30IDRh0C72QUUu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px 14px 14px;
    background: var(--minimal_dark_blacker_alt);
}

._17uEBe5Ri8TMsnfELvs8-N {
    box-sizing: border-box;
    padding: 16px 16px 0px 24px;
    position: relative;
    height: 324px;
    overflow: hidden;
    background: var(--minimal_dark_blacker_alt);
}

._2gSXCB6PbOlMxslr8hm6dm {
    height: 100%;
    position: relative;
    background: var(--minimal_dark_blacker_alt);
	border-top: solid 0px var(--minimal_dark_be_grey);
}

.u1xD3KJEgksF_J_5TLZzO {
    box-sizing: border-box;
    background: var(--minimal_dark_blacker);
    padding: 24px;
    padding-bottom: 0;
    border: 1px solid rgba(0,0,0,0);
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    user-select: none;
}

._3pSPluBgf0NeR1kkCLWMhR {
    box-sizing: border-box;
    position: relative;
    color: #c5cbd8;
    border-radius: 2px;
    flex: 1;
    min-width: 0;
    user-select: none;
    display: flex;
    flex-direction: row;
    height: 32px;
    align-content: center;
    cursor: pointer;
    font-size: 13px;
    border: 1px solid transparent;
    background-color: var(--minimal_dark_black);
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-color .16s ease-in-out;
}

._3pSPluBgf0NeR1kkCLWMhR:hover {
    background-color: var(--minimal_dark_be_grey);
}

.DialogInput_ClearAction:hover .SVGIcon_X_Line line {
    stroke: var(--minimal_dark_red2);
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:not(._1Gjk27xaRIzt2zOSwOSP0N):hover ._1TxHdzOt3OD9ikR3xIseKe svg path {
    fill: var(--minimal_dark_color) !important;
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
    background-image: var(--minimal_dark_searchbutton) !important;
    border-left: 4px solid var(--minimal_dark_be_grey) !important;
    transform: translate(-1px, 0px) !important;
    background-repeat: no-repeat !important;
    background-position: 8px center !important;
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase:hover {
    background-color: var(--minimal_dark_grey) !important;
    box-shadow: none !important;
    border-left: 4px solid var(--minimal_dark_color) !important;
    background-image: var(--minimal_dark_searchbutton) !important;
    height: 32px;
    background-repeat: no-repeat !important;
    background-position: 8px center !important;
	border-radius: 3px;
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase:active {
    background-color: var(--minimal_dark_grey);
    box-shadow: inset 0px 0px 0px #0000 !important;
    border-left: 4px solid var(--minimal_dark_color) !important;
    background-image: var(--minimal_dark_searchbutton) !important;
    height: 32px;
    background-repeat: no-repeat !important;
    background-position: 8px center !important;
    border-radius: 3px;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7 .Woh0kBQCmatzC1daBX9i6::before {
    content: "";
    width: 16px;
    height: 32px;
    background-color: var(--minimal_dark_be_grey) !important;
    position: absolute;
    left: -12px;
	display:none;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7 .Woh0kBQCmatzC1daBX9i6 {
    background-color: var(--minimal_dark_be_grey);
    z-index: 20;
    position: absolute;
    left: 42px;
    border-radius: 4px;
    box-shadow: 0px 2px 8px 1px #000;
    opacity: 0;
    transform: scale(0.1);
    transition: transform .21s ease-in-out,opacity .21s ease-in-out;
    transform-origin: 0 0;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._31r1_h2SmzwQtP9ZLLyA0I, ._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:not(._1Gjk27xaRIzt2zOSwOSP0N):hover {
    background-color: var(--minimal_dark_be_grey);
}

._170Npw5h84elypMSQ8zNDI ._1ennWu_xj2YF8FRYgJ2M2H ._1axoiZsC1RBp22JQmxiBIc .DialogInput_Wrapper .DialogTextInputBase:hover {
    background: var(--minimal_dark_greyblack);
}

._170Npw5h84elypMSQ8zNDI ._1ennWu_xj2YF8FRYgJ2M2H ._1axoiZsC1RBp22JQmxiBIc .DialogInput_Wrapper .DialogTextInputBase.Focusable:focus {
    outline: none;
    background-color: var(--minimal_dark_blacker_alt);
    color: var(--minimal_dark_less_white) !important;
}

._1g2o21WAWugv5qRumV1XWB ._DialogInputContainer {
    box-shadow: none;
    margin-bottom: 0px;
    background: var(--minimal_dark_black);
}

.B-vCdL38RiJlhfSRgZv78 .SPz0ipLqfF1oAO7tdrkdY {
    overflow: hidden;
    background-color: #000a;
    border-radius: 5px;
}

.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5:hover ._3Rb_j3lgHaVVIud4Gla7_m, .gpfocus > .B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5 ._3Rb_j3lgHaVVIud4Gla7_m {
    background: var(--minimal_dark_invisblegrey);
    backdrop-filter: blur(10px);
    /* border-left: 1px solid black !important; */
    /* border-top: 1px solid black !important; */
    /* border-bottom: 1px solid black !important; */
    /* border-right: 2px solid black !important; */
    /* width: 100% !important; */
    /* height: 100% !important; */
    border-radius: 5px !important;
}

._276E6ijBpjMA2_iTxNhhjc._2g5K_hJWc7jVo81zuejhk2:hover {
    background-color: var(--minimal_dark_be_grey);
	width: 1px;
	min-width: 1px;
}

._276E6ijBpjMA2_iTxNhhjc {
    width: 1px;
    background-color: var(--minimal_dark_be_grey);
    min-width: 1px;
	cursor: e-resize !important;
}

._3AjoLnMNKxYmNTGTJCLfgs._1_Bo2Ied5s2Od4YKYTOsau:not(._1aml4h4CSJbtrNbX4brUYs) .SVGIcon_Play {
    fill: white;
}

._3AjoLnMNKxYmNTGTJCLfgs._1_Bo2Ied5s2Od4YKYTOsau:not(._1aml4h4CSJbtrNbX4brUYs) {
    background: transparent;
    border: 2px solid #8b929a29 !important;
    transform: scale(0.70, 0.70) translate(0px, 3px) !important;
    border-radius: 50px;
}

._54PuCatl_tYG836TOs4Mv ._3AjoLnMNKxYmNTGTJCLfgs._1_Bo2Ied5s2Od4YKYTOsau:not(._1aml4h4CSJbtrNbX4brUYs):hover {
    background-image: var(--minimal_dark_bgg) !important;
    transform: scale(0.75, 0.75) translate(0px, 3px) !important;
}

._54PuCatl_tYG836TOs4Mv ._3AjoLnMNKxYmNTGTJCLfgs._1_Bo2Ied5s2Od4YKYTOsau:not(._1aml4h4CSJbtrNbX4brUYs):active {
    background-image: var(--minimal_dark_bgg) !important;
	box-shadow: inset 0px 2px 4px #000000ab;
}

.xp7A-08Y404Of3FBHqX32 ._3AjoLnMNKxYmNTGTJCLfgs {
    background: transparent;
    border: 2px solid #8b929a29 !important;
    transform: scale(0.70, 0.70) translate(0px, 3px) !important;
    box-shadow: 0px 1px 30px 1px rgba(0,0,0,.2);
    border-radius: 50px !important;
}

._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC ._3AjoLnMNKxYmNTGTJCLfgs:hover:not(._1aml4h4CSJbtrNbX4brUYs):not(._1_Bo2Ied5s2Od4YKYTOsau) {
    border: 2px solid #8b929a29 !important;
    transform: scale(0.75, 0.75) translate(0px, 3px) !important;
    background-image: var(--minimal_dark_bgb) !important;
}

._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC ._3AjoLnMNKxYmNTGTJCLfgs:active:not(._1aml4h4CSJbtrNbX4brUYs):not(._1_Bo2Ied5s2Od4YKYTOsau) {
    border: 2px solid #8b929a29 !important;
    box-shadow: inset 0px 2px 4px #000000ab;
    background-image: var(--minimal_dark_bgb) !important;
}

._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer {
    overflow: hidden auto;
    box-sizing: border-box;
    padding: 0px 1px 0px 0px !important;
    box-shadow: 1px 8px 32px 1px #0009 !important;
    border: .5px solid #6e6e6e;
    border-radius: 0;
    background: var(--minimal_dark_black) !important;
    color: #fff;
    border-left: 1px solid #ced0da;
    width: 200px;
    height: 100%;
    margin-bottom: 8px;
}

._170Npw5h84elypMSQ8zNDI {
    padding: 20px 20px !important;
    background: var(--minimal_dark_black) !important;
	border-radius: 6px !important;
	border: 1px solid var(--minimal_dark_be_grey) !important;
}

._2GVYKKA0-FikD4ejRjx1Oh {
    margin-top: 0px !important;
}

._1F2EcTc-0vNkdiBz8ATakM._1F2EcTc-0vNkdiBz8ATakM + .pFo3kQOzrl9qVLPXXGIMp {
    border-top: 1px solid var(--minimal_dark_blacker);
}

._1rDh5rXSFZJOqCa4UpnI4z {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top: 0px solid var(--minimal_dark_be_grey);
}

.kX-tIJx4a9vKVuUkKJARv .mA39Hqv8LacDppegb_Q_Z {
    background-color: var(--minimal_dark_progress_bar);
    height: 100%;
    transition-property: width;
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
}

.WYgDg9NyCcMIVuMyZ_NBC {
    cursor: default;
}

.B-vCdL38RiJlhfSRgZv78 {
    cursor: default;
    border: 2px solid var(--minimal_dark_be_grey) !important;
    border-radius: 5px;
}

._3_xMyCJAh_Dv99KgZ54P3j {
    background-color: var(--minimal_dark_blacker);
	border-radius: 5px 5px 5px 5px;
	border: 1px solid var(--minimal_dark_invisblegrey);
}

._3_xMyCJAh_Dv99KgZ54P3j:hover {
    background-color: var(--minimal_dark_blacker_alt);
	border-radius: 5px 5px 5px 5px;
	border: 1px solid var(--minimal_dark_invisblegrey);
}

.WYgDg9NyCcMIVuMyZ_NBC._3VOR2AeYATx3qSE0I-Pm-5:not(._3vi6SfAX2Pp-9TVSjvm5Et) img {
    border-radius: 0px !important;
}

._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC:hover:not(._3VOR2AeYATx3qSE0I-Pm-5):active, ._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC._2YsY_x7hLyKlUqjX9bhn0R:not(._3VOR2AeYATx3qSE0I-Pm-5):active {
    transition-duration: .05s;
    transition-timing-function: ease-out;
    filter: brightness(1.2) contrast(1.05) saturate(1);
}

.WYgDg9NyCcMIVuMyZ_NBC.biTV-8rS2M65imVHU15Nv, .WYgDg9NyCcMIVuMyZ_NBC.L3xTnr5TfAJU1EhvCDaWm, .WYgDg9NyCcMIVuMyZ_NBC._3ngZCi2zy0hiqzGzTdNg8 {
    transition-duration: .2s !important;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    border: 2px solid var(--minimal_dark_be_grey) !important;
    border-radius: 5px !important;
}

.WYgDg9NyCcMIVuMyZ_NBC._3VOR2AeYATx3qSE0I-Pm-5.biTV-8rS2M65imVHU15Nv.xp7A-08Y404Of3FBHqX32.Panel:hover {
    border: 2px solid rgba(var(--minimal_dark_color_rgba), .75) !important;
    border: 2px solid #353535 !important;
    border-bottom: 2px solid var(--minimal_dark_color) !important;
    filter: brightness(1) contrast(1.1) !important;
}

.WYgDg9NyCcMIVuMyZ_NBC._3VOR2AeYATx3qSE0I-Pm-5.biTV-8rS2M65imVHU15Nv.xp7A-08Y404Of3FBHqX32.Panel:active {
    filter: brightness(1.1) !important;
}

._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC:hover:not(._3VOR2AeYATx3qSE0I-Pm-5), ._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC._2YsY_x7hLyKlUqjX9bhn0R:not(._3VOR2AeYATx3qSE0I-Pm-5) {
    transform: rotateX(0deg) translateZ(6px) !important;
    filter: brightness(1.1) contrast(1.1) saturate(1);
    box-shadow: 0px 14px 12px 0px rgba(0,0,0,.3);
    z-index: 12;
    border: 2px solid #353535 !important;
    border-radius: 5px !important;
    border-bottom: 2px solid var(--minimal_dark_color) !important;
}

._1LJqx_qFOC8199RBQO5kU8 {
    color: #fff;
    background-color: #29292900;
    transform-origin: 0 100%;
    transition: transform .32s cubic-bezier(0, 0.73, 0.48, 1);
    backdrop-filter: blur(15px);
    border: 1px solid var(--minimal_dark_invisblegrey);
}

.WYgDg9NyCcMIVuMyZ_NBC:hover ~ ._1LJqx_qFOC8199RBQO5kU8 {
    transform: none;
    z-index: 13;
	backdrop-filter: blur(15px);
}

.N8aJrSpxQ6II4CY_aFdYI {
    background: rgba(var(--minimal_dark_color_rgba), .5);
    border-radius: 10px;
    backdrop-filter: blur(40px);
}

._1pwP4eeP1zQD7PEgmsep0W._54PuCatl_tYG836TOs4Mv:not(._3Lu_5jVxDAvsdeGpBzaQAt):hover ._2jj5TjFhHD1lvxMlpJYek6 {
    transform: none;
}

.B-vCdL38RiJlhfSRgZv78 ._3OSZu24hLN7YKjqGi7I2Xp {
    background-color: rgba(var(--minimal_dark_color_rgba), .05) !important;
    color: #fff;
    backdrop-filter: blur(30px);
    border-top-left-radius: 5px !important;
    border-top: 1px solid var(--minimal_dark_invisblegrey) !important;
    border-left: 1px solid var(--minimal_dark_invisblegrey) !important;
}

.Yts2cS2BIbHJoh5UorpDq {
    border-radius: 5px !important;
}

._2sGn0cBsD44TjnUIh-lx9d {
    width: 240px;
    height: fit-content;
    background-color: var(--minimal_dark_invisblegrey);
    backdrop-filter: blur(20px);
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1VGPO4xU5sgRK6DFt4t74O .MIHa_O-B1JXrzkoGc255n {
    color: var(--minimal_dark_color);
    font-weight: 600;
}

._54PuCatl_tYG836TOs4Mv :hover .MyNb5dG3FsBnKdp8j_ntk {
    opacity: .2;
    transform: rotateZ(210deg) translateX(12%) translateY(32%);
    filter: blur(10px);
}

._2-p7shAZYrRijpaTU9bAFR:hover > div {
    background-color: var(--minimal_dark_color) !important;
}

._1yIzy56YfJIliF6ykwhP2r.bottom {
    left: 29px !important;
    height: 6px !important;
    width: 6px !important;
    top: 1px !important;
}

._3Dt__IV9HmQY4KgsvaOz1i {
    background-color: var(--minimal_dark_blacker);
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_greyblack2) !important;
}

._3Dt__IV9HmQY4KgsvaOz1i ._3YNfm7dGrnyUD_jVsU9L7 {
    color: var(--minimal_dark_color) !important;
}

._29b2a87G5A5NZeYh5Kgvea {
    background-color: var(--minimal_dark_blacker) !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_greyblack2) !important;
}

._3Dt__IV9HmQY4KgsvaOz1i ._1nxOnnCuHV-WYfXeUtBTKf {
    color: var(--minimal_dark_less_white) !important;
}

._3IWn-2rn7x98o5fDd0rAxb ._2Tnpameo_7u1gooRtVpheV svg circle {
    stroke: var(--minimal_dark_color) !important;
}

._1HgDLE-DG3HVYV4bVvKdAJ .V7RuDNUxhxoBRaiGWbk3B {
    border: 2px dashed var(--minimal_dark_color) !important;
}

._3oXyqYCk5syor0ZiuqyboQ .V7RuDNUxhxoBRaiGWbk3B {
    border: 2px solid var(--minimal_dark_color) !important;
    background: rgba(var(--minimal_dark_color_rgba),.75) !important;
}

._3BFcmjAaMyP6GTPwc0VyWi ._3PAPBHNnHiNjIQiBr7Ya3t {
    background-color: rgba(var(--minimal_dark_color_rgba),.9) !important;
}

._3IWn-2rn7x98o5fDd0rAxb.-D43EUFy_hOQ6W8fjUSV3 {
    border: 2px dashed var(--minimal_dark_color) !important;
}

._3IWn-2rn7x98o5fDd0rAxb._2AN97sM1rwSxFm4tZqB4JK {
    border: 2px solid var(--minimal_dark_color) !important;
	background: rgba(var(--minimal_dark_color_rgba),.5) !important;
}

._2Dd4T78PcCTUVgOtDGFY5j {
    background: var(--minimal_dark_blacker_alt) !important;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg {
    fill: var(--minimal_dark_color) !important;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg path, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg line, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg polyline, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg circle {
    stroke: var(--minimal_dark_color) !important;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq:hover svg path, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq:hover svg line, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq:hover svg polyline, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq:hover svg circle {
    stroke: var(--minimal_dark_less_white);
}

._2q70uOe6xM3-c5XIVfBLe6 ._2rqTSCLSSEycEiuCS_OkpX ._1grg9gmk1v5ri4iOuDymaz {
    flex-grow: 1;
    height: 1px;
    margin-left: 16px;
    align-self: center;
    background: linear-gradient(to right, rgba(var(--minimal_dark_color_rgba),.5), rgba(255, 255, 255, 0)) !important;
}

._3bWISeqP3H2j6YJnFwVEwu::after {
    background: var(--minimal_dark_blacker_alt) !important;
}

._3bWISeqP3H2j6YJnFwVEwu ._3pJqXMYgfG8Emi3vn6e2WV {
    flex-grow: 1;
    height: 1px;
    align-self: center;
    margin-left: 10px;
    background: linear-gradient(to right, rgba(var(--minimal_dark_color_rgba),.5), rgba(255, 255, 255, 0)) !important;
}

._170Npw5h84elypMSQ8zNDI ._1ennWu_xj2YF8FRYgJ2M2H ._1axoiZsC1RBp22JQmxiBIc.MIMuVt_bcI4rYVo1e14kR ._32e6rHniKd5ztOQ1lYIulu {
    border-radius: 2px !important;
    background-color: var(--minimal_dark_blacker) !important;
}

._170Npw5h84elypMSQ8zNDI ._1ennWu_xj2YF8FRYgJ2M2H ._1axoiZsC1RBp22JQmxiBIc ._3iV2vMTw_vwWJ_gmiz1Q1k {
    color: var(--minimal_dark_color) !important;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._31r1_h2SmzwQtP9ZLLyA0I {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU {
    border-radius: 0px !important;
}

._1SFpbc4QXF4_NR-Nd9lwis ._DialogInputContainer {
    background: transparent !important;
    border: 1px solid transparent !important;
}

._1SFpbc4QXF4_NR-Nd9lwis ._DialogInputContainer.DialogDropDown:hover {
    background: rgba(var(--minimal_dark_color),.25) !important;
}

.DialogCheckbox.Active .SVGIcon_DialogCheck path {
    stroke: var(--minimal_dark_color) !important;
}

._23SnllqT_AqZ1C_QHcNQ4Z .SVGIcon_ReadyToPlay circle {
    stroke: var(--minimal_dark_color) !important;
}

._23SnllqT_AqZ1C_QHcNQ4Z .SVGIcon_ReadyToPlay path {
    fill: var(--minimal_dark_color) !important;
}

._1YdRdM9TZ_3Xolwv9aVEv- ._DialogInputContainer {
    background: transparent !important;
    border: none !important;
}

._24G4gV0rYtRbebXM44GkKk._3ld7THBuSMiFtcB_Wo165i ._3__ODLQXuoDAX41pQbgHf9 {
    transform: translateX(16px) !important;
}

*:hover > ._2-p7shAZYrRijpaTU9bAFR {
    right: 1px !important;
}

.S-_LaQG5eEOM2HWZ-geJI.wE4V6Ei2Sy2qWDo_XNcwn.gpfocus, .S-_LaQG5eEOM2HWZ-geJI.wE4V6Ei2Sy2qWDo_XNcwn.gpfocuswithin, .S-_LaQG5eEOM2HWZ-geJI._27UVYW_V-GslmLf0-gfVCM:not(._1pmyxI3wxLrWwGnc52yVns):hover {
    background: var(--minimal_dark_be_grey) !important;
    color: #fff;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7._1v65xCmMo53Ju6vCXk4U0_ .Woh0kBQCmatzC1daBX9i6 {
    opacity: 1;
    transform: scale(1) translate(4px, -1px) !important;
}

html._2GpKTB_eizdXpH2xVGbMKi ._2y2tUbsMx8OIwkimGSyHmb {
    padding: 0px !important;
}

._23SnllqT_AqZ1C_QHcNQ4Z ._3sz4Ldugm_cV_JaHOErVR8 {
    border-radius: 50%;
    background-color: transparent !important;
}

._23SnllqT_AqZ1C_QHcNQ4Z:hover ._1PhK8scyztOxjJwWUpkiLJ {
    height: 13px;
    border-radius: 5px !important;
}

._23SnllqT_AqZ1C_QHcNQ4Z ._1PhK8scyztOxjJwWUpkiLJ {
    background-color: var(--minimal_dark_black) !important;
}

.DesktopUI ._DialogInputContainer {
    border-radius: 5px !important;
}

._1tBzypb5E2AwNuBuVns9Hl ._DialogInputContainer .DialogDropDown_CurrentDisplay {
    background-color: transparent !important;
	padding-top: 2px !important;
}

._1tBzypb5E2AwNuBuVns9Hl ._DialogInputContainer .DialogDropDown_Arrow {
    background-color: transparent !important;
}

._1tBzypb5E2AwNuBuVns9Hl ._DialogInputContainer.DialogDropDown:hover {
    background-color: var(--minimal_dark_black) !important;
}

._1YdRdM9TZ_3Xolwv9aVEv- ._DialogInputContainer.DialogDropDown {
    box-shadow: none;
    color: #fff;
    background-color: transparent !important;
    padding-left: 6px !important;
    padding-top: 2px !important;
    border: 1px solid var(--minimal_dark_greyblack) !important;
    padding-bottom: 0px !important;
    padding-right: 5px !important;
    border-radius: 5px !important;
    font-size: 12px !important;
}

._1YdRdM9TZ_3Xolwv9aVEv- ._DialogInputContainer.DialogDropDown:hover {
    box-shadow: none;
    color: #fff;
    background-color: var(--minimal_dark_be_grey) !important;
    padding-left: 6px !important;
    padding-top: 2px !important;
    border: 1px solid var(--minimal_dark_greyblack) !important;
    padding-bottom: 0px !important;
    padding-right: 5px !important;
    border-radius: 5px !important;
	font-size: 12px !important;
}

._2pAbUZVnG9Q1TYOfdvFmtX ._1Y5_HA7TsAPMiqgp01e3Ci {
    flex: none;
    user-select: none;
    font-size: 12px !important;
    box-shadow: none;
    background-color: transparent !important;
    padding-left: 6px !important;
    padding-top: 2px !important;
    border: 1px solid var(--minimal_dark_greyblack) !important;
    padding-bottom: 2px !important;
    padding-right: 5px !important;
    border-radius: 5px !important;
}

._2pAbUZVnG9Q1TYOfdvFmtX ._1Y5_HA7TsAPMiqgp01e3Ci:hover {
    flex: none;
    user-select: none;
    font-size: 12px !important;
    box-shadow: none;
    color: #fff;
    background-color: var(--minimal_dark_be_grey) !important;
    padding-left: 6px !important;
    padding-top: 2px !important;
    border: 1px solid var(--minimal_dark_greyblack) !important;
    padding-bottom: 2px !important;
    padding-right: 5px !important;
    border-radius: 5px !important;
}

._1YdRdM9TZ_3Xolwv9aVEv- ._2qm05e8tWSAb-_fAHytQCP {
    font-size: 12px !important;
}

._1YdRdM9TZ_3Xolwv9aVEv- ._DialogInputContainer .DialogDropDown_Arrow {
    top: 1px !important;
}

._23SnllqT_AqZ1C_QHcNQ4Z {
    padding-left: 4px !important;
}

._3SkuN_ykQuWGF94fclHdhJ._3dQDoCmoAJqOiOK7oAJIKM ._1PhK8scyztOxjJwWUpkiLJ {
    height: 13px !important;
    border-radius: 5px !important;
}

._1tBzypb5E2AwNuBuVns9Hl ._DialogInputContainer {
    padding: 0 !important;
}

.QO8XpcXyf6i06ZtmHfFA3 ._3eZ2geN87clv6TGPMJI0qs {
    color: var(--minimal_dark_fluogreen) !important;
}

.QO8XpcXyf6i06ZtmHfFA3 ._158pN0u30Fddq7XVASpxEe {
    background: var(--minimal_dark_fluogreen) !important;
    box-shadow: 0px 0px 8px 1px var(--minimal_dark_fluogreen), 0px 0px 16px 1px var(--minimal_dark_greensettings) !important;
}

._1SFpbc4QXF4_NR-Nd9lwis ._DialogInputContainer .DialogDropDown_CurrentDisplay {
    background-color: var(--minimal_dark_be_grey) !important;
    border-top: 1px solid var(--minimal_dark_blacker_alt) !important;
    border-bottom: 1px solid var(--minimal_dark_blacker_alt) !important;
    border-left: 1px solid var(--minimal_dark_blacker_alt) !important;
}

._1SFpbc4QXF4_NR-Nd9lwis ._DialogInputContainer .DialogDropDown_Arrow {
    background-color: var(--minimal_dark_be_grey) !important;
    border-bottom: 1px solid var(--minimal_dark_blacker_alt) !important;
    border-top: 1px solid var(--minimal_dark_blacker_alt)!important;
    border-right: 1px solid var(--minimal_dark_blacker_alt) !important;
}

._1SFpbc4QXF4_NR-Nd9lwis ._DialogInputContainer .DialogDropDown_CurrentDisplay:hover {
    background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 25%, rgba(38,38,38,1) 85%, rgba(38,38,38,1) 90%) !important;
    border-bottom: 1px solid var(--minimal_dark_blacker_alt) !important;
    border-top: 1px solid var(--minimal_dark_blacker_alt)!important;
}

._1SFpbc4QXF4_NR-Nd9lwis ._DialogInputContainer .DialogDropDown_CurrentDisplay:active {
    background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 25%, rgba(38,38,38,1) 85%, rgba(38,38,38,1) 90%) !important;
    border-bottom: 1px solid var(--minimal_dark_blacker_alt) !important;
    border-top: 1px solid var(--minimal_dark_blacker_alt) !important;
    box-shadow: inset 1px 2px 4px 0px #121212 !important;
}

._1SFpbc4QXF4_NR-Nd9lwis {
    padding-bottom: 0px !important;
}

._2EMM516bLA2dC0r3OreZnv ._2pHz57SGRWZSR3oEmPPKK_ {
    border-radius: 5px !important;
}

.WYgDg9NyCcMIVuMyZ_NBC {
    border-radius: 5px !important;
	border: 2px solid var(--minimal_dark_be_grey) !important;
}

._3IWn-2rn7x98o5fDd0rAxb {
    background: var(--minimal_dark_blacker) !important;
    border: 2px solid var(--minimal_dark_be_grey) !important;
}

._3IWn-2rn7x98o5fDd0rAxb:focus, ._3IWn-2rn7x98o5fDd0rAxb:hover {
    background: var(--minimal_dark_be_grey) !important;
    border-bottom: 2px solid var(--minimal_dark_color) !important;
}

._2q70uOe6xM3-c5XIVfBLe6 ._1sK_7c3sQut8lW08CQkIy7 {
    display: none;
}

._2q70uOe6xM3-c5XIVfBLe6 ._2rqTSCLSSEycEiuCS_OkpX ._8JUfQypf4Uxt2i_hxBk_t.Focusable:focus {
    outline: none !important;
    background-color: var(--minimal_dark_color) !important;
    color: var(--minimal_dark_white) !important;
    border-radius: 5px !important;
}

._2q70uOe6xM3-c5XIVfBLe6 ._2rqTSCLSSEycEiuCS_OkpX ._8JUfQypf4Uxt2i_hxBk_t:hover {
    background-color: var(--minimal_dark_be_grey) !important;
    border-radius: 5px !important;
}

._2-p7shAZYrRijpaTU9bAFR > div {
    background-color: rgb(18 18 18 / 10%) !important;
    backdrop-filter: blur(10px) !important;
    background-image: url("./resources/event_options.png") !important;
    background-position: 5px 6px !important;
    background-size: 7px !important;
    border-radius: 12px !important;
    box-shadow: 0 0 5px #000 !important;
    padding: 1px !important;
    border: 1px solid #525252 !important;
}

._2ZP8eOoQ1-pME4-pF91qSt ._276E6ijBpjMA2_iTxNhhjc {
    background-color: rgba(var(--minimal_dark_color_rgba),.5) !important;
}

._9sPoVBFyE_vE87mnZJ5aB {
    min-width: 256px !important;
    max-width: 346px !important;
}
