._1AMAp6cciTbpuVe8FTH3rK {
    box-shadow: 0 10px 32px 0px #000000ab;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._3QoRRxsgnDolcCPCrAPm47._34jjZG1A91u11b4W4AyNWo ._2MwqO9UiGxdr47Pnx0uw8I, ._3QoRRxsgnDolcCPCrAPm47 ._3gSTDNB2ZlqzhvkMEOxfCw {
    background: radial-gradient(circle, rgb(25 25 25 / 15%) 0%, rgb(18 18 18) 100%) !important;
}

.LN94bYM98sDoeFMv8vK8A {
    backdrop-filter: blur(4px) !important;
}

._3QoRRxsgnDolcCPCrAPm47 .TzmYo1OP0E5U3PkUBq2zY {
    backdrop-filter: blur(4px) !important;
}

._3QoRRxsgnDolcCPCrAPm47 ._2MwqO9UiGxdr47Pnx0uw8I {
    padding: 8px 8px 1px 12px !important;
}

._1s3b90MDEzWiXAzyEg4vu2 ._2HU_E-2SbIBuGTf-28tVgU {
    border-radius: 5px !important;
}

._1s3b90MDEzWiXAzyEg4vu2 {
    background: none !important;
    backdrop-filter: blur(4px) !important;
}

._3QoRRxsgnDolcCPCrAPm47 ._2rDsqxyJxBWUKDmY1lZ1Vw img {
    border-radius: 5px !important;
}

._3QoRRxsgnDolcCPCrAPm47 ._2rDsqxyJxBWUKDmY1lZ1Vw {
    border-radius: 5px !important;
}
