._3x1HklzyDs4TEjACrRO2tB {
    background: var(--minimal_dark_blacker_alt);
    height: 100%;
    flex: 1;
    display: flex;
    min-width: 0;
    flex-direction: column;
    user-select: none;
    outline: none;
    border-top: 0px solid var(--minimal_dark_be_grey);
}

._2TKEazUUS3TlniZfpc8OOe {
    padding: 4px 6px 2px 6px;
    background-color: var(--minimal_dark_blacker_alt);
    box-shadow: rgba(61,68,80,.75) 1px 0px 0px 0px inset, rgba(38,45,56,.42) 0px -1px 0px 0px inset, rgba(0,0,0,.2) 0px 3px 3px;
    position: relative;
    display: none; /* remove this line to display home and collection button */
    height: 36px;
    border-top: 1px solid #222323;
}

._2sYIghGVXJr6tsQVvcryy8 {
    box-sizing: border-box;
    color: #707379;
    border: 1px solid rgba(29,32,37,0);
    border-right: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(to right, #0e0e0eb8 40%, rgba(62, 78, 105, 0) 100%) !important;
    display: flex;
    flex-grow: 0;
    user-select: none;
    cursor: pointer;
    border-top: 1px solid var(--minimal_dark_be_grey) !important;
    border-bottom: 1px solid var(--minimal_dark_be_grey) !important;
}

.ehAsUVkW87U5OHZJohB5N ._3SFRZYIb9Y2q7YsVtB3YKb {
    stroke: #676666 !important;
}

.ehAsUVkW87U5OHZJohB5N ._3SFRZYIb9Y2q7YsVtB3YKb:hover {
    stroke: var(--minimal_dark_color) !important;
}

._2sYIghGVXJr6tsQVvcryy8:hover {
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(38, 38, 38, 1) 40%, rgba(62, 78, 105, 0) 100%) !important;
	/* border-bottom: 1px solid var(--minimal_dark_ligthgrey) !important; */
}

._2-O4ZG0KrnSrzISHBKctFQ {
    background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(20,20,20,1) 50%, rgba(255,255,255,0) 100%);
	box-sizing: border-box;
    font-size: 12px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 0px 0px 0px #000, 0 0px 0px 0px #000;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    user-select: none;
    outline: none;
    cursor: default;
}

._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ, ._1UBpAXP408Ez_L_mXhW5Q9 {
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(var(--minimal_dark_color_rgba),.1) 0%, rgba(30,30,30,1) 50%, rgba(255,255,255,0) 100%) !important;
    box-shadow: 0 0px 2px 0px #0005, 0 0px 16px 0px #0004;
	border-left: 2px solid var(--minimal_dark_color) !important;
}

._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ:hover, ._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj, ._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ :hover, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ:hover, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ :hover {    
    /* background: linear-gradient(90deg, rgba(var(--minimal_dark_color_rgba),.1) 0%, rgba(30,30,30,1) 50%, rgba(255,255,255,0) 100%) !important; */
    background: transparent !important;
}

._2-O4ZG0KrnSrzISHBKctFQ:hover {
    color: #fff;
    background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(30,30,30,1) 50%, rgba(255,255,255,0) 100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	border-left: 2px solid rgba(var(--minimal_dark_color_rgba),0.4) !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj {
    color: #fff;
    background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(30,30,30,1) 50%, rgba(255,255,255,0) 100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

._3pSPluBgf0NeR1kkCLWMhR ._1ooROmAgkhoBH_o65yl9dJ {
    width: 100%;
    height: 100%;
    flex: none;
    fill: rgba(255,255,255,.05);
    position: absolute;
    z-index: 0;
    -webkit-mask-image: linear-gradient(to right, rgb(19 19 19) 30%, #1b1b1bd6 80%);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    background: var(--minimal_dark_blacker);
}

._3pSPluBgf0NeR1kkCLWMhR.eNLOx4LVceeMwRvTVWh3 {
    background-color: var(--minimal_dark_be_grey);
    background-repeat: no-repeat;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC:hover {
    background-color: var(--minimal_dark_black) !important;
    color: var(--minimal_dark_color) !important;
}

._1ZS_xta5HMXzR8JgxDH6n7 {
    box-sizing: border-box;
    padding: 8px 6px 0px;
    outline: none;
    display: flex;
    min-width: 0;
    position: relative;
    border-top: solid 1px var(--minimal_dark_be_grey);
}

._3cV3O8FnPQqpJO5kIMUlLX:hover ._2mZ8LlvoUiyeEUtIWuTri {
    color: var(--minimal_dark_currency);
}

._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE {
    color: var(--minimal_dark_installed_games);
}

._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE:hover {
    color: var(--minimal_dark_white);
	margin-left: 2px !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._2ws8DONH9fxQjPXEmRpujE {
    color: var(--minimal_dark_color);
	margin-left: 2px !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph:hover {
    color: var(--minimal_dark_white);
	margin-left: 2px !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._5YTBr7WwIfzVU_3nUtAph {
    color: var(--minimal_dark_red2);
}

._1UBpAXP408Ez_L_mXhW5Q9 {
    color: var(--minimal_dark_orange);
}

.SVGIcon_Button .SVGIcon_FriendIcon {
	color:var(--minimal_dark_color);
}

.cNZ3wORgnf1KSNhI2eE2M Focusable {
	color:var(--minimal_dark_color);
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 ._3uk3F1BmAJQR6rl1TPcaif {
    color: var(--minimal_dark_browser_overlay_close);
    flex-shrink: 0;
    margin-left: 4px;
	text-transform: var(--minimal_dark_fontdown);
}

._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k {
    color: var(--minimal_dark_status_green);
    
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}

.cNZ3wORgnf1KSNhI2eE2M {
    width: 11px;
    height: 11px;
    position: absolute;
    left: 6px;
    top: 3px;
}

._3cV3O8FnPQqpJO5kIMUlLX {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 0;
    padding: 3px 9px;
    padding-left: 2px;
    color: var(--minimal_dark_currency);
}

.uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: var(--minimal_dark_black);
    border: 1px solid #36383e;
    opacity: 1;
    flex: 0;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    border-radius: 4px;
}

.uE7Pj4tb2n3_Bx4vjEX0a:hover .SVGIcon_Arrow {
    background-color: var(--minimal_dark_blacker);
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._1Gjk27xaRIzt2zOSwOSP0N {
    background-color: var(--minimal_dark_blacker);
}

._2-O4ZG0KrnSrzISHBKctFQ .ga1hyw11cdBVodrCAidPF {
    margin-right: 10px;
    margin-top: -1px;
	border-radius: 10px !important;
}

._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
    opacity: 1;
    border-radius: 5px !important;
}

._2sYIghGVXJr6tsQVvcryy8.sXMOsx8OIRalBMxO9yFY5 {
    background: linear-gradient(to right, rgba(var(--minimal_dark_color_rgba), 0.15) 40%, rgba(62, 78, 105, 0) 100%) !important;
    box-shadow: none !important;
	border-top: 1px solid rgba(var(--minimal_dark_color_rgba), 0.1) !important;
    border-bottom: 1px solid rgba(var(--minimal_dark_color_rgba), 0.1) !important;
}

.ModalOverlayBackground {
    background: rgba(0,0,0,.8);
    z-index: 7;
    backdrop-filter: blur(5px);
}

._20QAC4WMXm8qFE8waUT5oo {
    border-top: 1px solid var(--minimal_dark_be_grey) !important;
    border-bottom: 1px solid var(--minimal_dark_be_grey) !important;
    border-right: 1px solid var(--minimal_dark_be_grey) !important;
	border-left: 1px solid var(--minimal_dark_be_grey) !important;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
    border: 1px solid var(--minimal_dark_be_grey) !important;
    background-color: var(--minimal_dark_blacker) !important;
}

._172OFJhtx4Jt2ydY6-9IUm ._3gzh_NvTKey56JeHY7Q1WW {
    background-color: var(--minimal_dark_color) !important;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._2rILnoW6swWh4_9TDWWc31 {
    background-color: var(--minimal_dark_blacker) !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
	border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 {
    padding: 2px 0px 2px 24px !important;
}

.cNZ3wORgnf1KSNhI2eE2M svg circle, .cNZ3wORgnf1KSNhI2eE2M svg path {
    fill: transparent !important;
}

svg.SVGIcon_Button.SVGIcon_FriendIcon {
    padding-top: 6px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 6px;
    border-left: 2px solid #8cd61d !important;
    margin-top: -3px;
    margin-left: 0px;
    background: transparent !important;
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
    padding-left: 32px !important;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._15aGnszAf3gHD-PFdJBoFD polygon {
    fill: #fff !important;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC:hover ._15aGnszAf3gHD-PFdJBoFD polygon {
    fill: var(--minimal_dark_color) !important;
}

._2iiN7AYnLFTRFRiuipiYJz {
    background-color: #26262680 !important;
    backdrop-filter: blur(10px) !important;
    padding: 4px !important;
    border-radius: 5px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
    width: 180px !important;
}

._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ {
    background-color: transparent !important;
}

._3km84Vscc0uS91f0RN_30C {
    border-top: none !important;
    border-bottom: 1px solid rgba(var(--minimal_dark_color_rgba),.5) !important;
    border-left: 2px solid rgba(var(--minimal_dark_color_rgba),.5) !important;
    background-color: var(--minimal_dark_blacker) !important;
    margin-left: 2px !important;
    margin-right: 1px !important;
    color: rgba(var(--minimal_dark_color_rgba),.4) !important;
}
