.gamelistbar_Container_3x1Hk {
    background: var(--minimal_dark_blacker_alt);
    height: 100%;
    flex: 1;
    display: flex;
    min-width: 0;
    flex-direction: column;
    user-select: none;
    outline: none;
    border-top: 0px solid var(--minimal_dark_be_grey);
}

.gamelistbar_GameListHomeAndSearch_2TKEa {
    padding: 4px 6px 2px 6px;
    background-color: var(--minimal_dark_blacker_alt);
    box-shadow: rgba(61,68,80,.75) 1px 0px 0px 0px inset, rgba(38,45,56,.42) 0px -1px 0px 0px inset, rgba(0,0,0,.2) 0px 3px 3px;
    position: relative;
    display: none; /* remove this line to display home and collection button */
    height: 36px;
    border-top: 1px solid #222323;
}

.gamelistsectionheader_Container_2sYIg {
    box-sizing: border-box;
    color: #707379;
    border: 1px solid rgba(29,32,37,0);
    border-right: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(to right, #0e0e0eb8 40%, rgba(62, 78, 105, 0) 100%) !important;
    display: flex;
    flex-grow: 0;
    user-select: none;
    cursor: pointer;
    border-top: 1px solid var(--minimal_dark_be_grey) !important;
    border-bottom: 1px solid var(--minimal_dark_be_grey) !important;
}

.collapseicon_CollapseIconParent_ehAsU .collapseicon_Container_3SFRZ {
    stroke: #676666 !important;
}

.collapseicon_CollapseIconParent_ehAsU .collapseicon_Container_3SFRZ:hover {
    stroke: var(--minimal_dark_color) !important;
}

.gamelistsectionheader_Container_2sYIg:hover {
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(38, 38, 38, 1) 40%, rgba(62, 78, 105, 0) 100%) !important;
	/* border-bottom: 1px solid var(--minimal_dark_ligthgrey) !important; */
}

.gamelistentry_Container_2-O4Z {
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(20,20,20,1) 50%, rgba(255,255,255,0) 100%);
    box-shadow: 0 0px 2px 0px #0005, 0 0px 16px 0px #0004;
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z, .gamelistentry_Selected_1UBpA {
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(var(--minimal_dark_color_rgba),.1) 0%, rgba(30,30,30,1) 50%, rgba(255,255,255,0) 100%) !important;
    box-shadow: 0 0px 2px 0px #0005, 0 0px 16px 0px #0004;
	border-left: 2px solid var(--minimal_dark_color) !important;
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z :hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z :hover {    
    /* background: linear-gradient(90deg, rgba(var(--minimal_dark_color_rgba),.1) 0%, rgba(30,30,30,1) 50%, rgba(255,255,255,0) 100%) !important; */
    background: transparent !important;
}

.gamelistentry_Container_2-O4Z:hover {
    color: #fff;
    background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(30,30,30,1) 50%, rgba(255,255,255,0) 100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	border-left: 2px solid rgba(var(--minimal_dark_color_rgba),0.4) !important;
}

.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
    color: #fff;
    background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(30,30,30,1) 50%, rgba(255,255,255,0) 100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.gamelisthome_Bar_3pSPl .gamelisthome_Icon_1ooRO {
    width: 100%;
    height: 100%;
    flex: none;
    fill: rgba(255,255,255,.05);
    position: absolute;
    z-index: 0;
    -webkit-mask-image: linear-gradient(to right, rgb(19 19 19) 30%, #1b1b1bd6 80%);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    background: var(--minimal_dark_blacker);
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx {
    background-color: var(--minimal_dark_be_grey);
    background-repeat: no-repeat;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m:hover {
    background-color: var(--minimal_dark_be_grey) !important;
    color: var(--minimal_dark_color) !important;
}

.gamelistdropdown_Bar_1ZS_x {
    box-sizing: border-box;
    padding: 8px 6px 0px;
    outline: none;
    display: flex;
    min-width: 0;
    position: relative;
    border-top: solid 1px var(--minimal_dark_be_grey);
}

.gamelistsectionheader_SectionHeaderContent_3cV3O:hover .gamelistsectionheader_SectionName_2mZ8L {
    color: var(--minimal_dark_currency);
}

.gamelistentry_Container_2-O4Z.gamelistentry_Installed_2ws8D {
    color: var(--minimal_dark_installed_games);
}

.gamelistentry_Container_2-O4Z.gamelistentry_Installed_2ws8D:hover {
    color: var(--minimal_dark_white);
	margin-left: 2px !important;
}

.gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA.gamelistentry_Installed_2ws8D {
    color: var(--minimal_dark_color);
	margin-left: 2px !important;
}

.gamelistentry_Container_2-O4Z.gamelistentry_Uninstalled_5YTBr:hover {
    color: var(--minimal_dark_white);
	margin-left: 2px !important;
}

.gamelistentry_Container_2-O4Z.gamelistentry_Selected_1UBpA.gamelistentry_Uninstalled_5YTBr {
    color: var(--minimal_dark_red2);
}

.gamelistentry_Selected_1UBpA {
    color: var(--minimal_dark_orange);
}

.SVGIcon_Button .SVGIcon_FriendIcon {
	color:var(--minimal_dark_color);
}

.gamelistentry_FriendIsPlaying_cNZ3w Focusable {
	color:var(--minimal_dark_color);
}

.gamelistentry_Container_2-O4Z .gamelistentry_GameListEntryContainer_1vO6B .gamelistentry_DownloadProgress_3uk3F {
    color: var(--minimal_dark_browser_overlay_close);
    flex-shrink: 0;
    margin-left: 4px;
	text-transform: var(--minimal_dark_fontdown);
}

.gamelistentry_Container_2-O4Z.gamelistentry_Updating_1LVQp {
    color: var(--minimal_dark_status_green);
    
}

.gamelistentry_Container_2-O4Z .gamelistentry_GameListEntryContainer_1vO6B {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}

.gamelistentry_FriendIsPlaying_cNZ3w {
    width: 11px;
    height: 11px;
    position: absolute;
    left: 6px;
    top: 3px;
}

.gamelistsectionheader_SectionHeaderContent_3cV3O {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 0;
    padding: 3px 9px;
    padding-left: 2px;
    color: var(--minimal_dark_currency);
}

.gamelistentry_Container_2-O4Z {
    box-sizing: border-box;
    font-size: 12px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 0px 0px 0px #000, 0 0px 0px 0px #000;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    user-select: none;
    outline: none;
    cursor: default;
}

.gamelistdropdown_ScrollToTop_uE7Pj .SVGIcon_Arrow {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: var(--minimal_dark_black);
    border: 1px solid #36383e;
    opacity: 1;
    flex: 0;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    border-radius: 4px;
}

.gamelistdropdown_ScrollToTop_uE7Pj:hover .SVGIcon_Arrow {
    background-color: var(--minimal_dark_blacker);
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY.gamelistsearchbar_Disabled_1Gjk2 {
    background-color: var(--minimal_dark_blacker);
}

.gamelistentry_Container_2-O4Z .gamelistentry_GameIcon_ga1hy {
    margin-right: 10px;
    margin-top: -1px;
	border-radius: 10px !important;
}

.libraryassetimage_Visibility_3d_bT.libraryassetimage_Visible_yDr03 {
    opacity: 1;
    border-radius: 0px !important;
}

.gamelistsectionheader_Container_2sYIg.gamelistsectionheader_Selected_sXMOs {
    background: linear-gradient(to right, rgba(var(--minimal_dark_color_rgba), 0.15) 40%, rgba(62, 78, 105, 0) 100%) !important;
    box-shadow: none !important;
	border-top: 1px solid rgba(var(--minimal_dark_color_rgba), 0.1) !important;
    border-bottom: 1px solid rgba(var(--minimal_dark_color_rgba), 0.1) !important;
}

.ModalOverlayBackground {
    background: rgba(0,0,0,.8);
    z-index: 7;
    backdrop-filter: blur(5px);
}

.gamelistsearchbar_Container_20QAC {
    border-top: 1px solid var(--minimal_dark_be_grey) !important;
    border-bottom: 1px solid var(--minimal_dark_be_grey) !important;
    border-right: 1px solid var(--minimal_dark_be_grey) !important;
	border-left: 1px solid var(--minimal_dark_be_grey) !important;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m {
    border: 1px solid var(--minimal_dark_be_grey) !important;
    background-color: var(--minimal_dark_blacker) !important;
}

.gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_ {
    background-color: var(--minimal_dark_color) !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_Active_2rILn {
    background-color: var(--minimal_dark_blacker) !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
	border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.gamelistentry_Container_2-O4Z .gamelistentry_GameListEntryContainer_1vO6B {
    padding: 2px 0px 2px 24px !important;
}

.gamelistentry_FriendIsPlaying_cNZ3w svg circle, .gamelistentry_FriendIsPlaying_cNZ3w svg path {
    fill: transparent !important;
}

svg.SVGIcon_Button.SVGIcon_FriendIcon {
    padding-top: 6px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 6px;
    border-left: 2px solid #8cd61d !important;
    margin-top: -3px;
    margin-left: 0px;
    background: transparent !important;
}

.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase {
    padding-left: 32px !important;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Arrow_15aGn polygon {
    fill: #fff !important;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m:hover .gamelistdropdown_Arrow_15aGn polygon {
    fill: var(--minimal_dark_color) !important;
}

.gamelistentry_FriendStatusHover_2iiN7 {
    background-color: #26262680 !important;
    backdrop-filter: blur(10px) !important;
    padding: 4px !important;
    border-radius: 5px !important;
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z {
    background-color: transparent !important;
}

.gamelistentry_HasContextMenuOpen_3km84 {
    border: 1px solid rgba(var(--minimal_dark_color_rgba),.5) !important;
    background-color: var(--minimal_dark_blacker) !important;
}
