._3cykd-VfN_xBxf3Qxriccm ._3yD46y5pd3zOGR7CzKs0mC {
  padding-right: 0px;
  cursor: pointer;
  box-shadow: none;
  height: fit-content;
  width: fit-content;
  font-size: 0px;
  transition: .25s ease-out;
  color: transparent;
  border: 1px solid var(--minimal-dark-border);
  margin: 0;
}

.tool-tip-source:has(> ._2Lu3d-5qLmW4i19ysTt2jT):active ._3yD46y5pd3zOGR7CzKs0mC,
.tool-tip-source:has(> ._2Lu3d-5qLmW4i19ysTt2jT):hover ._3yD46y5pd3zOGR7CzKs0mC {
  background: var(--minimal-dark-blacker);
  font-size: 12px;
  color: #4cb4ff;
}