._1AMAp6cciTbpuVe8FTH3rK {
  box-shadow: 0 10px 32px 0px #000000ab;
  border-radius: var(--minimal-dark-corner);
  border: 1px solid var(--minimal-dark-border);
  height: auto;
  background: rgb(18 18 18 / 75%);
  backdrop-filter: blur(10px);
}

._108IPFOOzK5rCCHyQTvvcx {
  display: none;
}

._3QoRRxsgnDolcCPCrAPm47._34jjZG1A91u11b4W4AyNWo ._2MwqO9UiGxdr47Pnx0uw8I,
._3QoRRxsgnDolcCPCrAPm47 ._3gSTDNB2ZlqzhvkMEOxfCw {
  background: radial-gradient(circle, rgb(25 25 25 / 15%) 0%, rgb(18 18 18) 100%);
}

.LN94bYM98sDoeFMv8vK8A {
  backdrop-filter: blur(4px);
}

._3QoRRxsgnDolcCPCrAPm47 .TzmYo1OP0E5U3PkUBq2zY {
  backdrop-filter: blur(4px);
  height: 88px;
}

._3QoRRxsgnDolcCPCrAPm47 ._2MwqO9UiGxdr47Pnx0uw8I {
  padding: 8px 8px 1px 12px;
}

._1s3b90MDEzWiXAzyEg4vu2 ._2HU_E-2SbIBuGTf-28tVgU {
  border-radius: var(--minimal-dark-corner);
  margin-left: 8px;
  margin-right: 6px;
}

._1s3b90MDEzWiXAzyEg4vu2 {
  background: none;
  backdrop-filter: blur(4px);
  padding-top: 7px;
  padding-left: 0px;
  padding-bottom: 7px;
  height: auto;
}

._3QoRRxsgnDolcCPCrAPm47 ._2rDsqxyJxBWUKDmY1lZ1Vw img {
  border-radius: var(--minimal-dark-corner);
}

._3QoRRxsgnDolcCPCrAPm47 ._2rDsqxyJxBWUKDmY1lZ1Vw {
  border-radius: var(--minimal-dark-corner);
}

._1xTATKELHR-lRS_s3A4yzd ._3CZcHyWskP9Hc5t7AOo75A {
  height: auto;
}

._2SW_Y5HHBZR-uC8LI36lQM,
._34Ni9zAsK_yM78mn3FUTIA {
  display: none;
}

/* mini profil background video/picture - remove this line to show statics and video background on miniprofiles */
._3HzZhZyBuR0K4qXaQoHMxI {
  background: rgb(18 18 18 / 60%);
  backdrop-filter: blur(10px);
}

._3MrYvAGQ-g7bNccn6VJNpK {
  background: rgb(18 18 18 / 60%);
  backdrop-filter: blur(10px);
}

._2ZqfbNDeHFU_qaf3X3_Jjv {
  display: none;
}

.xUosYQXZvivPCxe-KwpvT {
  display: none;
}

/* end mini profil background video/picture */

._1xTATKELHR-lRS_s3A4yzd._1NkB7RuIs66QCtsv4kxeCu ._26ga2HHZL2HlK6wwFImcgX {
  padding-top: 16px;
}