._1OOQPJx0nCNP9ME9toCmV7::before {
    background: radial-gradient(155.42% 100% at 0% 0%, #121212 0 0%, rgb(12 12 12 / 33%) 100%);
}

._1OOQPJx0nCNP9ME9toCmV7 {
    background: var(--minimal_dark_blacker_alt);
    /* background: radial-gradient(155.42% 100% at 0% 0%, #121212 0 0%, #121212 100%); */
    border-top: 1px solid var(--minimal_dark_color);
    border-radius: var(--minimal_dark_corner);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

._1OOQPJx0nCNP9ME9toCmV7._2Rof8JJgVaPehWzOAxOJBw:hover ._3RkGkNRNheAkoRA3migph5 {
    color: var(--minimal_dark_color);
}

._32niVn3s7EKoKY0-pASwDJ {
    border-radius: var(--minimal_dark_corner);
    border: 1px solid var(--minimal_dark_be_grey);
}

._2h6KD6p6y4vIgO2Toxx-_K ._1iutOH026zK2dbpsMFDmMm, ._2NdiftmP-B3C4LPWnNGTCB ._1iutOH026zK2dbpsMFDmMm, .QFW0BtI4l77AFmv1xLAkx ._1iutOH026zK2dbpsMFDmMm, ._3B8wRA4H7e_oSksYNqpSPv ._1iutOH026zK2dbpsMFDmMm {
    visibility: hidden;
}
