.bSKGlAJG2UVWTsntEJY2v {
    font-size: 18px !important;
}

._39oUCO1OuizVPwcnnv88no ._3s0lkohH8wU2do0K1il28Y {
    width: 300px !important;
}

._3Z3ohQ8-1NKnCZkbS6fvy {
    margin-left: 332px !important;
}

._7AlhCx3XGzBeIrQaCneUD {
    font-size: 18px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(1), ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(1):hover, ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(1):active, ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(2), ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(2):hover, ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(2):active, ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(3), ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(3):hover, ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(3):active, ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(4), ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(4):hover, ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(4):active, ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(5), ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(5):hover, ._7AlhCx3XGzBeIrQaCneUD:nth-of-type(5):active {
    font-size: 18px !important;
}

._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
    margin-top: 1px !important;
}

._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ {
    margin-top: 0px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(1) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    top: 3px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(1) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    top: 5px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(1) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    top: 2px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(2) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    top: 3px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(2) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    top: 5px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(2) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    top: 2px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(3) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    top: 3px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(3) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    top: 5px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(3) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    top: 2px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(4) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    top: 3px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(4) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    top: 5px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(4) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    top: 2px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(5) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    top: 3px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(5) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    top: 5px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(5) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    top: 2px !important;
}

._3cykd-VfN_xBxf3Qxriccm ._3yD46y5pd3zOGR7CzKs0mC, ._3cykd-VfN_xBxf3Qxriccm ._3yD46y5pd3zOGR7CzKs0mC:hover {
    font-size: 18px !important;
}

._3yD46y5pd3zOGR7CzKs0mC ._2jphjrSifC6orDT4g_7Wd {
    font-size: 12px !important;
}