.nOdcT-MoOaXGePXLyPe0H, ._2saJTAocZ9TnYXTGvnqUMC {
    font-size: 12px !important;
}

._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
    font-size: 11px !important;
}

.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN, .ingame.awayOrSnooze ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN {
    font-size: 11px !important;
}

.friendGroup.gameGroup .groupName {
    font-size: 12px !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends .groupName {
    font-size: 12px !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.offlineFriends .groupName {
    font-size: 12px !important;
}
