html.Rp8QOGJ2DypeDniMnRBhr.MillenniumWindow_MainSteamWindow body.QsvsRVwbsApgKt1MhM0fz.DesktopUI ._27qasW5wLU4h4nUgawpo1q ._1ENHEsrSLcTRtPQFl1F-wL._1DvwQt0JN-Ogp_4tVZdkzX ._3mz8wQ6Q44B8P7pzPP4Iyw ._3Z7VQ1IMk4E3HsHvrkLNgo ._39oUCO1OuizVPwcnnv88no ._3cykd-VfN_xBxf3Qxriccm ._3yD46y5pd3zOGR7CzKs0mC:hover .nibodjvvrm86uCfnnAn4g.X-Small.online {
    transform: scale(0.8) !important;
    transition: .25s ease-out !important;
}

html.Rp8QOGJ2DypeDniMnRBhr.MillenniumWindow_MainSteamWindow body.QsvsRVwbsApgKt1MhM0fz.DesktopUI ._27qasW5wLU4h4nUgawpo1q ._1ENHEsrSLcTRtPQFl1F-wL._1DvwQt0JN-Ogp_4tVZdkzX ._3mz8wQ6Q44B8P7pzPP4Iyw ._3Z7VQ1IMk4E3HsHvrkLNgo ._39oUCO1OuizVPwcnnv88no ._3cykd-VfN_xBxf3Qxriccm ._3yD46y5pd3zOGR7CzKs0mC:hover .nibodjvvrm86uCfnnAn4g.X-Small.ingame {
    transform: scale(0.8) !important;
    transition: .25s ease-out !important;
}

html.Rp8QOGJ2DypeDniMnRBhr.MillenniumWindow_MainSteamWindow body.QsvsRVwbsApgKt1MhM0fz.DesktopUI ._27qasW5wLU4h4nUgawpo1q ._1ENHEsrSLcTRtPQFl1F-wL._1DvwQt0JN-Ogp_4tVZdkzX ._3mz8wQ6Q44B8P7pzPP4Iyw ._3Z7VQ1IMk4E3HsHvrkLNgo ._39oUCO1OuizVPwcnnv88no ._3cykd-VfN_xBxf3Qxriccm ._3yD46y5pd3zOGR7CzKs0mC:hover .nibodjvvrm86uCfnnAn4g.X-Small.awayOrSnooze {
    transform: scale(0.8) !important;
    transition: .25s ease-out !important;
}
