* {
	-webkit-millennium: 1;
}

:root { 

/* global colors */
--minimal_dark_be_grey: #181818 !important;
--minimal_dark_black: #141414 !important;
--minimal_dark_blacker: #080808 !important;
--minimal_dark_blacker_alt: #000000 !important;
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 {
    background: var(--minimal_dark_blacker_alt) !important;
}
