svg.SVGIcon_Button.SVGIcon_FriendIcon {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  border-left: none;
  margin-top: -3px;
  margin-left: 4px;
  height: 5px;
  width: 5px;
  background: #8cd61d;
  border-radius: 0px;
}