svg.SVGIcon_Button.SVGIcon_FriendIcon {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  border-left: none;
  margin-top: -3px;
  margin-left: 1px;
  height: 4px;
  width: 10px;
  background: #8cd61d;
  border-radius: var(--minimal-dark-corner);
  transform: translate(0px, -1px);
}