._3vHkmRShhzwd67_MtEq8-n {
    gap: 24px 4px !important;
    /* padding-right: 97px !important; */
}

._2c0Fgw4ROufef0QaSULEkw {
    height: 0px !important;
}

.DGRkX_HYUzbFaqRysWQVi {
    height: auto !important;
}

.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5.HighPerfMode.TallWindow.UltraWideWindow.WideWindow ._3vHkmRShhzwd67_MtEq8-n._3DJLGrqzoQ5vMDI_4VG502.Panel {
    padding-right: 0px !important;
	grid-template-columns: repeat(auto-fit, 148px) !important;
}

.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5.HighPerfMode.MediumWindow ._3vHkmRShhzwd67_MtEq8-n._3DJLGrqzoQ5vMDI_4VG502.Panel {
    padding-right: 0px !important;
	grid-template-columns: repeat(auto-fit, 148px) !important;
}

.V7RuDNUxhxoBRaiGWbk3B ._3DJLGrqzoQ5vMDI_4VG502 {
    /* justify-content: unset !important; */
	justify-content: space-around !important;
}
