._27RcNu8aXKBpYkHcNNrt-X {
    background: rgb(18 18 18 / 50%) !important;
}

/* top of the game page when scrolling. */
._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm {
    backdrop-filter: blur(8px) !important;
    background: rgb(18 18 18 / 40%) !important;
}

._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz {
    background: transparent !important;
    border-top: 1px solid var(--minimal_dark_invisiblegrey) !important;
}

/* end top of the game page when scrolling. */
