._2_FomluqqgQ2Hx8ON3AVep .wi0pDywRgOCxhG7OqQNaA {
    height: 6px !important;
    --color-progress-bar-foreground: var(--minimal_dark_progress_bar) !important;
    --color-progress-bar-background: #000000;
    border-radius: 10px;
    transform: translate(-16px, 4px) !important;
    width: 43px !important;
    border-radius: var(--minimal_dark_corner) !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.ip-YZhijAMZcuRoXBGiye ._1sCy-pm412Smb0wJx0W-4 {
    transform: translate(-25px, 3px) !important;
}
