._3vHkmRShhzwd67_MtEq8-n {
    gap: 24px 4px !important;
    padding-right: 137px !important;
}

._2c0Fgw4ROufef0QaSULEkw {
    height: 0px !important;
}

.DGRkX_HYUzbFaqRysWQVi {
    height: auto !important;
}
