._1ZS_xta5HMXzR8JgxDH6n7 {
    display: none !important;
}

._9sPoVBFyE_vE87mnZJ5aB {
    max-width: 256px !important;
}

._1rDh5rXSFZJOqCa4UpnI4z {
    border-top: 1px solid var(--minimal_dark_be_grey) !important;
}

._2Nq6ov7A1hGcHXVOXNt_OE {
    border-top: 0px solid var(--minimal_dark_be_grey) !important;
}
