.LibraryDisplaySizeMedium ._3YO5BpDmZERh_G8kaWbaSJ {
    width: 210px !important;
}

.LibraryDisplaySizeMedium .B-vCdL38RiJlhfSRgZv78 ._3XsLynGyI82XQfWQ8FBuOT {
    max-height: 60px !important;
    height: 60px !important;
    font-size: 12px !important;
}

.LibraryDisplaySizeMedium ._17uEBe5Ri8TMsnfELvs8-N {
    height: 268px !important;
}

.B-vCdL38RiJlhfSRgZv78 {
    width: 98% !important;
}

._2-p7shAZYrRijpaTU9bAFR > div {
    background-position-x: 3px !important;
}

._3_xMyCJAh_Dv99KgZ54P3j ._28IqrZIgxpqkUQyhdaLDUN {
    white-space: normal !important;
	font-size: 12px !important;
}
