._1ZS_xta5HMXzR8JgxDH6n7 {
    padding: 6px 6px 0px !important;
}

._20QAC4WMXm8qFE8waUT5oo {
    border: 1px solid var(--minimal_dark_be_grey) !important;
    border-radius: var(--minimal_dark_corner) !important;
    margin: 0px 6px 6px 6px !important;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
    border: 0px solid var(--minimal_dark_be_grey) !important;
    background-color: var(--minimal_dark_blacker_alt) !important;
    border-radius: var(--minimal_dark_corner) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._36r2az6roul_Oej7D4BMI6 {
    margin: 4px 5px 4px 6px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
    padding: 5px !important;
    transform: translate(4px, -4px) !important;
    border-radius: var(--minimal_dark_corner) !important;
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS {
    border-radius: var(--minimal_dark_corner) !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._31r1_h2SmzwQtP9ZLLyA0I, ._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:not(._1Gjk27xaRIzt2zOSwOSP0N):hover {
    border-radius: var(--minimal_dark_corner) !important;
	border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._31r1_h2SmzwQtP9ZLLyA0I, ._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:not(._1Gjk27xaRIzt2zOSwOSP0N):active {
    border-radius: var(--minimal_dark_corner) !important;
	border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU {
    border-radius: var(--minimal_dark_corner) !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
    border-radius: var(--minimal_dark_corner) !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase:hover {
    border-radius: var(--minimal_dark_corner) !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow {
    border-radius: var(--minimal_dark_corner) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
    background-color: var(--minimal_dark_blacker_alt) !important;
}

.uE7Pj4tb2n3_Bx4vjEX0a.rkfSfuCLRt8sqpkXJqxYo {
    margin-left: 9px !important;
}
