._2UyOBeiSdBayaFdRa39N2O {
    padding-left: 19px !important;
}

.bSKGlAJG2UVWTsntEJY2v {
    font-size: 0px !important;
    padding-right: 0px !important;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2) {
    transform: translate(11px, 0px) scale(.78) !important;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3) {
    transform: translate(23px, 0px) scale(.78) !important;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(4) {
    transform: translate(35px, 0px) scale(.78) !important;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(5) {
    transform: translate(45px, 0px) scale(.78) !important;
}
