._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1) {
    border-top-left-radius: 0px !important;
}

._2UyOBeiSdBayaFdRa39N2O:hover:not(._2hcblpUHuN5CYOoq6eU2y0) {
    border-top-left-radius: 0px !important;
}

._2UyOBeiSdBayaFdRa39N2O:active:not(._2hcblpUHuN5CYOoq6eU2y0) {
    border-top-left-radius: 0px !important;
}

._39oUCO1OuizVPwcnnv88no ._3s0lkohH8wU2do0K1il28Y {
    border-top-left-radius: 0px !important;
}
