.store_bg_overlay {
    display: none !important;
}

.fullscreen-bg {
    display: none !important;
}

.home_page_takeover_link img {
    display: none !important;
}

body:not(.no_home_gutter) .home_page_body_ctn .page_background_holder {
    display: none !important;
}

.home_page_takeover_link {
    display: none !important;
}
