._3OzkVrQFFPv0aV41N4MrHV._1xInQb2gVGxBqTwFBdXoFW .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L {
  height: 70px;
  width: 45px;
  padding-left: 15px;
  padding-right: 10px;
}

._3OzkVrQFFPv0aV41N4MrHV._1xInQb2gVGxBqTwFBdXoFW .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L>svg {
  height: 40px;
  width: 40px;
  vertical-align: center;
  margin-bottom: 2px;
  margin-right: 1px;
}

._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L {
  height: 65px;
  width: 65px;
}

._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L>svg {
  height: 30px;
  vertical-align: middle;
  margin-bottom: 2px;
}

._2_lmTz0tA4NOSle5WaO1PZ ._3vg1vYU7iTWqONciv9cuJN._1Ye_0niF2UqB8uQTbm8B6B .ZTbww2QfIllvCwVHmpixE.ZTbww2QfIllvCwVHmpixE {
  transform: translate(0px, 18px);
}