.DesktopUI #popup_target .title-area-icon,
.friendsui-container .title-area-icon {
  width: 26px;
  height: 26px;
  transition: .25s ease-out;
  padding: 2px;
}

.DesktopUI #popup_target .title-area-icon.closeButton {
  transition: .25s ease-out;
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
}

.DesktopUI .title-area-icon.closeButton:hover {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
}

.DesktopUI .title-area-icon.closeButton:active {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
}

._1ENHEsrSLcTRtPQFl1F-wL.Maximized._1DvwQt0JN-Ogp_4tVZdkzX .title-area-icon.closeButton {
  transition: .25s ease-out;
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 0px;
}

.friendsui-container .title-area-icon {
  transform: translate(-4px, -1px);
  transition: .25s ease-out;
  margin-left: 2px;
}

.friendsui-container .title-area-icon.closeButton {
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
}

.friendsui-container .title-area-icon.closeButton:hover {
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
}

.friendsui-container .title-area-icon.closeButton:active {
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
}

html.friendsui-container.client_chat_frame.fullheight.SavedDimensionsPopup.core .title-area-icon.closeButton {
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
}

html.friendsui-container.client_chat_frame.fullheight.SavedDimensionsPopup.core .title-area-icon.closeButton:hover {
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
}

html.friendsui-container.client_chat_frame.fullheight.SavedDimensionsPopup.core .title-area-icon.closeButton:active {
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
}