.RGNMWtyj73_-WdhflrmuY {
  display: flex !important;
}

.RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
	display: none !important;
}

._1rDh5rXSFZJOqCa4UpnI4z:has(.RGNMWtyj73_-WdhflrmuY) {
    flex-direction: initial !important;
}

._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K {
    padding: 4px 14px 3px 14px !important;
    border-top: 1px solid var(--minimal_dark_be_grey) !important;
}

._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K ._3KaB94Jl4r0hFkthDPJy09 {
    margin-top: 0px !important;
}

._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K ._2m_orETo6AghzAnc0sISCt {
    margin-top: 1px !important;
    height: 18px !important;
}

._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K ._3KaB94Jl4r0hFkthDPJy09:hover {
    margin-top: 1px !important;
}

._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K ._2m_orETo6AghzAnc0sISCt:hover {
    margin-top: 1px !important;
}

.MillenniumSettings {
    width: 100% !important;
}

._9sPoVBFyE_vE87mnZJ5aB {
    min-width: 308px !important;
}

._276E6ijBpjMA2_iTxNhhjc {
    cursor: default;
}

._2ZP8eOoQ1-pME4-pF91qSt ._276E6ijBpjMA2_iTxNhhjc {
    background-color: var(--minimal_dark_be_grey) !important;
}

._3xRRJfD2xy95i9NhJxLTp0._2ZP8eOoQ1-pME4-pF91qSt {
    cursor: default;
}
