._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2) {
	display: none !important;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3) {
	display: none !important;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(4) {
	display: none !important;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(5) {
	display: none !important;
}

._3Z3ohQ8-1NKnCZkbS6fvy {
    margin-left: 134px !important;
}

._2D64jIEK7wpUR_NlObDW76 {
    translate: -180px 0px !important;
}
