._25lBLzuVeYAUG279up4xP8._2cO0HdvLEGAdhosLekWsmo {
	display: none !important
}

._25lBLzuVeYAUG279up4xP8:first-child {
	display: none !important;
}

._3Z3ohQ8-1NKnCZkbS6fvy {
    margin-left: 312px !important;
}

._2D64jIEK7wpUR_NlObDW76 {
    padding-left: 3px !important;
}
