._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2) {
  display: none;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3) {
  display: none;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(4) {
  display: none;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(5) {
  display: none;
}

._3Z3ohQ8-1NKnCZkbS6fvy {
  margin-left: 134px;
}