.friend.online.friendStatusHover.Panel.Focusable:hover .labelHolder,
.friend.offline.friendStatusHover.Panel.Focusable:hover .labelHolder,
.friend.online.awayOrSnooze.friendStatusHover.Panel.Focusable:hover .labelHolder,
.friend.awayOrSnooze.friendStatusHover.Panel.Focusable:hover .labelHolder,
.friend.online.friendStatusHover.Panel.Focusable:hover .labelHolder {
  transform: scale(1) translate(5px, -1px);
  transition: .25s ease-out;
}

.friend.ingame.friendStatusHover.Panel.Focusable:hover .labelHolder {
  transform: scale(1) translate(5px, 0px);
  transition: .25s ease-out;
}

.friend.ingame.awayOrSnooze.friendStatusHover.Panel.Focusable:hover .labelHolder {
  transform: scale(1) translate(5px, -3px);
  transition: .25s ease-out;
}