._3vHkmRShhzwd67_MtEq8-n {
    --minimal-dark-compact-grid-enabled: 1;
    column-gap: 4px !important;
    box-sizing: border-box !important;
    justify-content: start !important;
}

._2c0Fgw4ROufef0QaSULEkw {
    height: 0 !important;
}

.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5.HighPerfMode.TallWindow.UltraWideWindow.WideWindow ._3vHkmRShhzwd67_MtEq8-n._3DJLGrqzoQ5vMDI_4VG502.Panel {
    padding-right: 0 !important;
    /* grid-template-columns: repeat(auto-fill, 152px) !important; */
}

.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5.HighPerfMode.MediumWindow ._3vHkmRShhzwd67_MtEq8-n._3DJLGrqzoQ5vMDI_4VG502.Panel {
    padding-right: 0 !important;
    /* grid-template-columns: repeat(auto-fill, 148px) !important; */
}

._1esfEVxhqNfh8fzr_kEGKa:not(:last-child), ._2a9SnCjTTOhX5y6SfbKFkC:not(:last-child) {
    margin-right: 4px !important;
}

._3YO5BpDmZERh_G8kaWbaSJ:not(:last-child) {
    margin-right: 2px !important;
}
