._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE:hover {
    margin-left: 1px !important;
}

._2-O4ZG0KrnSrzISHBKctFQ:hover {
    border-left: 4px solid var(--minimal_dark_color) !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k.Focusable:hover {
    border-left: 4px solid var(--minimal_dark_status_green) !important;
    transition: .25s ease-out !important;
}

._2sYIghGVXJr6tsQVvcryy8:hover {
    border-left: 4px solid var(--minimal_dark_blacker) !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._2ws8DONH9fxQjPXEmRpujE {
    margin-left: 0px !important;
}

._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ, ._1UBpAXP408Ez_L_mXhW5Q9 {
    border-left: 2px solid var(--minimal_dark_color) !important;
    margin-left: 0px !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph:hover {
    margin-left: 2px !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._5YTBr7WwIfzVU_3nUtAph {
    margin-left: 2px !important;
}
