.NZMJ6g2iVnFsOOp-lDmIP.NZMJ6g2iVnFsOOp-lDmIP {
    max-height: 600px !important;
}

._1IX7FPSY9Jb82KhBVBSkZa {
    max-height: none !important;
}

._1ENHEsrSLcTRtPQFl1F-wL.Maximized._1DvwQt0JN-Ogp_4tVZdkzX .NZMJ6g2iVnFsOOp-lDmIP.NZMJ6g2iVnFsOOp-lDmIP {
    max-height: 600px !important;
}

._1ENHEsrSLcTRtPQFl1F-wL.Maximized._1DvwQt0JN-Ogp_4tVZdkzX ._1IX7FPSY9Jb82KhBVBSkZa {
    max-height: none !important;
}
