._27RcNu8aXKBpYkHcNNrt-X {
  background: rgb(18 18 18 / 50%);
}

/* top of the game page when scrolling. */
._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm {
  backdrop-filter: blur(10px);
  background: rgb(18 18 18 / 40%);
}

/* end top of the game page when scrolling. */