._27RcNu8aXKBpYkHcNNrt-X {
    background: rgb(18 18 18 / 50%) !important;
}

/* top of the game page when scrolling. */
._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm {
    backdrop-filter: blur(10px) !important;
    background: rgb(18 18 18 / 40%) !important;
}
/* end top of the game page when scrolling. */
