._2OOzYVWIHaKXm6_7sscT9i .OhSdLYuggDtBcWjYP0j_9 {
  display: flex;
  flex-direction: row;
}

._27RcNu8aXKBpYkHcNNrt-X ._11kuVRYZvWXn-3rBJ_6yL8._3wbndu1paxHkciYr4rFJH5 {
  display: none;
}

._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
  margin-left: 0px;
  padding-right: 50px;
  padding-left: 20px;
}

._2r4TK4BAuU-J4FuF_O7v_5._3yTl3RiWfo-Itg-xp967wP.Panel {
  transform: translate(20px, 0px);
}