.ChatMessageEntryVoice.Disabled, .ChatMessageEntryVoice {
	display: none !important;
}

.W0OhkJtz8zMUW8Mhu0BMO {
    height: 100px !important;
}

._2WfNoLBdfKwyutA6ho4aSH {
    transform: translate(0px, -1px) !important;
}
