._3Z7VQ1IMk4E3HsHvrkLNgo {
    background: var(--minimal_dark_blacker) !important;
}

._1TdaAqMFadi0UTqilrkelR {
    background: var(--minimal_dark_blacker) !important;
}

.ip-YZhijAMZcuRoXBGiye {
    background: var(--minimal_dark_blacker) !important;
}

._3vCzSrrXZzZjVJFZNg9SGu {
    background: var(--minimal_dark_blacker) !important;
}

._39oUCO1OuizVPwcnnv88no .qP17eBPXkfezFfexZ4hC3 {
    background: var(--minimal_dark_blacker) !important;
}
