/* contacts who play */
._2aor4XVOYzN1PBSREk0UbO .vzLedtsu3TtTlKLEKzIhH:nth-of-type(1) {
    display: none !important;
}

/* succes */
/* ._2aor4XVOYzN1PBSREk0UbO .vzLedtsu3TtTlKLEKzIhH:nth-of-type(3) { */
    /* display: none !important; */
/* } */

/* notes */
._2aor4XVOYzN1PBSREk0UbO .vzLedtsu3TtTlKLEKzIhH:nth-of-type(4) {
    display: none !important;
}

/* dlc */
._2aor4XVOYzN1PBSREk0UbO .vzLedtsu3TtTlKLEKzIhH:nth-of-type(6) {
    display: none !important;
}

/* screenchots */
/* ._2aor4XVOYzN1PBSREk0UbO .vzLedtsu3TtTlKLEKzIhH:nth-of-type(7) { */
    /* display: none !important; */
/* } */

/* evaluation */
._2aor4XVOYzN1PBSREk0UbO .vzLedtsu3TtTlKLEKzIhH:nth-of-type(8) {
    display: none !important;
}
