._25oBZpa3dUcMw8QAsa2u67._3yfoeR7q8sXXS2UyFcIK1K {
    height: auto !important;
}

._25oBZpa3dUcMw8QAsa2u67._3yfoeR7q8sXXS2UyFcIK1K>div:not(._1FXWy2UilVZIppT-PetDWw) {
    transform: scale(1) !important;
}

._25oBZpa3dUcMw8QAsa2u67._3s6_6sN8LyrlTHc_z6VfNU {
    z-index: 36 !important;
}

._25oBZpa3dUcMw8QAsa2u67, ._25oBZpa3dUcMw8QAsa2u67 div {
  background: transparent !important;
  background-color: transparent !important;
}

/* -i- button */
._3qDWQGB0rtwM3qpXTb11Q-:nth-of-type(2) {
    display: none !important;
}
/* end -i- button */
