.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI, ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI {
    padding: 4px 10px !important;
}

.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI:hover, .DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK, ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI:hover, ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK {
    padding-left: 15px !important;
}

/* friends context menu */

html._14wqdluDeDnnEcg3OSLEmd.client_chat_frame.MillenniumWindow_ContextMenu.Menu body.ContextMenuPopupBody.friendsui-container .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n.friendsContextMenu ._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:hover {
	padding-left: 14px !important;
}

html._14wqdluDeDnnEcg3OSLEmd.client_chat_frame.MillenniumWindow_ContextMenu.Menu body.ContextMenuPopupBody.friendsui-container .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n.friendsContextMenu ._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:last-child:hover {
	padding-left: 14px !important;
}

.contextMenuGameTitle.contextMenuUnselectable._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem.disabled:hover {
    padding-left: 14px !important;
}

html._14wqdluDeDnnEcg3OSLEmd.client_chat_frame.MillenniumWindow_ContextMenu.Menu body.ContextMenuPopupBody.friendsui-container .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n.friendsContextMenu .contextMenuSectionContent .contextMenuGameOptions._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:hover {
    padding-left: 14px !important;
}

html._14wqdluDeDnnEcg3OSLEmd.client_chat_frame.MillenniumWindow_ContextMenu.Menu body.ContextMenuPopupBody.friendsui-container .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n.friendsContextMenu .contextMenuSectionContent .contextMenuGameOptions._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:first-child:hover {
    padding-left: 14px !important;
}

html._14wqdluDeDnnEcg3OSLEmd.client_chat_frame.MillenniumWindow_ContextMenu.Menu body.ContextMenuPopupBody.friendsui-container .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n.friendsContextMenu .contextMenuSectionContent .contextMenuGameOptions._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:last-child:hover {
    padding-left: 14px !important;
}

._14wqdluDeDnnEcg3OSLEmd .client_chat_frame .MillenniumWindow_ContextMenu .Menu .ContextMenuPopupBody .friendsui-container .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n ._1n7Wloe5jZ6fSuvV18NNWI .contextMenuItem:hover {
    padding-left: 14px !important;
}

html._14wqdluDeDnnEcg3OSLEmd.client_chat_frame.MillenniumWindow_ContextMenu.Menu body.ContextMenuPopupBody.friendsui-container.WindowFocus .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n ._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:hover {
    padding-left: 14px !important;
}

html._14wqdluDeDnnEcg3OSLEmd.client_chat_frame.MillenniumWindow_ContextMenu.Menu body.ContextMenuPopupBody.friendsui-container.WindowFocus .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n ._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:first-child:hover {
    padding-left: 14px !important;
}

html._14wqdluDeDnnEcg3OSLEmd.client_chat_frame.MillenniumWindow_ContextMenu.Menu body.ContextMenuPopupBody.friendsui-container.WindowFocus .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n ._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:last-child:hover {
    padding-left: 14px !important;
}

html._14wqdluDeDnnEcg3OSLEmd.client_chat_frame.MillenniumWindow_ContextMenu.Menu body.ContextMenuPopupBody.friendsui-container .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n ._2RlEO6dx1vo3OB7EFJnzDi._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:hover, html._14wqdluDeDnnEcg3OSLEmd.client_chat_frame.MillenniumWindow_ContextMenu.Menu body.ContextMenuPopupBody.friendsui-container.WindowFocus .PP7LM0Ow1K5qkR8WElLpt.visible.ready._2yAm5LY_eu-Vg_52l0HFlM ._2EstNjFIIZm_WUSKm5Wt7n ._2RlEO6dx1vo3OB7EFJnzDi._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:hover {
    padding-left: 14px !important;
}

/* end friends context menu */