.V7RuDNUxhxoBRaiGWbk3B ._1VMQWnw-9FBp-MVXUbWfS_ ._3fiHsLeD_6rtm6bM9lHlVL._1RLnyCu6_DW-NTlpHTBhig ._1pwP4eeP1zQD7PEgmsep0W._54PuCatl_tYG836TOs4Mv._2wgFGloLUdbOVEeIYkuqTp ._3dncOt2dhpnFYQn-WYQ3Mb._1WWmQqppYq8c44A7nTMKUq._10w8f-1Y_YnWFgLF4St9pq {
    transform: translate(9px, 17px) !important;
    margin-right: 8px !important;
    margin-bottom: 0px !important;
}

.V7RuDNUxhxoBRaiGWbk3B ._1VMQWnw-9FBp-MVXUbWfS_ ._3fiHsLeD_6rtm6bM9lHlVL._1RLnyCu6_DW-NTlpHTBhig ._1pwP4eeP1zQD7PEgmsep0W._54PuCatl_tYG836TOs4Mv._2wgFGloLUdbOVEeIYkuqTp ._3dncOt2dhpnFYQn-WYQ3Mb._1WWmQqppYq8c44A7nTMKUq {
    transform: translate(9px, 17px) !important;
    margin-right: 8px !important;
    margin-bottom: 0px !important;
}

._3dncOt2dhpnFYQn-WYQ3Mb._1WWmQqppYq8c44A7nTMKUq {
    margin-right: 8px !important;
    transform: translate(9px, 17px) !important;
}

._2_lmTz0tA4NOSle5WaO1PZ ._3vg1vYU7iTWqONciv9cuJN._1Ye_0niF2UqB8uQTbm8B6B ._2sGn0cBsD44TjnUIh-lx9d ._12UNIdjT-Kv1ib31jk6J37._1HlOXuwI_CB4gGmMZCz8oE ._3_0Qbu8IAsqsv_6W5AxRhe ._3dncOt2dhpnFYQn-WYQ3Mb._1WWmQqppYq8c44A7nTMKUq._301ftk7pLtiYAWjjxEG0Gu {
    top: -13px !important;
    left: -10px !important;
}

:focus~._3dncOt2dhpnFYQn-WYQ3Mb._1WWmQqppYq8c44A7nTMKUq {
    transform: translate(9px, 17px) !important;
    margin-right: 8px !important;
    margin-bottom: 0px !important;
}
