._3vHkmRShhzwd67_MtEq8-n {
  gap: 24px 4px;
  padding-right: 97px;
}

._2c0Fgw4ROufef0QaSULEkw {
  height: 0px;
}

.DGRkX_HYUzbFaqRysWQVi {
  height: auto;
}

.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5.HighPerfMode.TallWindow.UltraWideWindow.WideWindow ._3vHkmRShhzwd67_MtEq8-n._3DJLGrqzoQ5vMDI_4VG502.Panel {
  padding-right: 0px;
}

.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5.HighPerfMode.MediumWindow ._3vHkmRShhzwd67_MtEq8-n._3DJLGrqzoQ5vMDI_4VG502.Panel {
  padding-right: 0px;
  grid-template-columns: repeat(auto-fit, 148px);
}

.V7RuDNUxhxoBRaiGWbk3B ._3DJLGrqzoQ5vMDI_4VG502 {
  justify-content: unset;
}