._1esfEVxhqNfh8fzr_kEGKa:not(:last-child) {
  margin-right: 4px;
}

._2a9SnCjTTOhX5y6SfbKFkC:not(:last-child) {
  margin-right: 4px;
}

._3YO5BpDmZERh_G8kaWbaSJ:not(:last-child) {
  margin-right: 2px;
}