._1ZS_xta5HMXzR8JgxDH6n7 {
  padding: 6px 6px 0px;
}

._20QAC4WMXm8qFE8waUT5oo {
  border: 1px solid var(--minimal-dark-border);
  border-radius: var(--minimal-dark-corner);
  margin: 0px 6px 6px 6px;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
  border: 0px solid var(--minimal-dark-border);
  background-color: var(--minimal-dark-blacker-alt);
  border-radius: var(--minimal-dark-corner);
  border: 1px solid var(--minimal-dark-border);
}

._1ZS_xta5HMXzR8JgxDH6n7 ._36r2az6roul_Oej7D4BMI6 {
  margin: 4px 5px 4px 6px;
  border: 1px solid var(--minimal-dark-border);
  padding: 5px;
  transform: translate(4px, -4px);
  border-radius: var(--minimal-dark-corner);
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS {
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._31r1_h2SmzwQtP9ZLLyA0I,
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:not(._1Gjk27xaRIzt2zOSwOSP0N):hover {
  border-radius: var(--minimal-dark-corner);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._31r1_h2SmzwQtP9ZLLyA0I,
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:not(._1Gjk27xaRIzt2zOSwOSP0N):active {
  border-radius: var(--minimal-dark-corner);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU {
  border-radius: var(--minimal-dark-corner);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase:hover {
  border-radius: var(--minimal-dark-corner);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow {
  border-radius: var(--minimal-dark-corner);
  border: 1px solid var(--minimal-dark-border);
  background-color: var(--minimal-dark-blacker-alt);
}

.uE7Pj4tb2n3_Bx4vjEX0a.rkfSfuCLRt8sqpkXJqxYo {
  margin-left: 9px;
}