._3xRRJfD2xy95i9NhJxLTp0 {
  flex-direction: row-reverse;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7._1v65xCmMo53Ju6vCXk4U0_ .Woh0kBQCmatzC1daBX9i6 {
  transform: scale(1) translate(-794px, -1px);
}

._20QAC4WMXm8qFE8waUT5oo {
  flex-direction: row-reverse;
}