._1ZS_xta5HMXzR8JgxDH6n7 {
  display: none;
}

._9sPoVBFyE_vE87mnZJ5aB {
  max-width: 256px;
}

._1rDh5rXSFZJOqCa4UpnI4z {
  border-top: 1px solid var(--minimal-dark-border);
}

._2Nq6ov7A1hGcHXVOXNt_OE {
  border-top: 0px solid var(--minimal-dark-border);
}

._20QAC4WMXm8qFE8waUT5oo {
  display: none;
}

._1ijTaXJJA5YWl_fW2IxcaT {
  transform: translate(0px, -1px);
}