.B-vCdL38RiJlhfSRgZv78 {
    display: none !important;
}

.aqYQCF7Ny9x3EKcjCOTRY {
    padding-top: 34px !important;
    padding-left: 1px !important;
}

._3_xMyCJAh_Dv99KgZ54P3j {
    margin-left: 1px !important;
    white-space: break-spaces !important;
    font-size: 11px !important;
    max-width: 150px !important;
    display: flex !important;
    align-items: center !important;
}

/* .LibraryDisplaySizeMedium */ ._17uEBe5Ri8TMsnfELvs8-N {
    height: auto !important;
}

._1Gu1U2_kcg3AWLrXQgX5S6 div.DVBcpUzJ0x6kaRMfug0OJ {
    font-size: 12px !important;
}

._1Gu1U2_kcg3AWLrXQgX5S6 div.DVBcpUzJ0x6kaRMfug0OJ:hover {
    color: var(--minimal_dark_color) !important;
    transition: .25s ease-out !important;
}

._11cYvnWDwOeGdlUpfGNlYt {
    margin-top: 0px !important;
    margin-bottom: 11px !important;
    margin-inline-end: calc(-1* -24px) !important;
}

/* .LibraryDisplaySizeMedium */ ._3YO5BpDmZERh_G8kaWbaSJ { 
    width: 220px !important;
    /* border-right: 1px solid var(--minimal_dark_invisiblegrey) !important; */
}

._3YO5BpDmZERh_G8kaWbaSJ {
    width: 190px !important;
    min-height: 132px !important;
}

._2o5c89vAnrXN8C60QTSMqO ._2hfibYuzyMOQ0sj2egsHh0 {
    font-size: 0px !important;
}

._3YO5BpDmZERh_G8kaWbaSJ:hover .DVBcpUzJ0x6kaRMfug0OJ {
    color: var(--minimal_dark_color) !important;
    transition: .25s ease-out !important;
}
