.ContentHubSalePage ._3CGy1EaqFgVMH1Atf-TZBY, ._2wlqOo3XXW1wCAxwfudaL8 {
    background-image: var(--minimal_dark_blacker_alt) !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
    border-radius: var(--minimal_dark_corner) !important;
}
