@import url('https://fonts.cdnfonts.com/css/depixel');

* {
    font-family: 'DePixel', sans-serif !important;
	font-weight: lighter !important;
}

._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
    margin-top: 6px !important;
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 {
    padding: 2px 0px 2px 4px !important;
}

._2-O4ZG0KrnSrzISHBKctFQ .ga1hyw11cdBVodrCAidPF {
    margin-top: -1px !important;
}

._1R9r2OBCxAmtuUVrgBEUBw._2E7G8grj_-tgxXbTXs1t2E.ga1hyw11cdBVodrCAidPF {
    margin-top: -1px !important;
}

._3_xMyCJAh_Dv99KgZ54P3j ._28IqrZIgxpqkUQyhdaLDUN {
    margin-top: 2px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(1) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    margin-top: -1px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(1) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: 0px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(1) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    margin-top: 0px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(1) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: 0px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(2) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    margin-top: -1px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(2) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: -1px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(2) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    margin-top: -1px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(2) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    margin-top: -1px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(2) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: -1px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(3) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    margin-top: -1px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(3) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: -1px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(3) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    margin-top: -1px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(3) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: -1px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(3) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: -1px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(4) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    margin-top: -1px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(4) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: 0px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(4) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    margin-top: 0px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(4) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: 0px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(4) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: 0px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(4) ._19axKcqYRuaJ8vdYKYmtTQ:active::before {
    margin-top: 0px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(5) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: 1px !important;
}

._2Lu3d-5qLmW4i19ysTt2jT._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:nth-of-type(5) ._19axKcqYRuaJ8vdYKYmtTQ::before {
    margin-top: 1px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(5) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: 1px !important;
}

._7AlhCx3XGzBeIrQaCneUD:nth-of-type(5) ._19axKcqYRuaJ8vdYKYmtTQ:hover::before {
    margin-top: 1px !important;
}

._3Sb2o_mQ30IDRh0C72QUUu ._2Z9gJ6Pd7eZn-kfODcXJuR .V7RuDNUxhxoBRaiGWbk3B .WYgDg9NyCcMIVuMyZ_NBC._3VOR2AeYATx3qSE0I-Pm-5.biTV-8rS2M65imVHU15Nv.xp7A-08Y404Of3FBHqX32.Panel ._3bkuozxKIatrWG3aeisthc {
    transform: translate(-2px, -1px) !important;
}
