@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

* {
  font-family: 'JetBrains Mono', sans-serif;
}

._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
  margin-top: 6px;
}

._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ {
  margin-top: 4px;
}

._7AlhCx3XGzBeIrQaCneUD:hover:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ {
  margin-top: 4px;
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 {
  padding: 6px 0px 2px 24px;
}

._2-O4ZG0KrnSrzISHBKctFQ .ga1hyw11cdBVodrCAidPF {
  margin-top: -4px;
}

._3_xMyCJAh_Dv99KgZ54P3j ._28IqrZIgxpqkUQyhdaLDUN {
  margin-top: 2px;
}

._3bkuozxKIatrWG3aeisthc {
  padding-top: 2px;
  transform: translate(0px, 4px);
}

._3gwMkKp82bb5aZj4EeQnpi {
  padding-top: 0px;
  transform: translate(0px, 7px);
}

.btn_grey_grey {
  margin-right: -6px;
}

._3ooxUb30k7736aTVnO179S {
  font-weight: 500;
}

.store_nav .tab>span {
  font-size: 12px;
  font-weight: normal;
  padding: 0 10px;
}

div#store_search {
  float: right;
}

.bSKGlAJG2UVWTsntEJY2v {
  font-size: 11.5px;
}

.DVBcpUzJ0x6kaRMfug0OJ {
  font-size: 12px;
}

.responsive_search_name_combined {
  display: inline-flex;
}

.search_result_row .col.search_released {
  width: 92px;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1) .bSKGlAJG2UVWTsntEJY2v {
  font-size: 0px;
}