._16jZ3HEbtaJTl80pQINN2Y ._7FiqKP7fZJGltkwRxPG6s {
    width: calc(708px - 0%) !important;
}

.vj9hwW9u0MpjH7MVjjNw0 {
    font-size: 0px !important;
    height: 46px !important;
    width: 19px !important;
    -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAaElEQVR4nO3WQQqAMAxE0X880/uvLRTvUfECKqIY2v9g9plFYECSpPcUoAI9eSoQZ0VagiP7zWxTFAlgTXBkv8hx4/L0fyRJkn5SnPHkWr9tlCLhjJckSfpMccaTa/22UYqEM16SNKMd8xQCsa44l2YAAAAASUVORK5CYII=") !important;
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-size: contain !important;
    -webkit-mask-position: center !important;
    background-color: white !important;
    transform: translate(9px, 0px) !important;
}

.vj9hwW9u0MpjH7MVjjNw0:hover {
    font-size: 0px !important;
    height: 25px !important;
    width: 19px !important;
    -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAaElEQVR4nO3WQQqAMAxE0X880/uvLRTvUfECKqIY2v9g9plFYECSpPcUoAI9eSoQZ0VagiP7zWxTFAlgTXBkv8hx4/L0fyRJkn5SnPHkWr9tlCLhjJckSfpMccaTa/22UYqEM16SNKMd8xQCsa44l2YAAAAASUVORK5CYII=") !important;
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-size: contain !important;
    -webkit-mask-position: center !important;
    background-color: var(--minimal_dark_color1) !important;
}

button._175B12uOwmeGBNcSaQFe-Z svg path {
    display: none !important;
}

button._175B12uOwmeGBNcSaQFe-Z:hover .vj9hwW9u0MpjH7MVjjNw0 {
    background-color: var(--minimal_dark_color1) !important;
}

._175B12uOwmeGBNcSaQFe-Z._3wlHWKFbgRAZPFtWEr65YT._2IyR9WyPwYb15ILBjPvLR9._3qY2sJFFtNsrx_rBDIT7l1.Focusable .vj9hwW9u0MpjH7MVjjNw0 {
    background-color: var(--minimal_dark_color1) !important;
}

._16jZ3HEbtaJTl80pQINN2Y ._7FiqKP7fZJGltkwRxPG6s {
    height: 36px !important;
}

.menu_takeover_background img {
    object-fit: cover !important;
    /* height: 36px !important; */
    filter: blur(25px) !important;
}

html:not(.rn_mobile_app) body.v7menu:not(.menu_background_overlap) .responsive_page_template_content {
    padding-top: 36px !important;
}
