._16jZ3HEbtaJTl80pQINN2Y ._7FiqKP7fZJGltkwRxPG6s, .qxuaSNtrNvE- .v2uRRqcZpzM- {
    height: 36px !important;
}

.menu_takeover_background img {
    object-fit: cover !important;
    /* height: 36px !important; */
    filter: blur(25px) !important;
}

html:not(.rn_mobile_app) body.v7menu:not(.menu_background_overlap) .responsive_page_template_content {
    padding-top: 36px !important;
}
