:root { 

--minimal_dark_corner: 0px !important;

}

::-webkit-scrollbar-thumb {
    background-color: #262626 !important;
    border-radius: 0px !important;
}

.friendsui-container ::-webkit-scrollbar-thumb {
    background-color: #262626 !important;
    border-radius: 0px !important;
}

.DialogProgressBar_Value {
    border-radius: 0px !important;
}

/* login */

.l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux {
    border: 2px solid #262626 !important;
    background-color: #121212 !important;
    border-radius: 0px !important;
}

.l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux:hover {
    border: 2px solid var(--SystemAccentColor) !important;
    background-color: #121212 !important;
    border-radius: 0px !important;
}

._1mt2mPMVEDfpOhhWePy9hc:focus .IfVUbt19eXIqaAuGh2i63, ._1mt2mPMVEDfpOhhWePy9hc:hover .IfVUbt19eXIqaAuGh2i63 {
    border: 2px solid var(--SystemAccentColor) !important;
	border-radius: 0px !important;
}

._1mt2mPMVEDfpOhhWePy9hc:focus .IfVUbt19eXIqaAuGh2i63, ._1mt2mPMVEDfpOhhWePy9hc:hover .IfVUbt19eXIqaAuGh2i63 svg rect {
    fill: var(--SystemAccentColor) !important;
}

.l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux>img, .l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux>svg {
    border-radius: 0px !important;
}

.VZ6x_grhNkIYJG__jEEyp.DesktopUI._1NBr0Hdw3P-7Q6P5UXs96Y, .DesktopUI .VZ6x_grhNkIYJG__jEEyp._1NBr0Hdw3P-7Q6P5UXs96Y {
    background: #121212 !important;
}

.VZ6x_grhNkIYJG__jEEyp {
    background: #121212 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt {
    background: #121212 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .DjSvCZoKKfoNSmarsEcTS {
    background: #141414 !important;
    border-radius: 0px !important;
    border: 1px solid #262626 !important;
	transition: .25s ease-out !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .DjSvCZoKKfoNSmarsEcTS:hover {
    background: #181818 !important;
    border-radius: 0px !important;
    border: 1px solid var(--SystemAccentColor) !important;
	color: var(--SystemAccentColor) !important;
	transition: .25s ease-out !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2GBWeup5cttgbTw8FM3tfx {
    border-radius: 0px !important;
    border: 1px solid #262626 !important;
    background-color: #121212 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2GBWeup5cttgbTw8FM3tfx:hover {
    border-radius: 0px !important;
    border: 1px solid var(--SystemAccentColor) !important;
    background-color: #181818 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .LBS7IDpob52Sb4ZoKobh0 {
    background-color: #121212 !important;
	border: 1px solid #262626 !important;
    border-radius: 0px !important;
}

svg._2E_ejdBSC79L4iDC4FAMHY path {
    fill: var(--SystemAccentColor) !important;
}

.LBS7IDpob52Sb4ZoKobh0 ._28MB9LhS2kVTalIp0NHDv4 svg polyline {
    stroke: var(--SystemAccentColor) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .LBS7IDpob52Sb4ZoKobh0:focus {
    outline: 1px solid var(--SystemAccentColor) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .XrYgea66b38RASmbI3PJo._12zBmIktqPpcwJXItTb8f9 {
    color: var(--SystemAccentColor) !important;
}

._2FxbHJzYoH024ko7zqcJOf {
    background: #181818 !important;
    border-radius: 0px !important;
    color: var(--SystemAccentColor) !important;
    text-shadow: none !important;
    transition: .25s ease-out !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .DjSvCZoKKfoNSmarsEcTS:focus {
    outline: 1px solid var(--SystemAccentColor) !important;
    transition: .25s ease-out !important;
}

svg._3v6WnuVNx1rJx0x_1AAyPp path {
    fill: var(--SystemAccentColor) !important;
    transition: .25s ease-out !important;
}

._2Jkgs1ZwjavbwnJy76UgUm:hover svg path {
    fill: var(--SystemAccentColor) !important;
    transition: .25s ease-out !important;
}

body.QsvsRVwbsApgKt1MhM0fz.DesktopUI .VZ6x_grhNkIYJG__jEEyp._1NBr0Hdw3P-7Q6P5UXs96Y.DesktopUI .title-bar-actions.window-controls .title-area-icon.closeButton.windowControlButton {
    transition: .25s ease-out !important;
    border-radius: 0px !important;
    /* border-top-right-radius: 0px !important; */
    border: 1px solid #262626 !important;
    transform: translate(-3px, 4px) !important;
}

body.QsvsRVwbsApgKt1MhM0fz.DesktopUI .VZ6x_grhNkIYJG__jEEyp._1NBr0Hdw3P-7Q6P5UXs96Y.DesktopUI .title-bar-actions.window-controls .title-area-icon.closeButton.windowControlButton:hover {
	background: #f1244669 !important;
    transition: .25s ease-out !important;
    border-radius: 0px !important;
    /* border-top-right-radius: 0px !important; */
    border: 1px solid #f12446 !important;
    transform: translate(-3px, 4px) !important;
}

body.QsvsRVwbsApgKt1MhM0fz.DesktopUI .VZ6x_grhNkIYJG__jEEyp._1NBr0Hdw3P-7Q6P5UXs96Y.DesktopUI .title-bar-actions.window-controls .title-area-icon.closeButton.windowControlButton:active {
    transition: .25s ease-out !important;
    border-radius: 0px !important;
    /* border-top-right-radius: 0px !important; */
    border: 1px solid #f12446; !important;
    transform: translate(-3px, 4px) !important;
	box-shadow: inset 0 0 8px #000000c2 !important;
}

._2YwTwqFtU04JgwfzXSAcSV {
    background: #121212 !important;
}
/* end login */

/* webkit subscribe button */
.general_btn.subscribe {
    background-color: #121212 !important;
    margin-right: 4px !important;
    border-radius: 0px !important;
    border: 1px solid #262626 !important;
	transition: .25s ease-out !important;
}

.general_btn.subscribe:hover {
    background-color: #181818 !important;
    margin-right: 4px !important;
    border-radius: 0px !important;
    border: 1px solid var(--SystemAccentColorAccent) !important;
    color: var(--SystemAccentColorAccent) !important;
    transition: .25s ease-out !important;
    padding: 0px !important;
    padding-left: 28px !important;
    padding-right: 12px !important;
}

.general_btn.subscribe:active {
    box-shadow: inset 0 0 8px #000000c2 !important;
}

.collectionItem .general_btn.subscribe {
    background-image: none !important;
}

.collectionItem .subscriptionControls .general_btn.subscribe:hover {
    padding-right: 4px !important;
}
/* end webkit subscribe button */

/* webkit gamepage */
.amNoDX2pd1HfanrHX9QUo ._2uvK1zucSC4I2mo3PDObGs {
    background-color: rgba(0, 0, 0, .2) !important;
    border-radius: 0px !important;
    border: 1px solid rgba(45, 45, 45, 0.25) !important;
}

.dh9oGaFfS7QEnReR1JGRQ.amNoDX2pd1HfanrHX9QUo ._2uvK1zucSC4I2mo3PDObGs {
    background: transparent !important;
	background-color: rgba(0, 0, 0, .2) !important;
}

.HGCiCZ2mhusHJku7z15Nw {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 0px !important;
    border: 1px solid rgba(45, 45, 45, 0.25) !important;
}

.HGCiCZ2mhusHJku7z15Nw ._1pk8MT_nsrwd0kif6cppyD svg {
    fill: #63e09e !important;
}

.HGCiCZ2mhusHJku7z15Nw ._1pk8MT_nsrwd0kif6cppyD {
    background-color: transparent !important;
}

.HGCiCZ2mhusHJku7z15Nw:hover {
    background-color: #161616 !important;
}

._7-m3PA_FStk99zsZUPYX- ._25ppgVnyq5WaMqUlTkqeug {
    background: transparent !important;
}
/* end webkit gamepage evaluations.*/

/* wishlist temporary fix */
.GSvYfBXmdTE- {
    background: #191919 !important;
	border: 1px solid #262626 !important;
	transition: .25s ease-out !important;
    border-radius: 0px !important;
}

.GSvYfBXmdTE-:hover {
    background: #191919 !important;
	color: var(--SystemAccentColorAccent) !important;
	border: 1px solid var(--SystemAccentColorAccent) !important;
	transition: .25s ease-out !important;
    border-radius: 0px !important;
}

.pVGKjjLk2ZI- button, .pVGKjjLk2ZI- button.sHa1qGKP-tg- {
    transition: .25s ease-out !important;
}

.pVGKjjLk2ZI- button:hover, .pVGKjjLk2ZI- button.sHa1qGKP-tg- {
    background-color: #191919 !important;
    color: var(--SystemAccentColorAccent) !important;
    transition: .25s ease-out !important;
}

.G-xGsXlx-Sw- {
    margin: 55px 0px 25px !important;
}

.c-Pw-ER6JnA- {
    background-color: #121212 !important;
    border: 1px solid #262626 !important;
    border-radius: 0px !important;
    transition: .25s ease-out !important;
}

.c-Pw-ER6JnA-:hover {
    border: 1px solid rgba(var(--SystemAccentColorAccent-RGB),.4) !important;
    transition: .25s ease-out !important;
}

.a3nhjc9lykk- {
    background-color: transparent !important;
}

.TBvO5y7RnvM- button.Yg0IhgBRaUA- {
    color: #5a5a5a !important;
    background: transparent !important;
}

.TBvO5y7RnvM- button.Yg0IhgBRaUA-:hover {
    color: #f12446 !important;
    background: transparent !important;
}

.MAMcEvZCSmY- .xgHCDhZc--A- {
    filter: opacity(0.2) !important;
}

.login_client_waitforauth {
    background: var(--minimal_dark_blacker_alt) !important;
	background: #121212 !important;
}

.pN5wEoB2JRw- .gfg0plUeyMc- {
    color: white !important;
    background-color: var(--SystemAccentColorAccent) !important;
    border-radius: 0px !important;
    border: 1px solid rgba(45, 45, 45, 0.25) !important;
}

.MAMcEvZCSmY- .oSpPXI7jWxI->input {
    transition: .25s ease-out !important;
}

.MAMcEvZCSmY-:hover .oSpPXI7jWxI->input {
    background-color: #121212 !important;
    border: 1px solid #262626 !important;
    box-shadow: 1px 1px #0003 inset;
    color: var(--SystemAccentColorAccent) !important;
    transition: .25s ease-out !important;
}

.c6zN5GAO4n0- {
    transition: .25s ease-out !important;
}

.c6zN5GAO4n0-:hover {
    background: #6464641a;
    color: var(--SystemAccentColorAccent) !important;
    border: 1px solid var(--SystemAccentColorAccent) !important;
    transition: .25s ease-out !important;
}

.c6zN5GAO4n0-.mRdKvoCniv8- {
    background-color: transparent !important;
}

.c6zN5GAO4n0-:hover {
    background: #191919 !important;
}

.cWLPuFe-zxc-.Kech-xMfQ8o- {
    color: orange !important;
}

.cWLPuFe-zxc-.MbdBgOhlg7c- {
    color: #21d083 !important;
}

.YP7EaAGJ5w8- img.TqDNCK5Qf7I- {
    border-radius: 0px !important;
    border: 1px solid #262626 !important;
}

.ausV0RShSvA- {
    visibility: hidden !important;
}
/* end wishlist temporary fix */

.KahBO3vHzFejyThpZEiB {
    background-color: #191919 !important;
    color: #acb2b8 !important;
    border: 1px solid #262626 !important;
    border-radius: 0px !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n {
    border-radius: 0px !important;
    color: white !important;
    transition: .25s ease-out !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n:hover {
    border-radius: 0px !important;
    color: var(--SystemAccentColorAccent) !important;
    transition: .25s ease-out !important;
}

._22edD6e1Rd44stPirbVhB2 ._1pk8MT_nsrwd0kif6cppyD svg {
    fill: white !important;
    transition: .25s ease-out !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n:hover ._1pk8MT_nsrwd0kif6cppyD svg {
    fill: var(--SystemAccentColorAccent) !important;
    transition: .25s ease-out !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n:nth-of-type(1):hover {
    color: var(--SystemAccentColorAccent) !important;
    transition: .25s ease-out !important;
	border: 1px solid var(--SystemAccentColorAccent) !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n:nth-of-type(1):hover ._1pk8MT_nsrwd0kif6cppyD._1yQUzR4jghsMyIgpY_Ay7f svg {
    fill: var(--SystemAccentColorAccent) !important;
    transition: .25s ease-out !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n:nth-of-type(2):hover {
    color: var(--minimal_dark_red2) !important;
    transition: .25s ease-out !important;
	border: 1px solid var(--minimal_dark_red2) !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n:nth-of-type(2):hover ._1pk8MT_nsrwd0kif6cppyD._1yQUzR4jghsMyIgpY_Ay7f svg {
    fill: var(--minimal_dark_red2) !important;
    transition: .25s ease-out !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n:nth-of-type(3):hover {
    color: var(--minimal_dark_browser_overlay_close) !important;
    transition: .25s ease-out !important;
    border: 1px solid var(--minimal_dark_browser_overlay_close) !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n:nth-of-type(3):hover ._1pk8MT_nsrwd0kif6cppyD._1yQUzR4jghsMyIgpY_Ay7f svg {
    fill: var(--minimal_dark_browser_overlay_close) !important;
    transition: .25s ease-out !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n:nth-of-type(4):hover {
    color: #ffa700 !important;
    transition: .25s ease-out !important;
    border: 1px solid #ffa700 !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n:nth-of-type(4):hover svg.tZsBoG2WBEWtqx3xZ4MIB path {
    fill: #ffa700 !important;
    transition: .25s ease-out !important;
}

._22edD6e1Rd44stPirbVhB2 ._131dBxXvyV0SDKXTx9Ad0n .tZsBoG2WBEWtqx3xZ4MIB {
    color: white !important;
    transition: .25s ease-out !important;
}

._3kYaVBYTs2J13FnFOmJqgK .gIkMYMHi6hVU9kquHJeBV {
    border-radius: 0px !important;
    border: 1px solid var(--minimal_dark_invisiblegrey) !important;
	transition: .25s ease-out !important;
}

._3kYaVBYTs2J13FnFOmJqgK .gIkMYMHi6hVU9kquHJeBV:hover {
    background-color: var(--minimal_dark_blacker) !important;
    border: 1px solid var(--SystemAccentColorAccent) !important;
	transition: .25s ease-out !important;
}

._3JMj6IpnJvygxi7kP4IFhc {
    border-radius: 0px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._3JMj6IpnJvygxi7kP4IFhc .ooZbF4DEoLdU3xkXtVHrW {
    background-color: #1212127d !important;
    backdrop-filter: blur(8px) !important;
}
._3JMj6IpnJvygxi7kP4IFhc ._1N-vafkNzIrJiKAvn5Y-gJ {
    background-color: #1212127d !important;
    backdrop-filter: blur(8px) !important;
}

._3JMj6IpnJvygxi7kP4IFhc .l-zN0Z5luPILUbvMTqkoZ, ._3JMj6IpnJvygxi7kP4IFhc .XF8ZwqK03rP1vbTQUGWE- {
    color: var(--SystemAccentColorAccent) !important;
}

.hIgoBpQW6F1kNF7Bs7Gna ._1PW82leH_VoFuD5ITaDX0Q {
    color: white !important;
	transition: .25s ease-out !important;
}

.hIgoBpQW6F1kNF7Bs7Gna ._1PW82leH_VoFuD5ITaDX0Q:hover {
    color: var(--SystemAccentColorAccent) !important;
	transition: .25s ease-out !important;
}

.hIgoBpQW6F1kNF7Bs7Gna ._1PW82leH_VoFuD5ITaDX0Q svg {
    fill: white !important;
	transition: .25s ease-out !important;
}

.hIgoBpQW6F1kNF7Bs7Gna ._1PW82leH_VoFuD5ITaDX0Q:hover svg path {
    fill: var(--SystemAccentColorAccent) !important;
    transition: .25s ease-out !important;
}

.HGCiCZ2mhusHJku7z15Nw ._1pk8MT_nsrwd0kif6cppyD._1yQUzR4jghsMyIgpY_Ay7f svg {
    fill: #e06363 !important;
    transition: .25s ease-out !important;
}

.HGCiCZ2mhusHJku7z15Nw ._17lxcLR8FnXBii5ZgrKZCf {
    color: var(--SystemAccentColorAccent) !important;
}

.HGCiCZ2mhusHJku7z15Nw ._2s2CbdRTNIrjcu41r05ZO_ {
    color: #dfbb78 !important;
}

._1_sHcxv9rQdANehiviVZR4._2G4b7NcQECHtFR_D28hqQG {
    background: linear-gradient(to bottom, #2b2b2b 5%, #2b2b2b 95%);
    border-radius: 0px !important;
    border: 1px solid var(--minimal_dark_be_grey) !important;
}

._1_sHcxv9rQdANehiviVZR4[data-status-position=border] ._3qaudpkfSKoxlwfA-deQLX {
    border-radius: 0px !important;
}

[data-status-position=border]._2-QtgoeBaZrzBPhoKaud5x ._3pbKzT087jaL2EeQO1qsaR {
    border-radius: 0px !important;
}

.show_all_disclaimer {
    border-radius: 0px !important;
    background: var(--minimal_dark_blacker) !important;
    border: 1px solid var(--minimal_dark_blacker_alt2) !important;
}

.show_all_disclaimer:after {
    border: none !important;
}
