._1OOQPJx0nCNP9ME9toCmV7 {
    border-top: 1px solid var(--minimal_dark_color) !important;
    border-left: 1px solid var(--minimal_dark_color) !important;
    border-right: 1px solid var(--minimal_dark_color) !important;
    border-bottom: 1px solid var(--minimal_dark_color) !important;
}
