._37MAYpIjl0IDA1xVhhsuX8>div:not(._2WEP32t2FdvHSRBiOZug83):not(._24sm_rs0RtItOALHFVIKms):not(._19eb8NMS53lqZR33su0kTr):not(.iJ6kMinIXkRkY49NT2sOx):not(._2SoWN3laHiRo1XbmPyTyPF) {
    backdrop-filter: blur(10px) !important;
    background: rgb(18 18 18 / 40%) !important;
    transition: .25s ease-out !important;
}

._3CJsgSK-y815Zeoe6bz6dh {
    background: rgb(18 18 18 / 40%) !important;
    transition: .25s ease-out !important;
}

._37MAYpIjl0IDA1xVhhsuX8 ._19eb8NMS53lqZR33su0kTr {
    backdrop-filter: blur(10px) brightness(0.65) saturate(0.7) !important;
    background: rgb(18 18 18 / 40%) !important;
    transition: .25s ease-out !important;
}

._2pA5CW91XQQDfo6yZEdPd- ._3yfs7fc5WEv6F9tPG4yq4g {
    width: 680px !important;
    transform: translate(150px, -10px) !important;
}
