.profile_header_content {
    background: var(--minimal-dark-blacker-alt) !important;
}

.profile_customization {
    background: var(--minimal-dark-blacker-alt) !important;
}

.profile_rightcol {
    background: var(--minimal-dark-blacker-alt) !important;
}