.profile_header_content {
    border: 1px solid transparent !important;
}

.profile_customization {
    border: 1px solid transparent !important;
}

.profile_rightcol {
    border: 1px solid transparent !important;
}

.showcase_content_bg {
    border: 1px solid transparent !important;
}

.showcase_content_bg:last-child {
    border: 1px solid transparent !important;
}

.recent_game>.recent_game_content {
    border: 1px solid transparent !important;
}
