.store_bg_overlay {
  display: none;
}

.fullscreen-bg {
  display: none;
}

.home_page_takeover_link img {
  display: none;
}

body:not(.no_home_gutter) .home_page_body_ctn .page_background_holder {
  display: none;
}

.home_page_takeover_link {
  display: none;
}

.menu_takeover_background {
  display: none;
}

.home_page_body_ctn.has_takeover .page_background_holder {
  background-image: none;
}