.In8c5bkG5eM- {
    display: none !important;
}

.AlTDVvmjvUU- {
    display: none !important;
}

.jfAmlCmNzHQ- {
    margin: 70px 0 25px !important;
}

._5de1w948geo- {
    justify-content: flex-end !important;
}

.B6Smo5P5blM- {
    max-width: 220px !important;
    max-width: 220px !important;
}

div#StoreTemplate .Tz2vUyr7bng-._238VL7NqEqk- .sfBlGJThi-w- {
	display: flex !important;
}

.qxuaSNtrNvE- .v2uRRqcZpzM- {
    width: calc(var(--store-menu-content-width) + -444px) !important;
}
