.In8c5bkG5eM- {
  display: none;
}

.AlTDVvmjvUU- {
  display: none;
}

.jfAmlCmNzHQ- {
  margin: 70px 0 25px;
}

._5de1w948geo- {
  justify-content: flex-end;
}

.B6Smo5P5blM- {
  max-width: 220px;
  max-width: 220px;
}

div#StoreTemplate .Tz2vUyr7bng-._238VL7NqEqk- .sfBlGJThi-w- {
  display: flex;
}

.qxuaSNtrNvE- .v2uRRqcZpzM- {
  width: calc(var(--store-menu-content-width) + -444px);
}