._16jZ3HEbtaJTl80pQINN2Y ._7FiqKP7fZJGltkwRxPG6s {
  width: calc(708px - 0%);
}

.vj9hwW9u0MpjH7MVjjNw0 {
  font-size: 0px;
  height: 46px;
  width: 19px;
  -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAaElEQVR4nO3WQQqAMAxE0X880/uvLRTvUfECKqIY2v9g9plFYECSpPcUoAI9eSoQZ0VagiP7zWxTFAlgTXBkv8hx4/L0fyRJkn5SnPHkWr9tlCLhjJckSfpMccaTa/22UYqEM16SNKMd8xQCsa44l2YAAAAASUVORK5CYII=");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  background-color: white;
  transform: translate(9px, 0px);
}

.vj9hwW9u0MpjH7MVjjNw0:hover {
  font-size: 0px;
  height: 25px;
  width: 19px;
  -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAaElEQVR4nO3WQQqAMAxE0X880/uvLRTvUfECKqIY2v9g9plFYECSpPcUoAI9eSoQZ0VagiP7zWxTFAlgTXBkv8hx4/L0fyRJkn5SnPHkWr9tlCLhjJckSfpMccaTa/22UYqEM16SNKMd8xQCsa44l2YAAAAASUVORK5CYII=");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  background-color: var(--minimal-dark-color1);
}

button._175B12uOwmeGBNcSaQFe-Z svg path {
  display: none;
}

button._175B12uOwmeGBNcSaQFe-Z:hover .vj9hwW9u0MpjH7MVjjNw0 {
  background-color: var(--minimal-dark-color1);
}

._175B12uOwmeGBNcSaQFe-Z._3wlHWKFbgRAZPFtWEr65YT._2IyR9WyPwYb15ILBjPvLR9._3qY2sJFFtNsrx_rBDIT7l1.Focusable .vj9hwW9u0MpjH7MVjjNw0 {
  background-color: var(--minimal-dark-color1);
}

._16jZ3HEbtaJTl80pQINN2Y ._7FiqKP7fZJGltkwRxPG6s {
  height: 36px;
}