._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k.Focusable {
    border-left: 1px solid var(--minimal_dark_color) !important;
    background: linear-gradient(90deg, rgba(var(--SystemAccentColor-RGB), 12%) 0%, rgba(30, 30, 30, 1) 50%, rgba(255, 255, 255, 0) 100%) !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k {
    color: var(--minimal_dark_color) !important;
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 ._3uk3F1BmAJQR6rl1TPcaif {
    color: var(--minimal_dark_color) !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k.Focusable:hover {
    border-left: 4px solid var(--minimal_dark_color) !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._1LVQp3h_vGOZ8TuDUEge0k, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k {
    color: var(--minimal_dark_color) !important;
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 svg:not(.SVGIcon_FriendIcon) circle:not(.SVGIcon_ProgressCircle &) {
    fill: rgba(var(--SystemAccentColor-RGB), 24%) !important;
}

._2kzMb_F7UTOEdecAFftN-l svg.f6-7-5CWFxNqF2BycKWlb.f6-7-5CWFxNqF2BycKWlb.f6-7-5CWFxNqF2BycKWlb circle {
    stroke: var(--minimal_dark_color) !important;
}

._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k._1UBpAXP408Ez_L_mXhW5Q9._1VBNpnuk5eWT3VSCWNH57k.Focusable {
    background: transparent !important;
}
